<page-header></page-header>
<div class="content_juniu">
    <div>
        <span class="add-print-btn" (click)="onAddPrintClick('', printBox)">新增打印机</span>
        <span class="print-produce">口碑打印机可以在核销时打印商品核销小票。购买打印机请戳 <a href="https://www.10ss.net/k4.html" target="_blank">https://www.10ss.net/k4.html</a></span>
    </div>
    <div class="content-title"><span class="left-line"></span>现有打印机</div>

    <nz-table [nzNoResult]="'没有数据'" #nzTable [nzData]="printList" [nzPageSize]="10" [nzShowPagination]="false">
        <thead>
        <tr>
            <th *ngFor="let item of theadName"><span>{{item}}</span></th>
        </tr>
        </thead>
        <tbody class="tbody">
        <tr *ngFor="let print of printList; let i = index">
            <td>{{print.yunDeviceId}}</td>
            <td>{{print.deviceName}}</td>
            <td>{{print.yunDeviceKey}}</td>
            <td><span *ngFor="let store of stores"><span *ngIf="print.storeId === store.storeId">{{store.storeName}}</span></span></td>
            <td><span (click)="onAddPrintClick(print.printerDeviceId, printBox)">编辑</span> | <span (click)="onDeleteBtnClick(print.printerDeviceId)">删除</span></td>
        </tr>
        </tbody>
    </nz-table>
</div>

<!--新增、编辑 打印机弹框-->
<ng-template #printBox>
    <p class="print-tip-p">
        <span class="print-tip">您<a target="_blank" href="https://www.10ss.net/k4.html">购买打印机</a>并<a target="_blank" href="https://yilianyun.10ss.net/user/signup">创建易联云账号</a>之后，可以<a target="_blank" href="https://yilianyun.10ss.net/user/login">登录易联云后台</a>获取打印机信息</span>
    </p>
    <form nz-form [formGroup]="form" (ngSubmit)="submit()">
        <nz-form-item>
            <nz-form-label nzXs="24" nzSm="5" nzRequired nzFor="yun_username">用户名</nz-form-label>
            <nz-form-control nzXs="24" nzSm="17" nzMd="17">
                <input nz-input formControlName="yun_username" placeholder="请输入用户名">
                <nz-form-explain class="error-color" *ngIf="yun_username.dirty && yun_username.errors">用户名不能为空</nz-form-explain>
                <nz-form-explain style="color: rgba(0, 0, 0, 0.65);">您可以登录易联云后台，点击左上角“系统集成”获取此信息</nz-form-explain>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzXs="24" nzSm="5" nzRequired nzFor="yun_user_id">用户ID</nz-form-label>
            <nz-form-control nzXs="24" nzSm="17" nzMd="17">
                <input nz-input formControlName="yun_user_id" placeholder="请输入用户ID">
                <nz-form-explain class="error-color" *ngIf="yun_user_id.dirty && yun_user_id.errors">用户ID不能为空</nz-form-explain>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzXs="24" nzSm="5" nzRequired nzFor="yun_api_key">API秘钥</nz-form-label>
            <nz-form-control nzXs="24" nzSm="17" nzMd="17">
                <input nz-input formControlName="yun_api_key" placeholder="请输入API秘钥">
                <nz-form-explain class="error-color" *ngIf="yun_api_key.dirty && yun_api_key.errors">API密钥不能为空</nz-form-explain>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzXs="24" nzSm="5" nzRequired nzFor="device_name">终端名称</nz-form-label>
            <nz-form-control nzXs="24" nzSm="17" nzMd="17">
                <input nz-input formControlName="device_name" placeholder="请输入终端名称">
                <nz-form-explain class="error-color" *ngIf="device_name.dirty && device_name.errors">终端名称不能为空</nz-form-explain>
                <nz-form-explain style="color: rgba(0, 0, 0, 0.65);">您可以在易联云后台-打印终端-控制台中获取此信息</nz-form-explain>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzXs="24" nzSm="5" nzRequired nzFor="yun_device_id">终端编号</nz-form-label>
            <nz-form-control nzXs="24" nzSm="17" nzMd="17">
                <input nz-input formControlName="yun_device_id" placeholder="请输入终端编号">
                <nz-form-explain class="error-color" *ngIf="yun_device_id.dirty && yun_device_id.errors">终端编号不能为空</nz-form-explain>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzXs="24" nzSm="5" nzRequired nzFor="yun_device_key">终端密钥</nz-form-label>
            <nz-form-control nzXs="24" nzSm="17" nzMd="17">
                <input nz-input formControlName="yun_device_key" placeholder="请输入终端秘钥">
                <nz-form-explain class="error-color" *ngIf="yun_device_key.dirty && yun_device_key.errors">终端秘钥不能为空</nz-form-explain>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzXs="24" nzSm="5" nzFor="yun_device_sim_no">SIM卡号</nz-form-label>
            <nz-form-control nzXs="24" nzSm="17" nzMd="17">
                <input nz-input formControlName="yun_device_sim_no" placeholder="请输入SIM卡号，Wi-Fi版本可不填">
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzXs="24" nzSm="5" nzRequired nzFor="selected_store">选择门店</nz-form-label>
            <nz-form-control nzXs="24" nzSm="17" nzMd="17">
                <nz-select formControlName="selected_store" nzPlaceHolder="请选择一个门店" [nzShowSearch]="true">
                    <nz-option *ngFor="let store of stores" [nzLabel]="store.branchName" [nzValue]="store.storeId"></nz-option>
                </nz-select>
                <!-- <jn-stores-infor [nzXs]="7" [moduleId]="moduleId" [ifStoresAll]="ifStoresAll" [ifStoresAuth]="ifStoresAuth" (storeListPush)="storeListPush($event)"
      (storeIdOutput)="getStoreId($event)"></jn-stores-infor> -->
                <nz-form-explain class="error-color" *ngIf="selected_store.dirty && selected_store.errors">请选择门店</nz-form-explain>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 5 }">
                <button nz-button nzType="primary" type="submit" [nzLoading]="submitting">提交</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</ng-template>
