@import 'node_modules/@delon/theme/styles/default';
@primary-color:#ff7700;
.main_wrap {
    font-family: PingFangSC-Regular;
    position: absolute;
    top: 56px;
    right: 0;
    bottom: 0;
    left: 260px;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1;
}

.print-title {
    height: 40px;
}

.print-title span {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    line-height: 40px;
    color: #1A1A1A;
}

.print-title span:last-of-type {
    color: @primary-color;
}

.content_juniu {
    background-color: #fff;
    padding: 30px 20px;
}

.content_juniu .add-print-btn {
    display: inline-block;
    background-color: @primary-color;
    border-radius: 4px;
    width: 100px;
    height: 30px;
    font-family: 'PingFangSC-Regular';
    font-size: 14px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    font-weight: bolder;
}

.print-produce {
    font-size: 13px;
    padding-left: 10px;
    color: #666;
}

.content-title {
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #333;
    height: 58px;
    line-height: 58px;
}

.content-title .left-line {
    display: inline-block;
    width: 4px;
    height: 16px;
    background-color: @primary-color;
    margin-right: 10px;
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
}

th {
    text-align: center !important;
}

.tbody {
    text-align: center !important;
}

.content_juniu tr td:last-child span {
    cursor: pointer;
    padding: 0 8px;
    color: @primary-color;
}


/*弹框*/
.print-tip-p {
    margin-bottom: 25px;
    margin-top: -10px
}

.print-tip {
    font-size: 13px;
    color: #999;
    padding-left: 10px;
}

.print-tip a {
    color: #108ee2;
}

.alert-order-msg li {
    margin-bottom: 20px;
    font-size: 13px;
    color: #666;
}

.alert-order-msg li span:first-child {
    display: inline-block;
    width: 100px;
    text-align: right;
    padding-right: 8px;
}

.alert-order-msg li input {
    width: 300px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    outline: none;
    padding-left: 6px;
}

.alert-order-msg li select {
    width: 300px;
    border: 1px solid #E5E5E5;
    height: 28px;
    background-color: #fff;
    outline: none;
}

.print-input-tip {
    padding-left: 100px;
    padding-top: 4px;
    font-size: 12px;
    color: #999;
}

.alert-btn-box {
    margin: 5px auto;
    display: flex;
    justify-content: center;
}

.alert-btn-box button {
    width: 110px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    margin: 0 20px;
    border-radius: 4px;
    font-size: 14px;
    background: @primary-color;
    color: #fff;
}

.alert-cancel {
    background-color: #cccccc;
}
