<div class="ad-page-header" style="margin: 0 -24px; border-bottom:none !important;">
    <page-header [title]="'云打印机'">
        实现系统打印小票功能。云打印机具有免安装、即插即用的优点，只要联网就可以使用。可以打印日常收银小票和口碑核销小票。 了解打印机详情，请点击
        <a target="_blank" href="https://www.yilianyun.net/k4.html">https://www.yilianyun.net/k4.html</a>
    </page-header>
</div>
<div class="storeMain">
    <div class="buttonBox">
        <button class="buttons" nz-button (click)="onAddPrintClick(modalContent)">新增打印机</button>
    </div>
    <nz-table #basicTable [nzShowPagination]="false" [nzData]="printList">
        <thead>
            <tr>
                <th>终端编号</th>
                <th>终端名称</th>
                <th>终端秘钥</th>
                <th>所属门店</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let print of printList; let i = index">
                <td>{{print.yunDeviceId}}</td>
                <td>{{print.deviceName}}</td>
                <td>{{print.yunDeviceKey}}</td>
                <td>
                    <span *ngFor="let store of stores">
                        <span *ngIf="print.storeId === store.storeId">{{store.storeName}}</span>
                    </span>
                </td>
                <td>
                    <span class="button" (click)="onAddPrintClick(modalContent,print.printerDeviceId)">编辑</span>
                    <nz-divider nzType="vertical"></nz-divider>
                    <span class="button" (click)="onDeleteBtnClick(print.printerDeviceId)">删除</span>
                </td>
            </tr>
        </tbody>
    </nz-table>
    <!-- <div class="nzPaginationBox">
        <nz-pagination class="nzPagination" [nzTotal]="Total" [nzPageSize]="10" (nzPageIndexChange)="getData($event)"></nz-pagination>
    </div> -->
</div>

<ng-template #modalContent>
    <ul class="alert-order-msg">
        <div class="content-title">
            <span class="left-line"></span>
            <span>新增打印机</span>
            <span class="print-tip">您
                <a target="_blank" href="https://www.10ss.net/k4.html">购买打印机</a>并
                <a target="_blank" href="https://yilianyun.10ss.net/user/signup">创建易联云账号</a>之后，可以
                <a target="_blank" href="https://yilianyun.10ss.net/user/login">登录易联云后台</a>获取打印机信息</span>
        </div>
        <li>
            <span>用户名</span>
            <input [(ngModel)]="yunUsername" placeholder="请输入用户名">
            <p class="print-input-tip">您可以登录易联云后台，点击左上角“系统集成”获取此信息</p>
        </li>
        <li>
            <span>用户ID</span>
            <input [(ngModel)]="yunUserId" placeholder="请输入用户ID">
        </li>
        <li>
            <span>API秘钥</span>
            <input [(ngModel)]="yunApiKey" placeholder="请输入API秘钥">
        </li>

        <li>
            <span>终端名称</span>
            <input [(ngModel)]="deviceName" placeholder="请输入终端名称">
            <p class="print-input-tip">您可以在易联云后台-打印终端-控制台中获取此信息</p>
        </li>
        <li>
            <span>终端编号</span>
            <input [(ngModel)]="yunDeviceId" placeholder="请输入终端编号">
        </li>
        <li>
            <span>终端密钥</span>
            <input [(ngModel)]="yunDeviceKey" placeholder="请输入终端秘钥">
        </li>
        <li>
            <span>SIM卡号</span>
            <input [(ngModel)]="yunDeviceSimNo" placeholder="请输入SIM卡号，Wi-Fi版本可不填">
        </li>

        <li>
            <span>选择门店</span>
            <!--<select (change)="onStoresChange($event)">-->
            <!--<option [value]="''">请选择一个门店</option>-->
            <!--<option *ngFor="let store of stores" [selected]="store.storeId == storeId" [value]="store.storeId">{{store.storeName}}</option>-->
            <!--</select>-->

            <nz-select style="width: 300px;" [(ngModel)]="selectedOption" (ngModelChange)="onStoresChange($event)" [nzShowSearch]="true">
                <nz-option [nzLabel]="'请选择一个门店'" [nzValue]="''"></nz-option>
                <nz-option *ngFor="let store of stores" [nzLabel]="store.storeName" [nzValue]="store.storeId"></nz-option>
            </nz-select>

        </li>
    </ul>
</ng-template>