<div class="content__title ad-ph">
  <h1 class="title ng-star-inserted">创建门店</h1>
  <div class="desc" style="color: rgba(0, 0, 0, 0.85);margin-left: 0px;">要想管理一个门店，首先要创建这个门店。</div>
</div>
<nz-card [nzBordered]="false">
  <form nz-form [formGroup]="form" (ngSubmit)="submit()">
    <nz-form-item>
      <nz-form-label nzXs="24" nzSm="7">商家名称</nz-form-label>
      <nz-form-control nzXs="24" nzSm="12" nzMd="10">
        <!-- <input nz-input formControlName="name" value="'审美'" id="name" placeholder="请输入商家名称"> -->
        <span>{{merchantName}}</span>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzXs="24" nzSm="7" nzFor="storeName">门店名称</nz-form-label>
      <nz-form-control nzXs="24" nzSm="12" nzMd="10">
        <input nz-input formControlName="storeName" id="storeName" maxlength="20" placeholder="请输入门店名称">
        <!-- <nz-form-explain *ngIf="form.get('title').dirty && form.get('title').errors">请输入门店名称</nz-form-explain> -->
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzXs="24" nzSm="7" nzFor="address">门店地址</nz-form-label>
      <nz-form-control nzXs="24" nzSm="12" nzMd="10">
        <nz-cascader [nzOptions]="cityArr" [(ngModel)]="values" maxlength="20" [nzPlaceHolder]="'请选择门店地址'" formControlName="address"
          id="address" (ngModelChange)="onChanges($event)">
        </nz-cascader>
      </nz-form-control>
    </nz-form-item>


  </form>
</nz-card>

<nz-form-item style="background:#fff;margin-bottom:0px !important;">
  <nz-form-label nzXs="24" nzSm="7">地图选点</nz-form-label>
  <nz-form-control nzXs="24" nzSm="12" nzMd="10">
    <div id="container" class="map" tabindex="0">
      <div id="pickerBox">
        <input id="pickerInput" placeholder="输入关键字选取地点" />
        <div id="poiInfo"></div>
      </div>
    </div>
    <p style="color:red;">该地图位置会显示在小程序门店中，请仔细选择</p>
  </nz-form-control>
</nz-form-item>
<nz-form-item style="background:#fff;margin-bottom:0 !important;padding-top:10px;">
  <nz-form-label nzXs="24" nzSm="7" nzFor="Alladdress">详细地址</nz-form-label>
  <nz-form-control nzXs="24" nzSm="12" nzMd="10">
    <input nz-input  maxlength="20" [(ngModel)]="xxaddress" type="text" placeholder="输入详细地址" />
  </nz-form-control>
</nz-form-item>
<nz-form-item style="background:#fff;">
  <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 7 }">
    <button nz-button nzType="primary" type="submit" (click)="submit()" [nzLoading]="submitting">提交</button>
  </nz-form-control>
</nz-form-item>
<!-- <div id="mapContainer">
  <div id="tip">
    <input type="text" id="keyword" name="keyword" value="请输入关键字：(选定后搜索)" onfocus='this.value=""' />
  </div>
</div> -->