<page-header>
    <button nz-button (click)="addstaff()" [nzType]="'primary'" class="fl">
        <span>新增员工</span>
    </button>
</page-header>
<nz-card [nzBordered]="false">
    <form nz-form [nzLayout]="'inline'" (ngSubmit)="getData()" class="search__form" style="margin-bottom: 0">
        <nz-row [nzGutter]="{ md: 8, lg: 24, xl: 48 }">
            <nz-col nzMd="8" nzSm="24">
              <jn-stores-infor [moduleId]="moduleId" [ifStoresAll]="ifStoresAll" [ifStoresAuth]="ifStoresAuth"
                               (storeListPush)="storeListPush($event)" (storeIdOutput)="getStoreId($event)"></jn-stores-infor>
            </nz-col>
            <nz-col nzMd="8" nzSm="24">
                <nz-form-item>
                    <nz-form-label nzFor="staffName">员工姓名</nz-form-label>
                    <nz-form-control>
                        <input nz-input [(ngModel)]="staffName" name="staffName" placeholder="请输入员工姓名" id="staffName">
                    </nz-form-control>
                </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="8">
                <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">查询</button>
            </nz-col>
        </nz-row>
    </form>

    <nz-table #basicTable [nzShowPagination]="false" [nzData]="staffListInfos">
        <thead nz-thead class="ui-grid-thead">
            <tr>
                <th nz-th class="" *ngFor="let item of TheadName;let i = index">{{item}}</th>
            </tr>
        </thead>
        <tbody nz-tbody class="ui-grid-tbody">
            <tr nz-tbody-tr *ngFor="let item of staffListInfos;let j = index">
                <td>{{item.staffId}}</td>
                <td>{{item.staffName}}</td>
                <td>{{item.roleName}}</td>
                <td>{{item.storeName}}</td>
                <td>{{item.contactPhone}}</td>
                <td class="push-notification-operation">
                   <p *ngIf="item.belongType === 'STORE'">
                       <span (click)="WeChatpush(item.staffId)" class="iconfont icon-weixin" [class.isbind]="item.hasWechat"></span>
                       <span (click)="smsNotice(item.staffId)" class="iconfont icon-duanxin" [class.isbind]="item.hasSms"></span>
                   </p>
                </td>
                <td class="operation">
                    <span style="color: #1890ff" (click)="editStaffInfor(item.staffId)">编辑</span>
                    <span style="color: #FF6600;margin-left: 10px" (click)="deleteStaffInfor(item.staffId)">删除</span>
                </td>
            </tr>
        </tbody>
    </nz-table>
    <div class="nzPaginationBox clearfix">
        <nz-pagination style="padding: 20px 0;" class="nzPagination fr" [nzTotal]="countTotal" [nzPageSize]="10" (nzPageIndexChange)="paginate($event)"></nz-pagination>
    </div>
</nz-card>
