

  <nz-card  style="overflow:hidden" [nzBordered]="false" [nzBodyStyle]="{'height':'100%','overflow': 'hidden','margin':'30px','background':'#fff'}">
    <nz-list [nzLoading]="loading" [nzDataSource]="dataList" [nzRenderItem]="item" [nzGrid]="{gutter: 24, lg:8, md: 12, sm: 24, xs: 24 }">
        <ng-template #item let-item>
          <nz-list-item>
            <nz-card nzHoverable  style="width:100%;position: relative;padding:0" [nzBodyStyle]="{'padding':'0px'}" [nzActions]="item.usedStoreCount&&item.usedStoreCount>0?[op1,op2]:[op1]">
              <ng-template #op1>
                <div (click)="shiyong(item)">立即购买</div>
              </ng-template>
              <ng-template #op2>
                <div (click)="faqikanjia()">发起砍价</div>
              </ng-template>
              <nz-card-meta [nzAvatar]="nzAvatar" [nzTitle]="nzTitle" [nzDescription]="nzDescription" >

          
                <ng-template #nzDescription>
                  <div class="kanjianBanner">
                    <div class="kanjiaz"></div>
                    <div class="kanjiaBar"  >
                        <div *ngIf="item.usedStoreCount&&item.usedStoreCount>0">付费门店：{{item.usedStoreCount}}家</div>
                        <div class="btn" (click)="goumaiFun(goumaiAlert,item.packageId)">购买记录</div>
                      </div>
                  </div>
            
                  <div class="main main2" style="margin-top: 20px;">
                    <div class="l">{{item.packageName}}</div>
                    <div class="r">{{item.price/100}}元 /店／年</div>
                  </div>
                  <div class="main" style="margin-bottom: 20px;">
                      {{item.descriptions[0]}}
                  </div>
                </ng-template>
              </nz-card-meta>
            </nz-card>
          </nz-list-item>
        </ng-template>
      </nz-list>

</nz-card>

<ng-template #goumaiAlert>
  <nz-table [nzNoResult]="'没有数据'" [nzShowPagination]="false" [nzData]="goumaiArr">
    <thead>
      <tr>
        <th>购买时间</th>
        <th>购买门店</th>
        <th>金额</th>
        <th>有效期</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of goumaiArr;let ind = index;">
        <td>{{item.paymentTime}}</td>
        <td>{{item.storeName}}</td>
        <td>{{item.amount/100}}</td>
        <td>365</td>
      </tr>
    </tbody>
  </nz-table>

</ng-template>