<page-header></page-header>
<div class="cardholdersVip-top">
    <form nz-form [nzLayout]="'inline'" (ngSubmit)="getData()" class="search__form">
        <nz-row [nzGutter]="{ md: 8, lg: 24, xl: 48 }">
            <nz-col nzMd="8" nzSm="24" style="overflow: hidden;height: 56.5px;">
                <nz-form-item >
                    <jn-stores-infor [className]="'class1'" [className2]="'class2'" [moduleId]="moduleId" (storeIdOutput)="selectStoreInfo($event.storeId)"></jn-stores-infor>
                </nz-form-item>
            </nz-col>
            <nz-col nzMd="8" nzSm="24">
                <nz-form-item>
                    <nz-form-label nzFor="phone">会员姓名／手机号</nz-form-label>
                    <nz-form-control>
                        <input nz-input [(ngModel)]="q.phone" name="phone" placeholder="请输入会员姓名或手机号" id="phone">
                    </nz-form-control>
                </nz-form-item>
            </nz-col>
            <nz-col nzMd="8" nzSm="24">
                <nz-form-item style="height: 56.5px;">
                    <nz-form-label nzFor="status">性别</nz-form-label>
                    <nz-form-control>
                        <nz-select [(ngModel)]="q.status" name="status" id="status" [nzPlaceHolder]="'请选择'" [nzShowSearch]="true">
                            <nz-option *ngFor="let i of status; let idx = index" [nzLabel]="i.text" [nzValue]="i.index"></nz-option>
                        </nz-select>
                        <!-- <jn-stores-infor [nzXs]="7" [moduleId]="moduleId" [ifStoresAll]="ifStoresAll" [ifStoresAuth]="ifStoresAuth" (storeListPush)="storeListPush($event)"
      (storeIdOutput)="getStoreId($event)"></jn-stores-infor> -->
                    </nz-form-control>
                </nz-form-item>
            </nz-col>


            <nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
                <nz-form-item style="height: 56.5px;"> 
                    <nz-form-label nzFor="dateRange1">会员创建日期</nz-form-label>
                    <nz-form-control>
                        <nz-range-picker [(ngModel)]="q.dateRange1" nzDropdownClassName="right320" name="dateRange1" id="dateRange1"></nz-range-picker>
                    </nz-form-control>
                </nz-form-item>
            </nz-col>
            <nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
                <nz-form-item style="height: 56.5px;">
                    <nz-form-label nzFor="dateRange2">最近一次消费日期</nz-form-label>
                    <nz-form-control>
                        <nz-range-picker [(ngModel)]="q.dateRange2" name="dateRange2" id="dateRange2"></nz-range-picker>
                    </nz-form-control>
                </nz-form-item>
            </nz-col>
            <nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
                <nz-form-item style="height: 56.5px;">
                    <nz-form-label nzFor="money">累计消费金额(元)</nz-form-label>
                    <nz-form-control>
                        <nz-select [(ngModel)]="q.money" name="money" id="money" [nzPlaceHolder]="'请选择'" [nzShowSearch]="true">
                            <nz-option *ngFor="let i of moneyArr; let idx = index" [nzLabel]="i.money" [nzValue]="i.from"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </nz-col>
            <nz-col [nzSpan]="expandForm ? 24 : 8" [class.text-right]="expandForm">
                <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">查询</button>
                <button nz-button type="reset" (click)="getData()" class="mx-sm">重置</button>
                <a (click)="expandForm=!expandForm">
                    {{expandForm ? '收起' : '展开'}}
                    <i class="anticon" [class.anticon-down]="!expandForm" [class.anticon-up]="expandForm"></i>
                </a>
            </nz-col>
        </nz-row>
    </form>
    <nz-table [nzNoResult]="'没有数据'" #basicTable [nzShowPagination]="false" [nzData]="data">
        <thead>
            <tr>
                <th>会员编号</th>
                <th>创建日期</th>
                <th>会员姓名</th>
                <th>性别</th>
                <th>手机号</th>
                <th>会员来源</th>
                <th>累计消费金额(元)</th>
                <th>持卡张数</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <td>{{item.customerId}}</td>
                <td>{{item.dateCreated}}</td>
                <td>{{item.customerName}}</td>
                <td>{{item.genderName}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.customerSourceName}}</td>
                <td>{{item.allMoney/100}}</td>
                <td (click)="vipCardFun(vipCard,item.customerId)" class="icon-xiala iconfont">{{item.cardCount ||0}}</td>
                <td>
                    <span class="button" (click)="add(modalContent,item.phone,item.customerId)">消费记录</span>
                    <nz-divider nzType="vertical"></nz-divider>
                    <span class="button" (click)="bianji(modalContent2,item.customerId,item.phone,item.storeId)">编辑</span>
                </td>

            </tr>
        </tbody>
    </nz-table>
    <!-- <simple-table #st [columns]="columns" [data]="data" [loading]="loading" (checkboxChange)="checkboxChange($event)" (filterChange)="customerlistHttp()">
        <ng-template>
            <ng-template st-row="status" let-i>
                <nz-badge [nzStatus]="i.statusType" [nzText]="i.statusText"></nz-badge>
            </ng-template>
        </ng-template>
    </simple-table> -->
    <div class="nzPaginationBox">
        <nz-pagination class="nzPagination" [nzTotal]="Total" [nzPageSize]="10" (nzPageIndexChange)="getData($event)"></nz-pagination>
    </div>
</div>
<ng-template #modalContent>
    <!-- <nz-form-item> -->
    <nz-table [nzNoResult]="'没有数据'" #basicTable [nzShowPagination]="false" [nzData]="data">
        <thead>
            <tr>
                <th>消费日期</th>
                <th>消费项目</th>
                <th>支付方式</th>
                <th>服务技师</th>
                <th>收款金额</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data2">
                <td>{{item.juniuoModel.dateCreated}}</td>
                <td>{{item.bizTypeName}}</td>
                <td>{{item.payTypeName}}</td>
                <td>{{item.genderName}}</td>
                <td>{{item.money / 100}}</td>
            </tr>
        </tbody>

    </nz-table>
    <div class="nzPaginationBox">
        <nz-pagination class="nzPagination" [nzTotal]="Total2" [nzPageSize]="10" (nzPageIndexChange)="getData2($event)"></nz-pagination>
    </div>
    <!-- </nz-form-item> -->
</ng-template>
<ng-template #modalContent2>
    <div class="addStaffBox-main">
        <div>
            <div class="addStaffBox-main-left icon-asterisks-1-copy iconfont">会员手机号</div>
            <div class="addStaffBox-main-right">
                <!-- <input class="nameinput" [(ngModel)]="customer_phone" id="staffName" type="number" maxlength="11" placeholder="请输入会员手机号"> -->
                <nz-input-number [(ngModel)]="customer_phone" [nzMin]="0" [nzMax]="19999999999" style="width:153px;" placeholder="请输入会员手机号"
                    [nzStep]="1"></nz-input-number>
                <!-- <input nz-input placeholder="请输入会员手机号" [(ngModel)]="customer_phone"> -->
            </div>
        </div>
        <div>
            <div class="addStaffBox-main-left icon-asterisks-1-copy iconfont">会员姓名</div>
            <div class="addStaffBox-main-right">
                <input nz-input placeholder="请输入会员姓名" style="width:153px;" maxlength="10" [(ngModel)]="customer_name">
                <!-- <input class="nameinput" id="staffName" [(ngModel)]="customer_name" type="text" placeholder="请输入会员姓名"> -->
            </div>
        </div>
        <div>
            <div class="addStaffBox-main-left icon-asterisks-1-copy iconfont">性别</div>
            <div class="addStaffBox-main-right">
                <nz-radio-group [(ngModel)]="gender">
                    <label nz-radio [nzValue]="1">
                        <span>男</span>
                    </label>
                    <label nz-radio [nzValue]="0">
                        <span>女</span>
                    </label>
                </nz-radio-group>
            </div>
        </div>
        <div>
            <div class="addStaffBox-main-left icon-asterisks-1-copy iconfont">生日</div>
            <div class="addStaffBox-main-right">
                <nz-date-picker [(ngModel)]="_date" (ngModelChange)="onChange($event)"></nz-date-picker>
                <!-- <nz-datepicker [(ngModel)]="_date" [nzPlaceHolder]="'Select date'" [nzFormat]="'YYYY/MM/DD'"></nz-datepicker> -->
            </div>
        </div>
        <!-- *ngIf="faceObj.length>0 ||headUrl" -->
        <div *ngIf="faceObj.length>0 ||headUrl">
            <div class="addStaffBox-main-left ">人脸识别</div>
            <div class="addStaffBox-main-right">
                <div class="img-box" (click)="renlianshibie(modalContent3)">
                    <img *ngIf="headUrl" class="image" [src]="headUrl">
                    <span *ngIf="!headUrl" class="iconfont icon-renlianshibie1"></span>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #modalContent3>
    <div style="color:#ff6600;text-align:center;">（请引导顾客进入人脸识别采集区域，并正对摄像头）</div>
    <div class="RenlianImgBox">
        <div class="RenlianImg" *ngFor="let item of faceObj" (click)="RenlianImgChooise(item)">
            <img src="{{item.faceImgId | imageShow:144:200}}" alt="">
        </div>
    </div>
</ng-template>

<ng-template #vipCard>
    <div *ngFor="let item of vipCardList" class="{{item.type}} cardBox">
        <div class="cardName">{{item.cardName}}</div>
        <div class="cardMoney" *ngIf="item.type === 'REBATE'||item.type === 'STORED'">余额：{{item.balance/100}}元</div>
        <div class="cardMoney" *ngIf="item.type === 'METERING'">余额：{{item.balance}}次</div>
        <div class="cardMoney" *ngIf="item.type === 'TIMES'">{{item.validity}}到期</div>
        <div class="chongzhi" (click)="xiaoka(item.cardId,pincard)">销卡</div>
    </div>
</ng-template>

<ng-template #pincard>
    <div class="addStaffBox-main">
        <div>
            <div class="addStaffBox-main-left ">会员卡名称</div>
            <div class="addStaffBox-main-right">
                {{pincardInfo?.cardName}}
            </div>
        </div>
        <div>
            <div class="addStaffBox-main-left">会员卡类型</div>
            <div class="addStaffBox-main-right">
                {{pincardInfo?.typeName}}
            </div>
        </div>
        <!-- <div>
            <div class="addStaffBox-main-left icon-asterisks-1-copy iconfont">会员卡规则</div>
            <div class="addStaffBox-main-right">
                {{pincardInfo?.cardName}}
            </div>
        </div> -->
        <div>
            <div class="addStaffBox-main-left ">卡内余额</div>
            <div class="addStaffBox-main-right" *ngIf="pincardInfo?.type==='STORED'||pincardInfo?.type==='REBATE'">
                {{pincardInfo?.balance/100}}元
            </div>
            <div class="addStaffBox-main-right" *ngIf="pincardInfo?.type==='METERING'">
                {{pincardInfo?.balance}}次
            </div>
            <div class="addStaffBox-main-right" *ngIf="pincardInfo?.type==='TIMES'">
                {{pincardInfo?.balance}}天
            </div>
        </div>
        <div>
            <div class="addStaffBox-main-left">售价</div>
            <div class="addStaffBox-main-right">
                {{pincardInfo?.price/100}}
            </div>
        </div>
        <div>
            <div class="addStaffBox-main-left">累计消费金额</div>
            <div class="addStaffBox-main-right">
                {{pincardInfo?.consumeMoney/100}}
            </div>
        </div>
        <div>
            <div class="addStaffBox-main-left">实际退款</div>
            <div class="addStaffBox-main-right">
                {{pincardInfo?.backMoney/100}}
            </div>
        </div>

    </div>
    <div style="    padding-top: 20px;
    border-top: 1px solid #f5f5f5;
    margin-top: 20px;">
        <div>说明</div>
        <div>关于销卡</div>
        <div>1.若商家建立卡规则时设置可销卡，且顾客提出销卡要求，则系统会将顾客在该卡上的消费历史折算成商品原价，重新计算会员卡余额后进行销卡和退款操作。</div>
        <div>2.当会员在该卡上的累计消费金额小于该卡的售价，将差价退还给消费者，反之将该卡删除。</div>
    </div>
</ng-template>