
.errorTips{
    color: red;
}
.pics_box {
  display: inline-block;
  position: relative;
  width: 565px;
  img, input {
    width: 102px;
    height: 102px;
    border: 1px dashed #e5e5e5;
    border-radius: 4px;
    position: absolute;
  }
  .upload-img, input {
    left: 0;
    top: 0;
  }
  input {
    opacity: 0;
  }
  .image {
    padding: 5px;
    background-color: #FFFFFF;
    z-index: 5;
  }
}

.tips-box{
    font-size: 12px;
}
.tips-box span{
    display: inline-block;
    padding: 0 10px;
    border-radius: 4px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}
.tips-box span:first-child{
    border:1px solid #FFA39E;
    background-color:#FEF0EF;
    color:#F5222D;
    margin-right: 10px;
}
.tips-box span:last-child{
    border:1px solid #91D5FF;
    background-color:#E5F8FF;
    color:#1890FF;
}

.ifshow{
    display: inline-block;
}
.icon-deleternormal{
  font-size: 30px;
  color: #ff6600;
  position: absolute;
  z-index: 99;
  left: 0;
  opacity: 0;
  width: 100%;
}
.icon-deleternormal:hover{
  opacity: 1;
}
