<div class="icon pt-md"><i class="anticon anticon-check-circle text-success icon-lg"></i></div>
<h1 class="h2 pt-md">会员卡创建成功</h1>

<div class="extra mt-md">
  <nz-form-item>
    <nz-form-label nzXs="24" nzSm="7">卡类型</nz-form-label>
    <nz-form-control nzXs="24" nzSm="12" nzMd="10"><nz-form-text>{{cardTypeName}}</nz-form-text></nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzXs="24" nzSm="7" nzFor="cardConfigName">卡名称</nz-form-label>
      <nz-form-control nzXs="24" nzSm="12" nzMd="10"><nz-form-text>{{productName}}</nz-form-text></nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzXs="24" nzSm="7">售价</nz-form-label>
    <nz-form-control nzXs="24" nzSm="12" nzMd="10"><nz-form-text>{{price}}元</nz-form-text></nz-form-control>
  </nz-form-item>
  <!--<nz-form-item>-->
    <!--<nz-form-label nzXs="24" nzSm="7">是否可销卡</nz-form-label>-->
    <!--<nz-form-control nzXs="24" nzSm="12" nzMd="10"><nz-form-text>{{isPinCard}}</nz-form-text></nz-form-control>-->
  <!--</nz-form-item>-->
</div>
<div nz-row class="my-md py-md">
    <div nz-col>
        <button nz-button (click)="comeBackVipList()" [nzType]="'primary'">返回列表</button>
        <button nz-button (click)="checkDetailInfor()" class="ml-sm">查看会员卡详情</button>
    </div>
</div>
