.nzPaginationBox{
    margin: 20px;
    overflow: hidden;
}
.nzPagination{
    float: right;
}
.button{
    cursor: pointer;
}
.seachbox{
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 20px;
}
.tableBox{
    padding: 40px;
    background: #fff;
}