<page-header></page-header>
<nz-card [nzBordered]="false" [nzBodyStyle]="{'padding.px': 12}">
    <nz-tabset (nzSelectChange)="typeChange($event)">
        <nz-tab nzTitle="系统数据修改" nzValue="SYSTEM_DATA">
        </nz-tab>
        <nz-tab nzTitle="后台管理设置" nzValue="MANAGE_SETTING">
        </nz-tab>
    </nz-tabset>
</nz-card>
<div class="seachbox" style="">
    <span>
        <span>选择日期:</span>
        <span>
            <nz-date-picker  (ngModelChange)="onChange($event)" nzShowTime></nz-date-picker>
        </span>
    </span>
    <span>
        <jn-stores-infor style="display:inline-block !important;" [moduleId]="moduleId" [ifStoresAll]="false" [ifStoresAuth]="true" (storeIdOutput)="selectStoreInfo($event.storeId)"></jn-stores-infor>
    </span>
    <span>
        <span>操作人:</span>
        <span>
            <nz-select style="width:100px;" [(ngModel)]="operationId" [nzPlaceHolder]="'请选择'" (ngModelChange)="staffChange($event)" [nzShowSearch]="true">
                <nz-option *ngFor="let item of staffList"  [nzLabel]="item.staffName" [nzValue]="item.staffId"></nz-option>
            </nz-select>
        </span>
    </span>
    <span>
        <span>操作类型:</span>
        <span>
            <nz-select style="width:200px;" [(ngModel)]="operationType" [nzPlaceHolder]="'请选择'" (ngModelChange)="operationTypeChange($event)" [nzShowSearch]="true">
                <nz-option *ngFor="let item of operationTypeList"  [nzLabel]="item.typeName" [nzValue]="item.typeCode"></nz-option>
            </nz-select>
        </span>
    </span>
</div>
<div class="tableBox">
    <nz-table [nzNoResult]="'没有数据'" #basicTable [nzShowPagination]="false" [nzData]="data">
        <thead>
            <tr>
                <th>操作时间</th>
                <th>操作类型</th>
                <th>操作人</th>
                <th>操作门店</th>
                <th>修改参数</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <td>{{item.customerId}}</td>
                <td>{{item.birthday}}</td>
                <td>{{item.customerName}}</td>
                <td>{{item.genderName}}</td>
                <td>{{item.phone}}</td>
            </tr>
        </tbody>
    </nz-table>
    <div class="nzPaginationBox">
        <nz-pagination class="nzPagination" [nzTotal]="Total" [nzPageSize]="10" (nzPageIndexChange)="getData($event)"></nz-pagination>
    </div>
</div>