<nz-card
  style="background:#fff;"
  style="min-width:860px;"
  class="{{settings.layout.collapsed?'settingsCollapsedTrue':'settingsCollapsedFalse'}}"
  [nzBodyStyle]="{ height: '100%' }"
>
  <nz-card
    [nzBordered]="false"
    [nzBodyStyle]="{ height: '100%' }"
    style="position: absolute;left: 0;top: 0;right: 0;bottom: 0;min-height:460px;min-width:860px;"
  >
    <nz-card
      style="background:#fff;"
      [nzBodyStyle]="{ height: '100%' }"
    >
      <div><h1>素材管理</h1></div>
      <nz-tabset (nzSelectChange)="change($event)" [nzSelectedIndex]="index">
        <nz-tab nzTitle="图片"> </nz-tab>
        <nz-tab nzTitle="视频"> </nz-tab>
      </nz-tabset>
      <div>
        <button nz-button nzType="primary" type="submit" (click)="upFun(type?imgUp:mouveUp,buttonText)" [nzLoading]="submitting">
            {{ buttonText }}
          </button>
      </div>
     

      <div class="mainBox">
        <div nz-col nzSpan="6" class="leftBox">
            <div >
                <div *ngFor="let item of fenzu;let ind = index;" class="fenzuLi {{item.check?'checked':''}}" (click)="fenzuCheck(ind,item)">{{item.groupName}}</div>
            </div>
            <button nz-button nzType="primary" type="submit" style="margin: 0 auto;display: block;" [nzLoading]="submitting"  (click)="addName(addNamete)">新建分组</button>
        </div>
        <div nz-col nzSpan="17" class="rightBox">
            <div>
                  <span>{{fenzuName}}({{countTotal}})</span>
                  <span class="buttons" (click)="reName(reNamete)">重命名</span>
                  <span class="buttons" (click)="deReName()">删除分组</span>
            </div>

            <div style="background: #e5e5e5;padding: 10px;margin-top: 10px;">
                <label nz-checkbox [(ngModel)]="checked" (ngModelChange)="checkAll($event)">全选</label>

                <div style="float:right;" *ngIf="showButton">
                  <span class="iconfont icon-icon- buttons" (click)="moveSome(moveGroup2)"></span>
                  <span class="iconfont icon-delete buttons" (click)="DelSome()"></span>
                </div>
            </div>
            <div class="imgBox">
                <div  *ngFor="let item of imgbox" class="imgMain ">
                    <img [src]="item.pictureUrl||'assets/img/product.png'" alt="" class="img">
                    <div class="zhezhao {{item.checked?'imgMain2':''}}">
                      <label nz-checkbox class="imgLable"  [(ngModel)]="item.checked" (ngModelChange)="checkAllFun()"></label>
                      <span *ngIf="checkType === 'video'" class="iconfont icon-shipin" (click)="seeVideo(videoAlert,item)"></span>
                      <nz-popover [nzTitle]="'操作'" [nzTrigger]="'click'" *ngIf="item.checked" [nzPlacement]="'bottomRight'">
                        <span class="iconfont icon-dx"  nz-popover></span>
                    
                        <ng-template #nzTemplate>
                          <div>
                            <div class="buttons" (click)="DelSome(item)">删除</div>
                            <div class="buttons"  (click)="moveSome(moveGroup2,item)">移动</div>
                          </div>
                        </ng-template>
                      </nz-popover>
                    </div>
                    
                </div>
            </div>
        </div>
      </div>
    </nz-card>
  </nz-card>
</nz-card>

<!-- 查看视频 -->
<ng-template #videoAlert>
  <video  controls="controls"  *ngIf="Property"   style="width:100%;">
    <source id="video" [src]="videoAlert"  />
  </video>
</ng-template>
<!-- 移动分组 -->
<ng-template #moveGroup>
  <div >
    <div *ngFor="let item of fenzu;let ind = index;" class="fenzuLi {{item.check?'checked':''}}" (click)="fenzuCheck(item)">{{item.groupName}}</div>
</div>
</ng-template>
<!-- 移动分组 -->
<ng-template #moveGroup2>
    <div >
      <div *ngFor="let item of fenzu;let ind = index;" class="fenzuLi {{item.check2?'checked':''}}" (click)="fenzuCheck2(item)">{{item.groupName}}</div>
  </div>
  </ng-template>

<!-- 上传图片 -->
<ng-template #imgUp>
    <nz-form-item>
        <nz-form-label nzXs="24"  nzFor="inventory" nzSm="7" >选择分组</nz-form-label>
        <nz-form-control nzXs="24" nzSm="12" nzMd="15">
            <nz-input-group nzSize="large">
                <nz-select style="width: 100%;" [(ngModel)]="selectedOption2">
                    <nz-option *ngFor="let option of fenzu" [nzLabel]="option.groupName" [nzValue]="option.groupId" >
                    </nz-option>
                </nz-select>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
  <nz-form-item>
    <nz-form-label nzXs="24"  nzFor="inventory" nzSm="7" >上传图片</nz-form-label>
    <nz-form-control nzXs="24" nzSm="12" nzMd="15">
        <nz-input-group nzSize="large">
          <!-- <juniu-upload-img [image]="pictureDetails" [uploadNum]="5" [syncAlipay]="syncAlipay" [bizType]="'shop'" [isClear]="isClear"
          (img)="getPictureDetails($event)"></juniu-upload-img> -->
          <nz-upload
            nzListType="picture-card"
            [nzCustomRequest]="nzCustomRequestFun2"
            [nzShowButton]="fileList2.length < 5"
            [nzPreview]="handlePreview"
            (nzChange)="moveChange2($event)">
              <i class="anticon anticon-plus" (click)="bianda()"></i>
              <div class="ant-upload-text">点击上传</div>
          </nz-upload>
          <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
            <ng-template #modalContent>
              <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
            </ng-template>
          </nz-modal>
        </nz-input-group>
        <p class="product-tip">上传素材图片，可选择上传多张，支持格式jpg、png等</p>
    </nz-form-control>
</nz-form-item>
</ng-template>

<!-- 上传视频 -->
<ng-template #mouveUp>
    <nz-form-item>
        <nz-form-label nzXs="24"  nzFor="inventory" nzSm="7" >选择分组</nz-form-label>
        <nz-form-control nzXs="24" nzSm="12" nzMd="15">
            <nz-input-group nzSize="large">
                <nz-select style="width: 100%;"  [(ngModel)]="selectedOption2">
                    <nz-option *ngFor="let option of fenzu" [nzLabel]="option.groupName" [nzValue]="option.groupId" >
                    </nz-option>
                </nz-select>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
  <nz-form-item>
    <nz-form-label nzXs="24"  nzFor="inventory" nzSm="7" >上传视频</nz-form-label>
    <nz-form-control nzXs="24" nzSm="12" nzMd="15">
        <nz-input-group nzSize="large">
            <nz-upload
            [nzLimit]="2"
            (nzChange)="moveChange($event)"
            [nzCustomRequest]="nzCustomRequestFun"
            [nzShowButton]="fileList.length < 1"
            [nzDisabled]="uploading"            >
            <button nz-button>
              <i nz-icon type="upload"></i><span>点击上传</span>
            </button>
          </nz-upload>
         
        </nz-input-group>
        <p class="product-tip">上传素材图片，可选择上传多张，支持格式jpg、png等</p>
    </nz-form-control>
</nz-form-item>
</ng-template>

<!-- 重命名 -->
<ng-template #reNamete>
  <div >
      <input type="text" nz-input [(ngModel)]="reNameNg" placeholder="请输入分组名称" maxlength="8" />
  </div>
</ng-template>

<!-- 新增分组 -->
<ng-template #addNamete>
  <div >
      <input type="text" nz-input [(ngModel)]="addNameNg" placeholder="请输入分组名称" maxlength="8" />
  </div>
</ng-template>