.icon-tishi::before{
    content:"";
}
.icon-tishi::after{
    content:"\e669";
}
.icon-tishi{
    cursor: pointer;
    color: red;
}
.nowMB{
    position: absolute;
    right: 0;
    top: 0px;
    background: #ff6600;
    color: #fff;
    padding:5px 10px;
}
.icon-triangle-left{
    position: absolute;
    color: #ff6600;
    left: -24.5px;
    font-size: 33.5px;
    top: -9.5px;
}
.icon-gantanhao{
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    background: #ffbd9b;
    color: #000;
}
.colorRed{
    color: red;
    cursor: pointer;
}
.icon-gantanhao::before{
    color: red;
}