<div *ngIf="showBar"  class="icon-gantanhao iconfont">您购买的小程序模版：美业版，剩余有效期已不足<span class="colorRed">30天</span>，为了不影响正常使用，请<span class="colorRed" (click)="gotoNew()">立即续费>></span></div>
<nz-card nzTitle="小程序" style="overflow:hidden" [nzBordered]="false" [nzBodyStyle]="{'height':'100%','overflow': 'hidden','margin':'30px','background':'#fff'}">
    <nz-radio-group [(ngModel)]="statusFlag" class="mr-md" style="position: absolute;right: 0;top: 10px;">
        <label nz-radio-button [nzValue]="'1'" (click)="jiechuClick(jiechu)">
            <span>解除授权</span>
        </label>
        <label nz-radio-button [nzValue]="'0'" (click)="gotoNew()">
            <span>购买新模版</span>
        </label>
    </nz-radio-group>
    <nz-list [nzLoading]="loading" [nzDataSource]="tplArr" [nzRenderItem]="item" [nzGrid]="{gutter: 24, lg: 8, md: 12, sm: 24, xs: 24 }">
        <ng-template #item let-item>
          <nz-list-item>
            <nz-card nzHoverable  style="width:100%;position: relative;" [nzActions]="item.current?(item.effectiveTime=== -1?[op2]:[op3]):(item.effectiveTime=== -1?[op1]:[op1,op3])">
                <div class="nowMB" *ngIf="item.current" ><span class="iconfont icon-triangle-left"></span> 当前展示模版</div>
              <ng-template #op1>
                <div (click)="shiyong(item)">使用此模版</div>
              </ng-template>
              <ng-template #op2>
                <div (click)="gotoNew()">升级</div>
                <!-- <div (click)="wxappPreorderHttp(item)">升级</div> -->
                
              </ng-template>
              <ng-template #op3>
                <div (click)="wxappPreorderHttp(item)">续费</div>
              </ng-template>
              <nz-card-meta [nzAvatar]="nzAvatar" [nzTitle]="nzTitle" [nzDescription]="nzDescription">
                <ng-template #nzAvatar>
                  <nz-avatar nzSize="large" [nzSrc]="item.tplImage"></nz-avatar>
                </ng-template>
                <ng-template #nzTitle>
                  <div>{{item.tplName}}
                    <nz-popover [nzTitle]="'体验版小程序二维码'" [nzPlacement]="'bottom'">
                    <span class="icon-erweima1 iconfont" nz-popover style="color: #999;"></span>
                    <ng-template #nzTemplate>
                      <div class="erweimaBox">
                        <img class="erweimaBoxImg" *ngIf="item.experienceCode" [src]="item.experienceCode" />
                      </div>
                    </ng-template>
                  </nz-popover></div>
                </ng-template>
                <ng-template #nzDescription>
                  <div>剩余有效期 : {{item.currentEffectiveDays<0?'永久':item.currentEffectiveDays+'天'}}</div>
                </ng-template>
                <ng-template #contentTemplate>
                    <div>
                      <p>Content</p>
                      <p>Content</p>
                    </div>
                  </ng-template>
              </nz-card-meta>
            </nz-card>
          </nz-list-item>
        </ng-template>
      </nz-list>
      <div style="position: absolute;bottom: 20px;"><a (click)="gotoList()">点击去配置门店展示信息 > ></a></div>
</nz-card>
<nz-card nzTitle="小程序码下载" style="overflow:hidden" [nzBordered]="false" [nzBodyStyle]="{'height':'100%','overflow': 'hidden','margin':'30px','background':'#f8f8f8'}">
    <div style="overflow: hidden;position: relative;">
        <div nz-col nzSpan="20">
            <span style="margin-right:20px;font-size: 20px;">小程序码</span>
            <span style="margin-right:20px;">颜色：黑色</span>
            <span style="margin-right:20px;">边长：12cm</span>
        </div>
        <div nz-col nzSpan="4">
            <button class="buttons" nz-button nzType="primary" (click)="downloadQr()" type="submit">点击下载</button>
        </div>
    </div>

</nz-card>
<nz-card nzTitle="近10条审核记录" style="overflow:hidden" [nzBordered]="false" [nzBodyStyle]="{'height':'100%','overflow': 'hidden'}">
    <nz-table [nzNoResult]="'没有数据'" [nzShowPagination]="false" [nzData]="statusData?.recoreds">
        <thead>
            <tr>
                <th>审核版本</th>
                <th>版本号</th>
                <th>提交审核时间</th>
                <th>审核状态</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of statusData?.recoreds;let ind = index;">
                <td>{{item.tplName}}</td>
                <td>{{item.auditVersion}}</td>
                <td>{{item.submitTime}}</td>
                <td *ngIf="item.status !== 'faild'">{{item.statusName}}</td>
                <td style="cursor: pointer;" *ngIf="item.status === 'faild'" (click)="queryAuditReasonFun(item.recordId)">{{item.statusName}}
                    <span class="icon-tishi iconfont"></span>
                </td>
            </tr>
        </tbody>
    </nz-table>

</nz-card>

<ng-template #jiechu>
  <div class="banneImg"></div>
  <h3>解除授权流程</h3>
  <div>1.登录小程序后台，登录小程序后台请戳: <a href="https://mp.weixin.qq.com/" target="view_window">https://mp.weixin.qq.com/</a></div>
  <div>2.点击设置-第三方服务-停止授权即可</div>
  <div>3.重新登录桔牛授权即可</div>
  <h4 style="margin-top: 40px;">如遇到问题，请联系桔牛客服010-80441899解决</h4>
</ng-template>


<nz-modal [(nzVisible)]="isVisible" nzTitle="订购详情" [nzWidth]="800" [nzOkText]="null"  nzCancelText="取消" (nzOnOk)="null"  (nzOnCancel)="handleCancel()" >
        <nz-form-item >
            <nz-form-label nzXs="24" nzSm="7">订购模版</nz-form-label>
            <nz-form-control nzXs="24" nzSm="12" nzMd="10">
                {{result2&&result2.tplName}}
            </nz-form-control>
        </nz-form-item>
        <nz-form-item >
        <nz-form-label nzXs="24" nzSm="7">应付金额</nz-form-label>
        <nz-form-control nzXs="24" nzSm="12" nzMd="10">
                {{result&&result.orderAmount/100}}元
        </nz-form-control>
        </nz-form-item>
        <nz-form-item >
            <nz-form-label nzXs="24" nzSm="7">有效期</nz-form-label>
            <nz-form-control nzXs="24" nzSm="12" nzMd="10">
                    {{result&&(result.effectiveTime)}}
            </nz-form-control>
        </nz-form-item>
        <nz-form-item >
            <nz-form-label nzXs="24" nzSm="7">支付方式</nz-form-label>
            <nz-form-control nzXs="24" nzSm="12" nzMd="10">
                <div>
                    <nz-radio-group [(ngModel)]="payType" (ngModelChange)="changeEchartsTab($event)">
                        <label nz-radio-button [nzValue]="'ALIPAY'" [nzDisabled]="payType === 'WECHAT'"><span>支付宝</span></label>
                        <label nz-radio-button [nzValue]="'WECHAT'" [nzDisabled]="payType === 'ALIPAY'"><span>微信</span></label>
                    </nz-radio-group>
                    <div class="erweimaB" *ngIf="codeImgUrl" >
                        <img [src]="codeImgUrl" alt="">
                    </div>
                </div>
                
            </nz-form-control>
        </nz-form-item>
</nz-modal>
