<page-header></page-header>

<nz-card nzTitle="会员营销" [nzBordered]="false">
    <ul class="card">
        <li *ngFor="let item of list1">
            <div class="item" (click)="onItemClick(item.id, item.name, item.desc)">
                <img [src]="item.img" alt="">
                <p>{{item.name}}</p>
            </div>
        </li>
    </ul>
</nz-card>

<nz-card nzTitle="送消费券" [nzBordered]="false">
    <ul class="card">
        <li *ngFor="let item of list2">
            <div class="item" (click)="onItemClick(item.id, item.name, item.desc)">
                <img [src]="item.img" alt="">
                <p>{{item.name}}</p>
            </div>
        </li>
    </ul>
</nz-card>
