
@import 'node_modules/@delon/theme/styles/default';

:host ::ng-deep {
    .icon-group {
        transition: color 0.32s;
        color: @text-color-secondary;
        cursor: pointer;
        margin-left: 16px;
        &:hover {
            color: @text-color;
        }
    }

    .rank-list {
        padding: 0 32px 32px 72px;
        ul {
            margin-top: 25px;
        }
        li {
            zoom: 1;
            margin-top: 16px;
            display: flex;
            justify-content: space-between;
            .icon {
                background-color: #f5f5f5;
                border-radius: 20px;
                display: inline-block;
                font-size: 12px;
                font-weight: 600;
                margin-right: 24px;
                height: 20px;
                line-height: 20px;
                width: 20px;
                text-align: center;
            }
            .active {
                background-color: #314659;
                color: #fff;
            }
        }
    }

    .sales-extra {
        display: inline-block;
        margin-right: 24px;
        a {
            margin-left: 24px;
        }
    }

    .sales-card {
        .bar {
            padding: 0 0 32px 32px;
        }
        .rank {
            padding: 0 32px 32px 72px;
        }
        .ant-tabs-tab {
            padding-top: 16px;
            padding-bottom: 14px;
            line-height: 24px;
        }

        .ant-tabs-extra-content {
            padding-right: 24px;
            line-height: 55px;
        }

        .ant-card-head {
            position: relative;
        }
    }

    .sales-card-extra {
        height: 68px;
    }

    .sales-type-radio {
        position: absolute;
        left: 24px;
        bottom: 15px;
    }

    .offline-card {
        .ant-tabs-ink-bar {
            bottom: auto;
        }
        .ant-tabs-bar {
            border-bottom: none;
        }
        .ant-tabs-nav-container-scrolling {
            padding-left: 40px;
            padding-right: 40px;
        }
        .ant-tabs-tab-prev-icon:before {
            position: relative;
            left: 6px;
        }
        .ant-tabs-tab-next-icon:before {
            position: relative;
            right: 6px;
        }
    }

    .trend-text {
        margin-left: 8px;
        color: @heading-color;
    }

    @media screen and (max-width: @screen-lg) {
        .sales-extra {
            display: none;
        }

        .rank-list {
            li {
                span:first-child {
                    margin-right: 8px;
                }
            }
        }
    }

    @media screen and (max-width: @screen-md) {
        .rank-title {
            margin-top: 16px;
        }

        .sales-card .bar {
            padding: 16px;
        }
    }

    @media screen and (max-width: @screen-sm) {
        .sales-extra-wrap {
            display: none;
        }

        .sales-card {
            .ant-tabs-content {
                padding-top: 30px;
            }
        }
    }

    .ant-table-pagination {
        margin-bottom: 0;
    }
}
.search__form{
    margin-bottom: 0!important;
}
.search__form{
    .ant-form-item{
        margin-bottom: 0!important;
    }
}
.box-moniter{
    height:168px;
    position: relative;
}
.tuBox {
    position: absolute;
    bottom: 0px;
    height: 50px;
    left:0;
}

.divTitleright{
    font-size: 14px;
    position: absolute;
    top: 5px;
    left: 92px;
}
.icon-wallett{
    width: 80px;
    height: 80px;
    color: #368ff7;
    font-size: 70px;
    text-align: center;
    position: absolute;
    top: -20px;
    left: 0px;
}
.wenhao {
    display: inline;
    height: 15px;
    width: 15px;
    text-align: center;
    line-height: 15px;
    margin-right: 20px;
    position: absolute;
    right: 0;

}

.wenhao a {
    color: #000;
}

.tabBar2 {
    position: absolute;
    width: 600px;
    top: 0px;
    left: 400px;
}

.dataBox {
    position: absolute;
    width: 300px;
    top: 0px;
    right: 0px;
}

.member-bottom {
    padding-left: 20px;
    margin-top: 20px;
    padding-top: 20px;
    background: #fff;
}

.firstTu {
    border-top: 1px solid #f5f5f5;
    width: 100%;
}

.firstTu {
    div{
        width: 50%;
        float: left;
        text-align: center;
        padding-top: 5px;
        font-size: 16px;
        text-align: center;
        line-height: 50px;
    }
}

.icon-xiala {
    color: #0EE30E;
}

.icon-up {
    color: red;
}

