<li class="upload_pic">
    <ul class="pic_up clearfix" style="padding:0;">
        <li *ngFor="let image of imageArray;let i = index">
            <img class="file_pic" [src]="image.src?image.src: './assets/img/head.png'">
            <nz-spin *ngIf="spinBoolean" style="height: 60px;
            line-height: 60px;
            text-align: center;" [nzSize]="'large'"></nz-spin>
            <input class="file_upload" type="file" (change)="uploadImage($event, i)" />
            <input class="file_upload_val" name="{{image.name}}" type="hidden" />
            <img *ngIf="image.showDelete" src="assets/img/close.png" class="delete" (click)="deleteImage(i)" />
        </li>
    </ul>
</li>