.upload_pic {
    position: relative
}

.upload_pic .title_pic {
    font-size: 0.42666667rem;
    color: #333;
    height: 1.04rem;
    font-weight: normal
}

.upload_pic .title_pic .box_title {
    display: inline-block;
    line-height: 1.04rem;
    font-size: 0.42666667rem
}

.upload_pic .pic_up li {
    float: left;
    width: 80px;
    height: 60px;
    background: #ccc;
    margin-bottom: 0.59375rem;
    position: relative;
    text-align: center;
    background: url('/assets/img/head.png') no-repeat;
    background-size: 100% 100%
}

.upload_pic .pic_up li .file_pic {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0
}

.upload_pic .pic_up li .file_upload {
    width: 100%;
    height: 100%;
    font-size: 10px;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    left: 0
}

.upload_pic .pic_up li .delete {
  position: absolute;
  top: -8px;
  right: 0;
  width: 16px;
  height: 16px;
}

.upload_pic .pic_up>li{
    margin-right: 0.3125rem
}

