<div class="step1">
  <div class="buy-record" (click)="goBuyRecord()">购买记录</div>
  <ul>
    <li class="item-box" *ngFor="let package of dataList" [class.hover]="hoverId === package.packageId"
        (mouseenter)="onItemHover(package)" (mouseleave)="onItemLeave()"
        (click)="onItemClick(package)">
      <img src="./assets/img/soft-bg.png" class="img-bg" *ngIf="!(hoverId === package.packageId)">
      <img src="./assets/img/soft-bg-hover.png" class="hover-img-bg" *ngIf="hoverId === package.packageId">
      <div class="item-content-box">
        <div class="item-title">{{package.packageName}}</div>
        <img class="img" [src]="package.packageImages[0] ? package.packageImages[0] : './assets/img/soft-img1.png'">
        <div class="cost">
          <span class="free" *ngIf="!package.price">免费</span>
          <span class="price-box" *ngIf="package.price">
            <!--DAY, MONTH, QUARTER, YEAR-->
            <span>{{package.price/100}}</span>元 /
            {{package.timeUnit === 'DAY' ? '天' : package.timeUnit === 'MONTH' ? '月' : package.timeUnit === 'QUARTER' ? '季' : '年'}}
            / 店
          </span>
        </div>
        <div class="notes-box">
          <ul>
            <li *ngFor="let desc of package.descriptions"><span> · </span>{{desc}}</li>
          </ul>
        </div>
        <div class="use-btn" [class.disabled]="!package.selectable">
          <span *ngIf="!package.selectable">购买</span>
          <span *ngIf="package.selectable && package.useState">续费</span>
          <span *ngIf="package.selectable && !package.useState">现在升级</span>
        </div>
      </div>
    </li>
  </ul>
</div>

<div style="opacity: 0; width: 0; height: 0">
  <jn-stores-infor [moduleId]="moduleId" [ifStoresAll]="false"
                   (storeIdOutput)="onSelectStoreChange($event)">
  </jn-stores-infor>
</div>
