<div class="step1">
    <ul>
        <li class="item-box">
            <div class="item-title">免费版</div>
            <img src="./assets/img/soft-img1.png">
            <div class="cost">
                <span class="free" *ngIf="">免费</span>
                <span class="price-box"><span>1680</span>元/年/店</span>
            </div>
            <div class="notes-box">
                <ul>
                    <li><span> · </span>微信、支付宝扫码付款</li>
                    <li><span> · </span>微信、支付宝扫码付款</li>
                    <li><span> · </span>微信、支付宝扫码付款</li>
                </ul>
            </div>
            <div class="use-btn">
                立即使用
            </div>
        </li>
    </ul>
</div>