@import 'node_modules/@delon/theme/styles/default';
@primary-color:#ff7700;
.step1 {
  font-family: 'PingFangSC-Regular';

  .buy-record {
    text-align: right;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
    color: @primary-color;
    float: right;
  }

  .item-box {
    width: 304px;
    height: 617px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin: 20px 20px;

    .img-bg {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .item-content-box {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .item-title {
      text-align: center;
      font-size: 16px;
      color: #FFA224;
      height: 80px;
      line-height: 60px;
    }
    .img {
      width: 214px;
      height: 136px;
      margin: 10px auto;
      display: block;
    }
    .cost {
      width: 180px;
      margin: 10px auto;
      height: 40px;
      border-bottom: 1px dashed #FF6600;
      text-align: center;
      font-size: 12px;
      color: #444444;

      .free {
        font-size: 14px;
        color: #FF6600;
      }

      .price-box span {
        color: #FF6600;
        font-size: 18px;
      }
    }

    .notes-box {
      width: 224px;
      border-bottom: 1px dashed #FF6600;
      padding: 10px 10px 15px;
      margin: 0 auto;
      height: 270px;

      li {
        font-size: 12px;
        color: #444444;

        >span {
          color: #FF6600;
        }
      }
    }
    .use-btn {
      height: 60px;
      width: 304px;
      line-height: 60px;
      text-align: center;
      font-size: 16px;
      color: #FF6600;
    }
    .disabled {
      color: #FFFFFF;
      background-color: #CCCCCC;
      border-radius: 0 0 6px 6px;
      height: 62px;
      margin-top: -1px;
    }
  }

  .hover {
    .hover-img-bg {
      position: absolute;
      top: -10px;
      left: -1px;
      right: 0;
      bottom: 0;
    }

    .use-btn {
      background: #ff6600;
      border-top: 1px solid #ff6600;
      margin-top: -1px;
      border-radius: 0 0 6px 6px;
      color: #fff;
      margin-left: 9px;
    }
  }
}

.step2 {
  .btn-box {
    margin-top: 20px;

    button {
      margin-right: 20px;
    }
  }
}

.step3 {
  text-align: center;

  .pay-way-btn-box {
    margin: 20px;

    button {
      margin: 0 10px;
    }
  }

  .qr-code-box {

    img {
      width: 250px;
      height: 250px;
      display: block;
      border: 1px solid #e5e5e5;
      margin: 10px auto 20px;
    }
  }
}

.step4 {

  >p {
    line-height:40px;

    >span {
      text-decoration: underline;
      cursor: pointer;
      color: @primary-color;
    }
  }

  .form-box {
    width: 80%;
    margin: 40px auto;
  }
}
