.storeMain{
    background: #fff;
    width: 100%;
    padding: 20px;
}
.nzPaginationBox{
    margin: 20px;
    overflow: hidden;
}
.nzPagination{
    float: right;
}
.buttonBox{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.button{
    cursor: pointer;
}
.bigtd{
    width: 300px;
    overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
}