<nz-card>
    <h1>使用此功能需要注册桔牛系统账号，并导入口碑门店</h1>

    <button style="margin:20px 0;" nz-button routerLink="/passport/register" (click)="gotozhuce()" [nzType]="'primary'">
        <span>立即注册</span>
    </button>
    <p style="margin:20px 0;">为什么需要注册桔牛系统账户，并导入口碑门店？ </p>
    <p>在使用口碑手艺人功能时，都需要有与口碑门店相关联的线下门店存在。</p>
    <p>因为当您的手艺人预约业务需要与线下预约同时进行时，我们需要确保多个平台预约的是同一个手艺人。否则就会造成在口碑预约之后，此人仍可以在同一时间在线下可被预约。</p>
    <p>为了避免这种情况，我们需要所有的预约都基于线下门店和员工数据。因此，在使用口碑手艺人功能时，需要注册桔牛系统账号，并导入口碑门店。</p>
    <p>如果您创建了线下门店，但没有关联口碑门店，您需要到 <a>“管理－门店”</a> 中点击支付宝图标，进行口碑门店的关联。</p>
    <p style="margin:20px 0;">使用口碑核销的情况也一样。</p>
    <p>在收银模块中使用核销功能时，我们需要为您的员工计算绩效、为您出具各种营收报表。</p>
    <p>所有的这些功能都需要有与口碑门店相关联的线下门店数据的的支持。</p>
    <p style="margin:20px 0;">如果您不需要在使用口碑核销时计算绩效，出具报表等功能，您可以在<a>“口碑－口碑核销”</a>中使用口碑核销功能。</p>
    <p>注册和导入口碑门店的功能完全免费；而且一旦创建，永久有效。</p>
</nz-card>