<g2-card>
    <nz-tabset>
        <nz-tab nzTitle="扫码核销" (nzClick)="tabclick()">
            <div class="member-top-middle">
                <jn-stores-infor [moduleId]="moduleId" [AllStoreBoolean]="false" [ifStoresAll]="false" (storeIdOutput)="selectStoreInfo($event)"></jn-stores-infor>
            </div>
            <div class="member-top-middle">
                <nz-form-item>
                    <nz-form-label style="float:left;">选择技师</nz-form-label>
                    <nz-form-control style="float:left;width: 300px;">
                        <div nz-col nzSpan="17">
                            <nz-select [(ngModel)]="staffId" (ngModelChange)="selectStaff($event)" style="width:200px;" [nzPlaceHolder]="'请选择一个技师'" [nzShowSearch]="true">
                                <nz-option *ngFor="let i of staffGroupData; let idx = index" [nzLabel]="i.staffName" [nzValue]="i.staffId"></nz-option>
                            </nz-select>
                        </div>
                        <div nz-col nzSpan="7">
                            <nz-form-item>
                                <nz-form-label style="display: inline-block">指定技师</nz-form-label>
                                <nz-form-control style="display: inline-block;width:10px;">
                                    <input type="checkbox" [(ngModel)]="checkbox">
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="member-top-middle">
                <nz-form-item>
                    <nz-form-label style="display: inline-block">选择小工</nz-form-label>
                    <nz-form-control style="display: inline-block">
                        <nz-select [(ngModel)]="coolie" (ngModelChange)="selectCoolie($event)" style="width: 300px;" [nzPlaceHolder]="'请选择一个小工'" [nzShowSearch]="true">
                            <nz-option *ngFor="let i of staffGroupData; let idx = index" [nzLabel]="i.staffName" [nzValue]="i.staffId"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="sm-button {{checkoutShow?'sm-button2':''}} " (click)="scanPay()">扫描顾客核销码</div>
            <!-- <div class="gai"></div> -->
            <input type="text" nz-input id="authCode" [(ngModel)]="authCode" maxlength="16" name="authCode" (ngModelChange)="goToSubmitOrder($event)"
                class="input pay-code-input">
        </nz-tab>
        <nz-tab nzTitle="手动核销" (nzClick)="tabclick()">
            <div class="member-top-middle">
                <jn-stores-infor [ifStoresAll]="false" [AllStoreBoolean]="false" [moduleId]="moduleId" (storeIdOutput)="selectStoreInfo($event)"></jn-stores-infor>
            </div>
            <div class="member-top-middle">
                <span style="margin-right:10px;">核销券码:</span>
                <input type="text" id="tauthCode" style="width:300px;" maxlength="16" nz-input [(ngModel)]="tauthCode" placeholder="请输入顾客核销码">
            </div>
          <div class="sm-button" (click)="goToSubmitOrder()">点击查询</div>
            <!--<div class="member-top-middle reserve-product" [class.selected-border]="orderType == 'PRODUCT'" (click)="orderTypeChange('PRODUCT')" (mouseenter)="onReserveTypeHover('PRODUCT')" (mouseleave)="onReserveTypeLeave()">-->
            <div class="member-top-middle-product">
              <span class="member-top-middle-product-pro">选择商品:</span>
              <div class="member-top-middle-product-prodiv">
                <div class="reserve-product" [ngClass]="{'reserve-product2': voucherCodes.includes('2020181207807010')}" (click)="onSelectChange('2020181207807010')">
                  <div style="position: relative; text-align: left;">
                    <span style="position: relative; width: 100%; font-size: 23px; padding-left: 10px; margin-top: -8px">发型总监设计</span>
                    <span style="float: right; padding-right: 10px; position: relative">100¥</span>
                  </div>
                  <div style="float: left; position: relative">
                    <span style="padding-left: 10px">核销码:2020181207807010</span>
                  </div>
                  <div *ngIf="voucherCodes.includes('2020181207807010')" class="selected-type iconfont icon-yousanjiaogou_ic"></div>
                </div>
                <div class="reserve-product" [ngClass]="{'reserve-product2': voucherCodes.includes('2020181207807011')}" (click)="onSelectChange('2020181207807011')">
                  <div style="position: relative; text-align: left;">
                    <span style="position: relative; width: 100%; font-size: 23px; padding-left: 10px; margin-top: -8px">发型总监设计</span>
                    <span style="float: right; padding-right: 10px; position: relative">100¥</span>
                  </div>
                  <div style="float: left; position: relative">
                    <span style="padding-left: 10px">核销码:2020181207807011</span>
                  </div>
                  <div *ngIf="voucherCodes.includes('2020181207807011')" class="selected-type iconfont icon-yousanjiaogou_ic"></div>
                </div>
                <div class="reserve-product" [ngClass]="{'reserve-product2': voucherCodes.includes('2020181207807012')}" (click)="onSelectChange('2020181207807012')">
                  <div style="position: relative; text-align: left;">
                    <span style="position: relative; width: 100%; font-size: 23px; padding-left: 10px; margin-top: -8px">发型总监设计</span>
                    <span style="float: right; padding-right: 10px; position: relative">100¥</span>
                  </div>
                  <div style="float: left; position: relative">
                    <span style="padding-left: 10px">核销码:2020181207807012</span>
                  </div>
                  <div *ngIf="voucherCodes.includes('2020181207807012')" class="selected-type iconfont icon-yousanjiaogou_ic"></div>
                </div>
                <div class="reserve-product" [ngClass]="{'reserve-product2': voucherCodes.includes('2020181207807013')}" (click)="onSelectChange('2020181207807013')">
                  <div style="position: relative; text-align: left;">
                    <span style="position: relative; width: 100%; font-size: 23px; padding-left: 10px; margin-top: -8px">发型总监设计</span>
                    <span style="float: right; padding-right: 10px; position: relative">100¥</span>
                  </div>
                  <div style="float: left; position: relative">
                    <span style="padding-left: 10px">核销码:2020181207807013</span>
                  </div>
                  <div *ngIf="voucherCodes.includes('2020181207807013')" class="selected-type iconfont icon-yousanjiaogou_ic"></div>
                </div>
              </div>
            </div>
            <div class="member-top-middle">
                <nz-form-item>
                    <nz-form-label style="float:left;">选择技师</nz-form-label>
                    <nz-form-control style="float:left;width: 300px;">
                        <div nz-col nzSpan="17">
                            <nz-select [(ngModel)]="staffId" (ngModelChange)="selectStaff($event)" style="width:200px;" [nzPlaceHolder]="'请选择一个技师'" [nzShowSearch]="true">
                                <nz-option *ngFor="let i of staffGroupData; let idx = index" [nzLabel]="i.staffName" [nzValue]="i.staffId"></nz-option>
                            </nz-select>
                        </div>
                        <div nz-col nzSpan="7">
                            <nz-form-item>
                                <nz-form-label style="display: inline-block">指定技师</nz-form-label>
                                <nz-form-control style="display: inline-block;width:10px;">
                                    <input type="checkbox" [(ngModel)]="checkbox">
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="member-top-middle">
                <nz-form-item>
                    <nz-form-label style="display: inline-block">选择小工</nz-form-label>
                    <nz-form-control style="display: inline-block">
                        <nz-select [(ngModel)]="coolie" (ngModelChange)="selectCoolie($event)" style="width: 300px;" [nzPlaceHolder]="'请选择一个小工'" [nzShowSearch]="true">
                            <nz-option *ngFor="let i of staffGroupData; let idx = index" [nzLabel]="i.staffName" [nzValue]="i.staffId"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="sm-button" (click)="goToSubmitOrder()">点击核销</div>
        </nz-tab>
    </nz-tabset>
    <div class="manage-home-bottom">
        <div class="manage-title">近10条核销记录</div>
        <div class="manage-home-bottom-main">
            <div>
                <table>
                    <thead>
                        <tr>
                            <td>核销时间</td>
                            <td>核销门店</td>
                            <td>核销类型</td>
                            <td>核销商品</td>
                            <td>核销金额(元)</td>
                        </tr>
                    </thead>
                    <tbody *ngIf="voucherData.length>0">
                        <tr *ngFor="let item of voucherData">
                            <td>{{item.usedDate}}</td>
                            <td>{{item.usedStoreName}}</td>
                            <td>{{item.voucherType === 'WXAPP' ? '微信核销' :item.voucherType ==='WXPT'? '微信拼团': '-'}}</td>
                            <td>{{item.productName}}</td>
                            <td>{{item.price/100}}</td>
                        </tr>

                    </tbody>
                    <tr *ngIf="voucherData.length === 0">
                        <td colspan="5">暂无数据</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</g2-card>
