<div class="content__title ad-ph">
  <div>
    <div class="desc">桔牛系统预约功能打通口碑、微信及线下预约，实现商家后台一套设置同时管理线下预约、小程序预约及口碑预约。</div>
    <div class="desc" style="margin-bottom: 0; font-size: 13px;">*口碑预约----如果你如您还未订购口碑的【桔牛手艺人】插件，可以<a href="http://fuwu.koubei.com/commodity/commodityDetail.htm?commodityId=201701190281390349）" target="_blank">点击订购</a>即可。</div>
    <div class="desc" style="margin-bottom: 0; font-size: 13px;">
      *微信小程序预约----小程序预约需要您先申请小程序并<a (click)="onWechatLinkClick">关联授权</a>，
      进行<a (click)="onReserveSetLinkClick()">预约设置</a>后即可。
    </div>
    <div class="desc" style="font-size: 13px;">*美团预约----即将打通，尽请期待！</div>
  </div>
</div>

<jn-reserve></jn-reserve>
