.add-categoryName-btn{
    position: absolute;
    display: inline-block;
    right: -98px;
    top: 50%;
    margin-top: -16px;
    font-weight: 400;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    height: 32px;
    line-height: 32px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    color: #fff;
    background-color: #ff7700;
    border-color: #ff7700;
}
.errorTips{
    color: red;
}
.pics_box {
    display: inline-block;
    position: relative;
    width: 565px;
    img, input {
        width: 102px;
        height: 102px;
        border: 1px dashed #e5e5e5;
        border-radius: 4px;
        position: absolute;
    }
    .upload-img, input {
        left: 0;
        top: 0;
    }
    input {
        opacity: 0;
    }
    .image {
        padding: 5px;
        background-color: #FFF;
        z-index: 5;
    }
}
.add_content{
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.add_content li{
    padding: 10px;
    height: 55px;
    line-height: 55px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #444444;
    overflow: hidden;
    text-align: center;
}
.add_content li span:first-child{
    line-height: 32px;
}
.add_content input{
    font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    position: relative;
    display: inline-block;
    padding: 4px 11px;
    width: 82%;
    height: 32px;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin-left: 20px;
}
.add_content .add_btns{
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #f60;
    line-height: 28px;
    margin-left: 10px;
    cursor: pointer;
}
.btns-add-new .add-btns-bottom{
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FF6600;
    line-height: 14px;
    text-align: center;
    border: 1px dashed #FF6600;
    border-radius: 4px;
    width: 82%;
    display: inline-block;
    cursor: pointer;
}
.icon-deleternormal{
  font-size: 30px;
  color: #ff6600;
  position: absolute;
  z-index: 99;
  left: 0;
  opacity: 0;
  width: 100%;
}
.icon-deleternormal:hover{
  opacity: 1;
}
