<page-header [title]="'查看会员卡详情'">
    会员卡创建后，一些参数可以修改，比如卡名称、卡面图片、适用商品和门店；而卡类型、售价等参数不可修改。
</page-header>
<nz-card [nzBordered]="false" style="margin-bottom: 0!important;">
    <jn-stores-transfor [moduleId]="moduleId" (storeListPush)="storeListPush($event)" (allStoresNumPush)="getAllStoresNum($event)"></jn-stores-transfor>
    <form nz-form [formGroup]="form">
        <nz-form-item>
            <nz-form-label nzXs="24" nzSm="7">卡类型</nz-form-label>
            <nz-form-control nzXs="24" nzSm="12" nzMd="10"><nz-form-text>{{cardTypeName}}</nz-form-text></nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="cardConfigName">卡名称</nz-form-label>
            <nz-form-control nzXs="24" nzSm="12" nzMd="10">
                <input maxlength="20" nz-input formControlName="cardConfigName" autocomplete="off"  id="productName" placeholder="请输入卡名称">
                <nz-form-explain *ngIf="form.get('cardConfigName').dirty && form.get('cardConfigName').errors">请输入卡名称</nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzXs="24" nzSm="7">售价</nz-form-label>
            <nz-form-control nzXs="24" nzSm="12" nzMd="10"><nz-form-text>{{price}}元</nz-form-text></nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzXs="24" nzSm="7">卡面图片</nz-form-label>
          <nz-form-control nzXs="24" nzSm="12" nzMd="10">
            <nz-form-text style="color: #1890ff;cursor: pointer" (click)="changeCardBg()">
              <span class="btn-img">点击修改图片</span>
            </nz-form-text>
            <!-- 原图片 -->
            <div class="presentImg right-2">
              <img src="{{backGroundImg}}"  style="width: 250px;height: 150px;"/>
              <div class="img-top">
                <div class="logo">logo</div>
                <div class="wenzi">
                  <div class="wenzi-top">商家名称</div>
                  <div class="wenzi-bottom">会员卡名称</div>
                </div>
                <div class="erweima icon-erweima iconfont"></div>
              </div>
              <div class="img-bottom">
                <div class="img-tel">会员手机号</div>
              </div>
            </div>
          </nz-form-control>
        </nz-form-item>
        <!--期限卡-->
        <nz-form-item *ngIf="cardType === 'TIMES'">
            <nz-form-label nzXs="24" nzSm="7">可使用天数</nz-form-label>
            <nz-form-control nzXs="24" nzSm="12" nzMd="10"><nz-form-text>{{validate}}天</nz-form-text></nz-form-control>
        </nz-form-item>
        <!--计次卡-->
        <nz-form-item *ngIf="cardType === 'METERING'">
            <nz-form-label nzXs="24" nzSm="7">可使用次数</nz-form-label>
            <nz-form-control nzXs="24" nzSm="12" nzMd="10"><nz-form-text>{{balance}}次</nz-form-text></nz-form-control>
        </nz-form-item>
        <!--储值卡-->
        <nz-form-item *ngIf="cardType === 'STORED'">
            <nz-form-label nzXs="24" nzSm="7">卡内充值金额</nz-form-label>
            <nz-form-control nzXs="24" nzSm="12" nzMd="10"><nz-form-text>{{balance/100}}元</nz-form-text></nz-form-control>
        </nz-form-item>
        <!--折扣卡-->
        <nz-form-item *ngIf="cardType === 'REBATE'">
            <nz-form-label nzXs="24" nzSm="7">折扣</nz-form-label>
            <nz-form-control nzXs="24" nzSm="12" nzMd="10"><nz-form-text>{{rebate}}折</nz-form-text></nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="ifShow">
            <nz-form-label nzXs="24" nzSm="7" nzFor="validateType">使用有效期</nz-form-label>
            <nz-form-control nzXs="24" nzSm="12" nzMd="10">
              <nz-form-text>{{validateTypeText}}</nz-form-text>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item  *ngIf="ifShow">
            <nz-form-label nzXs="24" nzSm="7" nzFor="isPinCard">是否可销卡</nz-form-label>
            <nz-form-control nzXs="24" nzSm="12" nzMd="10"  *ngIf="cardType === 'STORED' || cardType === 'REBATE' || cardType === 'METERING'">
                <nz-radio-group formControlName="isPinCard">
                    <label nz-radio *ngFor="let item of isPinCardArr" [nzValue]="item.ifPin">{{item.name}}</label>
                </nz-radio-group>
            </nz-form-control>
            <!-- 期限卡不可销卡 -->
            <nz-form-control nzXs="24" nzSm="12" nzMd="10" *ngIf="cardType === 'TIMES'"><nz-form-text>不可销卡</nz-form-text></nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="productTypes">适用商品</nz-form-label>
            <nz-form-control nzXs="24" nzSm="12" nzMd="10">
                <nz-radio-group formControlName="productTypes">
                    <label nz-radio *ngFor="let list of productTypesArr" [nzValue]="list.value" (click)="onSelectAlertBtnProduct(alertProduct, '适用商品', list.value)">{{list.name}}</label>
                </nz-radio-group>
                <ng-container *ngIf="productIds == '' && !showErrorTip">
                  <nz-form-explain class="errorTips">适用商品不可为空</nz-form-explain>
                </ng-container>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="storeType">适用门店</nz-form-label>
            <nz-form-control nzXs="24" nzSm="12" nzMd="10">
                <nz-radio-group formControlName="storeType">
                    <label nz-radio *ngFor="let item of storeStatus"  [nzValue]="item.value" (click)="onSelectAlertBtn(alertStore, '门店', item.value)">{{item.name}}</label>
                </nz-radio-group>
                <ng-container *ngIf="selectStoresIds == '' && !showErrorTip">
                  <nz-form-explain class="errorTips">适用门店不可为空</nz-form-explain>
                </ng-container>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item (click)="submit()">
          <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 7 }">
            <button nz-button nzType="primary" type="submit" [nzLoading]="submitting">保存</button>
          </nz-form-control>
        </nz-form-item>
    </form>
</nz-card>

<!--选择弹框-->
<ng-template #alertStore>
    <app-select-transfer [cityStoreList]="cityStoreList" [allStaffNum]="allStoresNum"
                         (staffIds)="getSelectStoresIds($event)" (staffNames)="getStoreNames($event)"></app-select-transfer>
</ng-template>

<!--选择商品弹框-->
<ng-template #alertProduct>
    <app-select-transfer [cityStoreList]="productListInfor" [allStaffNum]="allProductNumber"
                         (staffIds)="getProductIds($event)" (staffNames)="getProductNames($event)"></app-select-transfer>
</ng-template>

<!--选择图片的弹框-->
<nz-modal [(nzVisible)]="isVisible" nzWidth ="500" [nzFooter]="null"  nzTitle="选择卡面图片" nzOkText="确定" nzCancelText="取消">
  <!--修改卡面背景-->
  <nz-form-text class="btn-photo-clip">
    <span class="btn-img">点击重新上传卡面图</span>
    <input type="file" id="file" accept="image" />
  </nz-form-text>
  <div class="clip-img-box">
    <div id="clipArea"></div>
    <div class="img-top">
      <div class="logo">logo</div>
      <div class="wenzi">
        <div class="wenzi-top">商家名称</div>
        <div class="wenzi-bottom">会员卡名称</div>
      </div>
      <div class="erweima icon-erweima iconfont"></div>
    </div>
    <div class="img-bottom">
      <div class="img-tel">会员手机号</div>
    </div>
  </div>
  <p class="btn-box clearfix">
    <button class="ant-btn ng-star-inserted ant-btn-primary" type="primary" id="clipBtn">
      <span>确定</span>
    </button>
  </p>
</nz-modal>

