
#clipArea {
    height: 180px;
}
.img-hah {
    position: absolute;
    top: 25px;
    left: 35px;
    width: 250px;
    height: 150px;
}
.right-2 {
    width: 300px;
    height: 180px;
    padding: 10px;
    position: relative;
    padding-left: 20px;
}
.img-top,
.img-bottom {
    position: absolute;
    width: 250px;
}
.img-top {
    height: 60px;
    top: 25px;
    left: 45px;
    background: rgba(0, 0, 0, 0.1);
}
.img-bottom {
    height: 45px;
    background: rgba(0, 0, 0, 0.1);
    bottom: 25px;
    left: 45px;
}

.logo,
.wenzi,
.erweima {
    position: absolute;
}

.logo {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
    color: #fff;
    top: 15px;
    left: 16px;
}

.wenzi {
    top: 12px;
    left: 52px;
    text-align: left;
    color: #fff;
    font-size: 12px;
}

.erweima {
    font-size: 24px;
    right: 20px;
    top: 12px;
    color: #fff;
}

.img-tel {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 12px;
    color: #fff;
}
.ifshow{
    display: inline-block;
}
.errorTips{
    color: red;
}
