<page-header></page-header>
<div class="marketing_means">
    <h2>选择优惠券类型</h2>
    <ul class="Voucher clearfix">
        <li (click)="addCoupon()">
            <div class="func_title danpin">
                <span class="type_voucher">单品券</span>
                <span>可配置单品代金券和换购券</span>
            </div>
            <p class="btn_set danpin">点击设置</p>
        </li>
        <li (click)="addNewCoupon()">
            <div class="func_title xinpin">
                <span class="type_voucher">代金券</span>
                <span>拉新神器，精准投放给新顾客</span>
            </div>
            <p class="btn_set xinpin">点击设置</p>
        </li>
    </ul>
</div>
