<div style="position: relative;">
    <nz-radio-group [(ngModel)]="statusFlag" class="mr-md" style="position: absolute;right: 0;top: 10px;z-index: 9;">
            <label nz-radio-button [nzValue]="'1'" (click)="jiechuClick(vipCard)">
                <span>购买记录</span>
            </label>
        </nz-radio-group>
    <nz-card nzTitle="小程序版本选择" style="overflow:hidden" [nzBordered]="false" [nzBodyStyle]="{'position':'relative', 'height':'100%','overflow': 'hidden','margin':'30px'}">
            
        <ul>
            <li class="item-box" *ngFor="let item of typeArr" [style.color]="item.color" (mouseenter)="mouseenter(item)" (mouseleave) ="mouseLeave(item)">
                <div class="itemImg"><img [src]="item.tplImage" style="width:100%;height:100%;" *ngIf="!item.hover" alt=""><img [src]="item.experienceCode" *ngIf="item.hover" style="width:100%;height:100%;" alt=""></div>
                <div class="tabBar iconfont icon-biaoq">
                    <p class="tabBarText" >
                        {{item.tplName}}
                    </p>
                </div>
                <div [style.color]="item.color" class="itemPrice">{{item.price===0?'免费':item.price/100+'元'}}</div>
                <div class="itemBody">
                    <div class="icon-point-copy iconfont" *ngFor="let obj of item.descriptions">{{obj}}</div>
                </div>
    
                <button class="buttons" nz-button nzType="primary" type="submit" (click)="checkFun(item)">{{item.effectiveTime<0?'免费使用':'立即使用'}}</button>
            </li>
        </ul>
    </nz-card>
</div>
<ng-template #vipCard>
    <nz-table [nzNoResult]="'没有数据'" #basicTable [nzShowPagination]="false" [nzData]="data">
            <thead>
                <tr>
                    <th>购买时间</th>
                    <th>小程序模版</th>
                    <th>金额</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data2">
                    <td>{{item.paymentTime}}</td>
                    <td>{{item.tplName}}</td>
                    <td>{{item.paymentAmount/100}}</td>
                </tr>
            </tbody>
    
        </nz-table>
        <div class="nzPaginationBox">
            <nz-pagination class="nzPagination" [nzTotal]="Total2" [nzPageSize]="10" (nzPageIndexChange)="getData2($event)"></nz-pagination>
        </div>
</ng-template>

<nz-modal [(nzVisible)]="isVisible" nzTitle="订购详情" [nzWidth]="800" nzOkText="null"  nzCancelText="取消" (nzOnOk)="null"  (nzOnCancel)="handleCancel()" >
        <nz-form-item >
            <nz-form-label nzXs="24" nzSm="7">选择版本</nz-form-label>
            <nz-form-control nzXs="24" nzSm="12" nzMd="10">
                
            </nz-form-control>
        </nz-form-item>
        <nz-form-item >
        <nz-form-label nzXs="24" nzSm="7">应付金额</nz-form-label>
        <nz-form-control nzXs="24" nzSm="12" nzMd="10">
            
        </nz-form-control>
        </nz-form-item>
        <nz-form-item >
            <nz-form-label nzXs="24" nzSm="7">有效期</nz-form-label>
            <nz-form-control nzXs="24" nzSm="12" nzMd="10">
                
            </nz-form-control>
        </nz-form-item>
        <nz-form-item >
            <nz-form-label nzXs="24" nzSm="7">支付方式</nz-form-label>
            <nz-form-control nzXs="24" nzSm="12" nzMd="10">
                <div>
                    <nz-radio-group [(ngModel)]="size">
                        <label nz-radio-button nzValue="small"><span>支付宝</span></label>
                        <label nz-radio-button nzValue="default"><span>微信</span></label>
                    </nz-radio-group>
                    <div class="erweimaB">
                        <img src="" alt="">
                    </div>
                </div>
                
            </nz-form-control>
        </nz-form-item>
</nz-modal>