<nz-card nzTitle="小程序版本选择" style="overflow:hidden" [nzBordered]="false" [nzBodyStyle]="{'height':'100%','overflow': 'hidden','margin':'30px'}">
    <ul>
        <li class="item-box" *ngFor="let item of typeArr">
            <div class="itemHeadBox">
                <div class="itemHead">
                    <div nz-col nzSpan="7" class="jiantou jiantou1"></div>
                    <div nz-col nzSpan="10" style="text-align:center">{{item.versionName}}</div>
                    <div nz-col nzSpan="7" class="jiantou"></div>
                </div>
            </div>
            <div class="itemImg"></div>
            <div class="itemBody">
                <div class="icon-duihao iconfont" *ngFor="let obj of item.functionList">{{obj}}</div>
            </div>

            <button class="buttons" nz-button nzType="primary" type="submit" (click)="checkFun(item)">{{item.versionName}}</button>
        </li>
    </ul>
</nz-card>