
.content__title{
  position: relative;
}
.content__title .btn-set{
  position: absolute;
  top: 50px;
  right: 30px;
  border: 1px solid #FF6600;
  color: #ff6600;
}

.tac{
  text-align: center;
}
.tal{
  text-align: left;
}
.tar{
  text-align: right;
}
.operation{
  cursor: pointer;
}
