<div class="content-box">
  <div class="select-store-box">
    选择门店：
    <nz-select style="width: 200px;" [(ngModel)]="selectedOption" (ngModelChange)="onStoresChange($event)" [nzShowSearch]="true">
      <nz-option *ngFor="let store of stores" [nzLabel]="store.storeName" [nzValue]="store.storeId"></nz-option>
    </nz-select>
  </div>

  <div class="clearfix">

    <div class="content-title">
      <div class="title-left fl"><span></span>预约记录</div>
      <div (click)="onReserveRecordClick(reserveRecord)" class="title-right fr">
        <div *ngIf="(newReserveCount + 0) > 0">
          <span class="iconfont icon-ld"></span>您有新预约
          <span class="title-reserve-num">{{newReserveCount}}</span>
        </div>
        <div *ngIf="(newReserveCount + 0) == 0">
          <span class="iconfont icon-ld"></span>预约记录
        </div>
        <div></div>
      </div>
    </div>

    <div class="content-container">
      <!--日期-->
      <div class="date-box">
        <span class="date-left-btn iconfont icon-left2" [class.prevent-color]="preventDateLeft" (click)="onDateChangeClick('left')"></span>
        <div class="date">
            <nz-date-picker [nzFormat]="dateFormat" (ngModelChange)="dateChange($event)" [(ngModel)]="date"></nz-date-picker>
        </div>
        <span class="date-right-btn iconfont icon-right" [class.prevent-color]="preventDateRight" (click)="onDateChangeClick('right')"></span>
      </div>

      <!--预约手艺人-->
      <div *ngIf="orderType == 'MAN' && craftsmanBindArr.length > 0" class="clearfix">
        <!--手艺人-->
        <div class="craftsman-box">
          <span class="craftsman-space"></span>
          <ul>
            <li *ngFor="let craftsman of craftsmanBindArr">
              <img [src]="craftsman.avatar || headPortrait" alt="">
              <p>{{craftsman.staffName}}</p>
            </li>
          </ul>
        </div>
        <!--预约信息和时间-->
        <div class="order-content" id="content1" (scroll)="onContentScroll($event)">
          <ng-container *ngIf="showTable">
            <div class="table">
              <!--时间-->
              <div class="table-tr">
                <span class="table-td" *ngFor="let time of timeArr.timeShow">{{time.substring(0,5)}}</span>
              </div>
              <!--预约内容-->
              <div class="table-tr" *ngFor="let data of dataArr; let i = index">
                <span class="table-td" *ngFor="let item of data; let j = index"
                      [class.no-order-td-bg]="(timeArr.time[j] < nowTime.getTime() && isToday) || craftsmanBindArr[i].timeList.indexOf(timeArr.timeShow[j].substring(0,5)) < 0"
                      (mouseenter)="onTdMouseEnter(item, craftsmanBindArr[i].reservations[j].reservationsId, ((timeArr.time[j] < nowTime.getTime() && isToday) || craftsmanBindArr[i].timeList.indexOf(timeArr.timeShow[j].substring(0,5)) < 0))"
                      (mouseleave)="onTdMouseLeave()">
                  <div class="order-td" *ngIf="timeArr.timeShow.indexOf(craftsmanBindArr[i].reservations[j].time) == j && craftsmanBindArr[i].reservations[j].reservationsType == 'RESERVE'" (click)="onOrderMsgClick(craftsmanBindArr[i].reservations[j], orderMsg)">
                    <p *ngIf="craftsmanBindArr[i].reservations[j].status === 'INIT'" class="new-order-text">新预约</p>
                    <p>{{craftsmanBindArr[i].reservations[j].peopleNumber}}人</p>
                    <p>{{craftsmanBindArr[i].reservations[j].phone}}</p>
                    <p>{{craftsmanBindArr[i].reservations[j].productName}}</p>
                  </div>
                  <div class="hover-td" *ngIf="hoverTdXY == item">
                    <p (click)="onCreateOrder(item, createOrder)">新建预约</p>
                    <p (click)="onOccupyBtnClick(item)">手动占用</p>
                  </div>
                  <div *ngIf="timeArr.timeShow.indexOf(craftsmanBindArr[i].reservations[j].time) == j && craftsmanBindArr[i].reservations[j].reservationsType == 'OCCUPATION'" (click)="onOccupyClick(item)" class="iconfont icon-jinzhi"></div>
                  <div *ngIf="j == lineIndex">
                    <span [class.line-middle]="nowTime.getTime() - timeArr.time[lineIndex] == 15*60*1000"></span>
                    <span [class.line-left]="nowTime.getTime() - timeArr.time[lineIndex] < 15*60*1000"></span>
                    <span [class.line-right]="nowTime.getTime() - timeArr.time[lineIndex] > 15*60*1000"></span>
                  </div>
                </span>
              </div>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="reserver-none" *ngIf="orderType === 'MAN' && craftsmanBindArr.length === 0">
        暂无手艺人排班 <br>
        您可以到管理-预约设置中给手艺人设置排班和可预约商品
      </div>

      <!--只预约商品-->
      <div class="only-order-product" *ngIf="orderType == 'PRODUCT' || orderType == 'TIME'">
        <!--预约信息和时间-->
        <div class="order-content" id="content2" (scroll)="onContentScroll($event)">
          <table>
            <!--时间-->
            <tr>
              <td *ngFor="let time of timeArr.timeShow">{{time.substring(0,5)}}</td>
            </tr>
            <!--预约内容-->
            <tr *ngFor="let data of dataArr; let i = index">
              <td *ngFor="let item of data; let j = index" [class.no-order-td-bg]="timeArr.time[j] < nowTime.getTime() && isToday" (mouseenter)="onTdMouseEnter(item, productTimeReserve[j].reservationsList[i].reservationsId, timeArr.time[j] < nowTime.getTime() && isToday)"
                  (mouseleave)="onTdMouseLeave()">
                <div class="order-td" *ngIf="timeArr.timeShow[j] == productTimeReserve[j].reservationsList[i].time && productTimeReserve[j].reservationsList[i].reservationsType == 'RESERVE'" (click)="onOrderMsgClick(productTimeReserve[j].reservationsList[i], orderMsg)">
                  <p *ngIf="productTimeReserve[j].reservationsList[i].status === 'INIT'" class="new-order-text">新预约</p>
                  <p>{{productTimeReserve[j].reservationsList[i].peopleNumber}}人</p>
                  <p>{{productTimeReserve[j].reservationsList[i].phone}}</p>
                  <p>{{productTimeReserve[j].reservationsList[i].productName}}</p>
                </div>
                <div class="hover-td" *ngIf="hoverTdXY == item">
                  <p (click)="onCreateOrder(item, createOrder)">新建预约</p>
                  <p (click)="onOccupyBtnClick(item)">手动占用</p>
                </div>
                <!--手动占用图标-->
                <div *ngIf="timeArr.timeShow[j] == productTimeReserve[j].reservationsList[i].time && productTimeReserve[j].reservationsList[i].reservationsType == 'OCCUPATION'" (click)="onOccupyClick(item)" class="iconfont icon-jinzhi"></div>
                <div *ngIf="j == lineIndex">
                  <span [class.line-middle]="nowTime.getTime() - timeArr.time[lineIndex] == 15*60*1000"></span>
                  <span [class.line-left]="nowTime.getTime() - timeArr.time[lineIndex] < 15*60*1000"></span>
                  <span [class.line-right]="nowTime.getTime() - timeArr.time[lineIndex] > 15*60*1000"></span>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!--点击预约信息弹出预约详情框-->
<ng-template #orderMsg>
    <div class="order-msg-alert">
        <div class="alert-item">
            <span class="order-msg-left">手机号</span>
            <span class="order-msg-right">{{reservation.phone}}</span>
        </div>
        <div class="alert-item">
            <span class="order-msg-left">预约时间</span>
            <span class="order-msg-right">{{reservation.date}}  {{reservation.time}}</span>
        </div>
        <div class="alert-item" *ngIf="orderType == 'MAN'">
            <span class="order-msg-left">手艺人</span>
            <span class="order-msg-right">{{reservation.staffName}}</span>
        </div>
        <div class="alert-item" *ngIf="orderType == 'MAN' || orderType == 'PRODUCT'">
            <span class="order-msg-left">商品</span>
            <span class="order-msg-right">{{reservation.productName}}</span>
        </div>
        <div class="alert-item">
            <span class="order-msg-left">人数</span>
            <span class="order-msg-right">{{reservation.peopleNumber}}人</span>
        </div>
        <div class="alert-item">
            <span class="order-msg-left">备注</span>
            <span class="order-msg-right">{{reservation.note}}</span>
        </div>
        <div *ngIf="status === 'INIT'" class="reserve-init-box">
            <button (click)="onAccpetBtnClick()">接受预约</button>
            <button (click)="onRefuseBtnClick()">拒绝</button>
        </div>
        <div *ngIf="status === 'SUCCESS'" class="cancel-box">
            <button class="cancel-btn" (click)="onCancelReservationClick()">取消预约</button>
        </div>
    </div>
</ng-template>

<!--点击新建预约弹出框-->
<ng-template #createOrder>
    <div class="alert-item">
        <span class="order-msg-left">手机号</span>
        <input type="text" maxlength="11" [(ngModel)]="phone" placeholder="请输入顾客手机号">
    </div>
    <div class="alert-item">
        <span class="order-msg-left">预约时间</span>
        <span class="order-msg-right">{{date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate()}} {{timeArr.timeShow[createReserveY]}}</span>
        <!--<span class="order-msg-right">2017.05.18  19：30</span>-->
    </div>
    <div class="alert-item" *ngIf="orderType == 'MAN'">
        <span class="order-msg-left">手艺人</span>
        <span class="order-msg-right">{{craftsmanBindArr[createReserveX].staffName}}</span>
    </div>
    <div class="alert-item" *ngIf="orderType == 'MAN' || orderType == 'PRODUCT'">
        <span class="order-msg-left">商品</span>
        <select (change)="onSelectProductClick($event)">
            <option *ngFor="let item of craftsmanProducts" [value]="item.productId + ','+ item.productName">{{item.productName}}</option>
        </select>
    </div>
    <div class="alert-item">
        <span class="order-msg-left">人数</span>
        <select (change)="onSelectPeopleChange($event)">
            <option *ngFor="let item of peopleNumberArr" [value]="item">{{item}}</option>
        </select>
    </div>
    <div class="alert-item">
        <span class="order-msg-left">备注</span>
        <textarea placeholder="1-20个字" [(ngModel)]="note"></textarea>
    </div>
</ng-template>

<!--点击预约记录弹出框-->
<ng-template #reserveRecord>
    <div class="reserve-record-alert">
        <div class="alert-tab-box">
            <ul>
                <li (click)="onRecordStatusClick('')" [class.jn-color]="reserveStatus == ''">全部预约</li>
                <li (click)="onRecordStatusClick('INIT')" [class.jn-color]="reserveStatus == 'INIT'">待接受</li>
                <li (click)="onRecordStatusClick('SUCCESS')" [class.jn-color]="reserveStatus == 'SUCCESS'">已接受</li>
                <li (click)="onRecordStatusClick('CANCEL')" [class.jn-color]="reserveStatus == 'CANCEL'">已取消</li>
            </ul>
            <div class="alert-date-box">
                <!--<nz-datepicker (ngModelChange)="recordDateChange($event)" [(ngModel)]="recordDate" ></nz-datepicker>-->
            </div>
        </div>

        <nz-table #nzTable [nzData]="reserveRecordList" [nzShowPagination]="false">
            <thead>
            <tr>
                <th *ngFor="let item of theadName"><span>{{item}}</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of reserveRecordList;let ind = index">
                <td>{{data.staffName || '---'}}</td>
                <td>{{data.phone || '---'}}</td>
                <td>{{data.date}} {{data.time}}</td>
                <td>{{data.productName || '---'}}</td>
                <td>{{data.peopleNumber || '---'}}<span *ngIf="data.peopleNumber">人</span></td>
                <td class="record-candle-btn">
                    <div *ngIf="data.status == 'INIT'" class="jn-color">
                        <span (click)="onAlertCandleClick('SUCCESS', data.reservationsId)">接受</span> /
                        <span (click)="onAlertCandleClick('REFUSE', data.reservationsId)">拒绝</span>
                    </div>
                    <div *ngIf="data.status == 'SUCCESS'">
                        <span>已接受</span> /
                        <span class="jn-color" (click)="onAlertCandleClick('CANCEL', data.reservationsId)">取消预约</span>
                    </div>
                    <div *ngIf="data.status == 'CANCEL' || data.status == 'REFUSE'">
                        <span>已取消</span> /
                        <span class="jn-color" (click)="onAlertCandleClick('DELETE', data.reservationsId)">删除</span>
                    </div>
                </td>
            </tr>
            </tbody>
        </nz-table>

        <div class="nzPaginationBox">
            <nz-pagination class="nzPagination" (nzPageIndexClickChange)="paginate($event)" (nzPageIndexChange)="paginate($event)" [nzPageIndex]="1" [nzTotal]="countPage"></nz-pagination>
        </div>
    </div>
</ng-template>
