.storeMain{
    background: #fff;
    width: 100%;
    padding: 20px;
}
.nzPaginationBox{
    margin: 20px;
    overflow: hidden;
}
.nzPagination{
    float: right;
}
.buttonBox{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.button{
    cursor: pointer;
}
.iconfont{
    font-size: 40px;
    cursor: pointer;
}
.weixin{
    color: #04c104;
}
.zhifubao{
    color: #0090e4;
}
.ant-table{
    line-height: 0.5 !important;
}