.ml10{
    margin-left: 10px;
}
.search__form .ant-form-item{
    margin-bottom: 0!important;
}
.nzPaginationBox{
    margin: 20px;
    overflow: hidden;
}
.nzPagination{
    float: right;
}
.mb24{
    margin-bottom: 24px;
}
.nzPagination{
    float: right;
    padding: 20px 0;
}
nz-date-picker{
  display: inline-block;
  position: absolute;
  width: 172px;
}
.box-time-pick nz-date-picker:last-of-type{
  left: 180px;
}
.tabset{
  float: left;
  position: absolute;
  top: -10px;
  left: 0;
}
