@import 'node_modules/@delon/theme/styles/default';
@primary-color:#ff7700;

.qrcode-alert {
  text-align: center;
  img {
    width: 300px;
    height: 300px;
  }
}

:host ::ng-deep {
  .icon-group {
    transition: color 0.32s;
    color: @text-color-secondary;
    cursor: pointer;
    margin-left: 16px;
    &:hover {
      color: @text-color;
    }
  }

  .today-yings {
    position: relative;

    .look-qrcode-btn {
      position: absolute;
      right: 20px;
      top: 20px;
      color: @primary-color;
      font-size: 14px;
      cursor: pointer;
      z-index: 1;
    }
  }

  .rank-list {
    padding: 0 32px 32px 72px;
    ul {
      margin-top: 25px;
    }
    li {
      zoom: 1;
      margin-top: 16px;
      display: flex;
      justify-content: space-between;
      .icon {
        background-color: #f5f5f5;
        border-radius: 20px;
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
        margin-right: 24px;
        height: 20px;
        line-height: 20px;
        width: 20px;
        text-align: center;
      }
      .active {
        background-color: #314659;
        color: #fff;
      }
    }
  }

  .sales-extra {
    display: inline-block;
    margin-right: 24px;
    a {
      margin-left: 24px;
    }
  }

  .sales-card {
    .bar {
      padding: 0 0 32px 32px;
    }
    .rank {
      padding: 0 32px 32px 72px;
    }
    .ant-tabs-tab {
      padding-top: 16px;
      padding-bottom: 14px;
      line-height: 24px;
    }

    .ant-tabs-extra-content {
      padding-right: 24px;
      line-height: 55px;
    }

    .ant-card-head {
      position: relative;
    }
  }

  .sales-card-extra {
    height: 68px;
  }

  .sales-type-radio {
    position: absolute;
    left: 24px;
    bottom: 15px;
  }

  .offline-card {
    .ant-tabs-ink-bar {
      bottom: auto;
    }
    .ant-tabs-bar {
      border-bottom: none;
    }
    .ant-tabs-nav-container-scrolling {
      padding-left: 40px;
      padding-right: 40px;
    }
    .ant-tabs-tab-prev-icon:before {
      position: relative;
      left: 6px;
    }
    .ant-tabs-tab-next-icon:before {
      position: relative;
      right: 6px;
    }
  }

  .trend-text {
    margin-left: 8px;
    color: @heading-color;
  }

  .project-list {
    .ant-card-meta-description {
      color: @text-color-secondary;
      height: 44px;
      line-height: 22px;
      overflow: hidden;
    }
    .card-title {
      text-align: center;
      cursor: pointer;
      font-size: 0;
      .iconfont {
        font-size: 25px;
      }
      span {
        color: @heading-color;
        line-height: 24px;
        height: 24px;
        display: inline-block;
        vertical-align: top;
        font-size: @font-size-base;
      }
    }

    .project-grid {
      width: 25%;
      height: 116px;
      padding: 13px 1px;
    }

    .project-item {
      display: flex;
      margin-top: 8px;
      overflow: hidden;
      font-size: 12px;
      height: 20px;
      line-height: 20px;
      .textOverflow();
      a {
        color: @text-color-secondary;
        display: inline-block;
        flex: 1 1 0;
        .textOverflow();
        &:hover {
          color: @primary-color;
        }
      }
      .datetime {
        color: @disabled-color;
        flex: 0 0 auto;
        float: right;
      }
    }
  }

  .pay_way_echart {
    height: 200px;
    background-color: #fff;
    #pay_way_echart {
      //width: 358px;
      height: 100%;
    }
  }
  .sub-title {
    border-bottom: 1px solid #e8e8e8;
    padding: 0 24px;
    border-radius: 2px 2px 0 0;
    zoom: 1;
    margin-bottom: -1px;
    height: 62px;
    line-height: 62px;

    span {
      font-size: 16px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: rgba(0, 0, 0, 0.85);
      font-weight: 500;
    }
  }
  .seven-day-flow {
    background-color: #fff;
    height: 500px;
    margin-top: 20px;

    #seven_day_flow {
      height: 440px;
    }
  }

  @media screen and (max-width: @screen-lg) {
    .sales-extra {
      display: none;
    }

    .rank-list {
      li {
        span:first-child {
          margin-right: 8px;
        }
      }
    }
  }

  @media screen and (max-width: @screen-md) {
    .rank-title {
      margin-top: 16px;
    }

    .sales-card .bar {
      padding: 16px;
    }
    .project-list {
      .project-grid {
        width: 50%;
      }
    }
  }

  @media screen and (max-width: @screen-sm) {
    .sales-extra-wrap {
      display: none;
    }

    .sales-card {
      .ant-tabs-content {
        padding-top: 30px;
      }
    }
  }

  @media screen and (max-width: @screen-xs) {
    .project-list {
      .project-grid {
        width: 100%;
      }
    }
  }

  .ant-table-pagination {
    margin-bottom: 0;
  }
}

.header-info {
  position: relative;
  text-align: center;
  > em {
    background-color: #e8e8e8;
    position: absolute;
    height: 56px;
    width: 1px;
    top: 0;
    right: 0;
  }
}

.module-item-box {
  display: flex;
  justify-content: space-around;
}

.module-item {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  box-sizing: border-box;
  width: 25%;
}

@media screen and (max-width: 576px) {
  .header-info {
    margin-bottom: 16px;
    > em {
      display: none;
    }
  }
}
