<nz-modal [(nzVisible)]="isVisible" nzTitle="口碑商品报错解决方案" [nzWidth]="800" (nzOnCancel)="handleOk()" (nzOnOk)="handleOk()" >
    <h3 style="margin-bottom: 20px;">新建口碑商品时的常见报错</h3>
    <p>1.名称及内容涉及违禁词(卡类的(会员卡\折扣卡...)；医药类的(玻尿酸...)；成人类的0；病理类(根治哪些疾病)；团购 ；美团等)及特殊符号(￥$“”\ 梅花星号等)。</p>
    <p>2.商品类目选择分类不是叶子类目或者高危类目等提示报错，请修改商品类目后进行保存。</p>
    <div>
        <p>3.核销有效期和商品上下架时间有冲突，请核对以下数据。</p>
        <p>·核销有效期开始时间不能早于设定的上架时间。</p>
        <p>·核销有效期结束时间不能早于设定的定时下架时间。</p>
    </div>
    <p>4.手机端上传口碑商品的原价／现价不能出现中文字符 “元”。</p>
    <h3 style="margin: 20px 0;">上／下架口碑商品时的常见报错</h3>
    <p>1.提示gmtEnd非法时，请查看设定的定时下架时间是否过期，重新设定后保存即可。</p>
    <p>2.商品到了定时下架设定的时间之后会变为“失效”状态，商家无法直接上架，请联系桔牛客服010-80441899解决</p>
    <p>3.修改商品后点击保存提示：“另一笔商品正在修改”，因为您修改商品太频繁，请联系桔牛客服010-80441899解决。</p>
    <p>4.以前创建的商品未上架，进行第一次上架时提示报错时，请检查商品上架时间，将上架时间改为当前或以后的时间即可。</p>
    <p>5.提示“修改口碑商品状态失败，未知的错误码”，请查看是否包含违禁词、特殊符号或者定时下架时间为空。</p>
    <h3 style="margin: 20px 0;">特殊情况的报错</h3>
    <p>1.提示系统繁忙时，请先刷新并检查网络问题，若仍提示系统繁忙，请联系桔牛客服010-80441899</p>
    <p>2.pc端上传口碑商品时，商品名称不可为纯数字。</p>
    <p>3.pc端上传口碑商品但未上架商品，在手机端上传商品时提示失败，请在pc端上架该商品。</p>
    <h3 style="margin: 20px 0;">若以上方案还未能解决你的问题，请联系桔牛客服010-80441899</h3>
</nz-modal>