<page-header></page-header>
<div class="memberAnalysis-top">
    <div class="addvip-main">
        <div class="addvip-bottom">
            <div>
                <div>储值卡</div>
                <div>导入一张储蓄卡</div>
                <div (click)="alertAddCard(modalContent,'STORED')">点击导入</div>
            </div>
            <div>
                <div>计次卡</div>
                <div>导入一张计次卡</div>
                <div (click)="alertAddCard(modalContent,'METERING')">点击导入</div>
            </div>
            <div>
                <div>期限卡</div>
                <div>导入一张期限卡</div>
                <div (click)="alertAddCard(modalContent,'TIMES')">点击导入</div>
            </div>
            <div>
                <div>折扣卡</div>
                <div>导入一张折扣卡</div>
                <div (click)="alertAddCard(modalContent,'REBATE')">点击导入</div>
            </div>
        </div>
    </div>
    <div class="memberAnalysis-bottom">
        <h3 class="flex-1 text-lg borderLeft">导入记录</h3>
        <nz-tabset  class="mr-md" (nzSelectChange)="console2($event)">
            <nz-tab nzTitle="全部">
            </nz-tab>
            <nz-tab nzTitle="储蓄卡">
            </nz-tab>
            <nz-tab nzTitle="计次卡">
            </nz-tab>
            <nz-tab nzTitle="期限卡">
            </nz-tab>
            <nz-tab nzTitle="折扣卡">
            </nz-tab>
        </nz-tabset>
        <div style="margin-top:30px;"></div>
        <simple-table #st [columns]="columns" [data]="data2" style="min-height:600px;"   >
            <ng-template>
                <ng-template st-row="status" let-i>
                    <nz-badge [nzStatus]="i.statusType" [nzText]="i.statusText"></nz-badge>
                </ng-template>
            </ng-template>
        </simple-table>
        <div class="nzPaginationBox">
            <nz-pagination class="nzPagination" [nzTotal]="Total" [nzPageSize]="10" (nzPageIndexChange)="getData($event)"></nz-pagination>
        </div>
    </div>
</div>

<ng-template #modalContent>
    <div class="addStaffBox-main">
        <div>
            <div class="addStaffBox-main-left icon-asterisks-1-copy iconfont">门店</div>
            <div class="addStaffBox-main-right">
                <!-- <jn-stores-infor [nzXs]="7" [moduleId]="moduleId" [ifStoresAll]="ifStoresAll" [ifStoresAuth]="ifStoresAuth" (storeListPush)="storeListPush($event)"
      (storeIdOutput)="getStoreId($event)"></jn-stores-infor> -->
                <nz-select style="width:240px;" (ngModelChange)="selectStoreInfo($event)" [nzPlaceHolder]="'请选择一个门店'"
                    [nzShowSearch]="true">
                    <nz-option [nzLabel]="'请选择一个门店'" [nzValue]="'ALL'">
                    </nz-option>
                    <nz-option *ngFor="let item of storeList" [nzLabel]="item.storeName" [nzValue]="item">
                    </nz-option>
                </nz-select>
            </div>
        </div>
        <div>
            <div class="addStaffBox-main-left icon-asterisks-1-copy iconfont">手机号</div>
            <div class="addStaffBox-main-right">
                <nz-input-number [(ngModel)]="phone" style="width:240px;" [nzMin]="0" [nzMax]="19999999999" placeholder="请输入顾客手机号" [nzStep]="1"></nz-input-number>
            </div>
        </div>
        <div>
            <div class="addStaffBox-main-left icon-asterisks-1-copy iconfont">姓名</div>
            <div class="addStaffBox-main-right">
                <input nz-input [(ngModel)]="name" placeholder="请输入会员姓名" style="width:240px;">
            </div>
        </div>

        <div>
            <div class="addStaffBox-main-left icon-asterisks-1-copy iconfont">{{typeName}}名称</div>
            <div class="addStaffBox-main-right">
                <nz-select [(ngModel)]="cardConfigId1" style="width:240px;" (ngModelChange)="selectCardName($event)" [nzPlaceHolder]="'请选择一张'+typeName"
                    [nzShowSearch]="true">
                    <nz-option *ngFor="let item of cardList" [nzLabel]="item.cardConfigName" [nzValue]="item">
                    </nz-option>
                </nz-select>
            </div>
        </div>
        <div>
            <div class="addStaffBox-main-left icon-asterisks-1-copy iconfont">{{typeName}}规则</div>
            <div class="addStaffBox-main-right">
                <nz-select [(ngModel)]="cardConfigRuleId" style="width:240px;" (ngModelChange)="selectRules($event)" [nzPlaceHolder]="'请选择一个'+typeName+'规则'"
                    [nzShowSearch]="true">
                    <nz-option *ngFor="let list of rulesList" [nzLabel]="'卡金额:'+list.balance/100+';售价:'+list.price/100+';有效期:'+list.validate"
                        [nzValue]="list.ruleId"></nz-option>
                </nz-select>
            </div>
        </div>
        <div *ngIf="cardType!=='TIMES'">
            <div class="addStaffBox-main-left icon-asterisks-1-copy iconfont">{{cardType==='METERING'?'剩余次数':'卡内余额'}}</div>
            <div class="addStaffBox-main-right">
                <input *ngIf="cardType!=='METERING'" nz-input [(ngModel)]="balance" onkeyup="var p2 = parseFloat(value).toFixed(2);value = p2>=0?(/\.0?$/.test(value)?value:p2.replace(/0$/,'').replace(/\.0$/,'')):''"
                    placeholder="请输入卡内余额" style="width:240px;">
                <input nz-input *ngIf="cardType==='METERING'" [(ngModel)]="balance" placeholder="请输入剩余次数" style="width:240px;">
            </div>
        </div>

        <div>
            <div class="addStaffBox-main-left icon-asterisks-1-copy iconfont">有效期</div>
            <div class="addStaffBox-main-right">
                <input onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"
                    onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"
                    nz-input [(ngModel)]="effectivityDays" placeholder="请输入卡的剩余有效期" style="width:240px;">
            </div>
        </div>
        <div>
            <div class="addStaffBox-main-left icon-asterisks-1-copy iconfont">卡号(选填)</div>
            <div class="addStaffBox-main-right">
                <input nz-input [(ngModel)]="cardNum" placeholder="请输入卡号" style="width:240px;">
            </div>
        </div>
    </div>
</ng-template>