<page-header [title]="'新增服务产品'">
  服务项目为收银时选择的店内项目，比如“剪发、足底”等需要人服务的、非实物商品。
</page-header>
<nz-card [nzBordered]="false">
  <jn-stores-transfor [moduleId]="moduleId" (storeListPush)="storeListPush($event)" (allStoresNumPush)="getAllStoresNum($event)"></jn-stores-transfor>
  <form nz-form [formGroup]="form" (ngSubmit)="submit()">
    <nz-form-item>
      <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="categoryInfor">项目类型</nz-form-label>
      <nz-form-control nzXs="24" nzSm="12" nzMd="10">
        <nz-select formControlName="categoryInfor" [nzPlaceHolder]="'请选择项目类型'" [nzShowSearch]="true">
          <nz-option *ngFor="let i of categoryList" [nzLabel]="i.categoryName" [nzValue]="i.categoryId +','+ i.categoryName"></nz-option>
        </nz-select>
        <nz-form-explain class="errorTips" *ngIf="(categoryInfor.dirty || categoryInfor.touched) && categoryInfor.errors?.required">请选择商品分类</nz-form-explain>
        <span style="right: -130px;" class="add-categoryName-btn" (click)="addNewProductTypes(category)">新增项目分类</span>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="productName">项目名称</nz-form-label>
      <nz-form-control nzXs="24" nzSm="12" nzMd="10">
        <input nz-input formControlName="productName" autocomplete="off" maxlength="20" id="productName" placeholder="请输入项目名称">
        <nz-form-explain class=errorTips *ngIf="form.get('productName').dirty && form.get('productName').errors">请输入项目名称</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzXs="24" nzSm="7" nzFor="productNo">
        项目编号
        <em>
          <nz-tooltip nzTitle="项目编号展示在收银页面，方便收银操作时快速选择服务项目">
            <i nz-tooltip class="anticon anticon-info-circle-o"></i>
          </nz-tooltip>
        </em>
      </nz-form-label>
      <nz-form-control nzXs="24" nzSm="12" nzMd="10">
        <input maxlength="6" nz-input formControlName="productNo" autocomplete="off" id="productNo" placeholder="请输入1-6位商品编号">
        <nz-form-explain class="errorTips"  *ngIf="form.get('productNo').dirty && form.get('productNo').errors">商品编号只能为数字</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzXs="24" nzSm="7" nzFor="card_img">项目图片(选填)</nz-form-label>
      <nz-form-control nzXs="24" nzSm="12" nzMd="10">
        <div class="pics_box clearfix">
          <div class="img-box">
            <img class="upload-img" src="./assets/img/upload.png">
            <input type="file" accept="image" (change)="uploadImage($event)">
            <img class="image" [src]="imagePath" *ngIf="imagePath">
            <nz-spin *ngIf="spinBoolean" style="height: 102px;
            line-height: 102px;
            text-align: center;" [nzSize]="'large'"></nz-spin>
            <i *ngIf="imagePath" class="iconfont icon-deleternormal" (click)="deleteImage()"></i>
          </div>
        </div>
        <nz-form-explain style="margin-top: 10px">商品图片用于在线购买的展示</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="currentPrice">售价(元)</nz-form-label>
      <nz-form-control nzXs="24" nzSm="12" nzMd="10">
        <input nz-input formControlName="currentPrice" autocomplete="off" maxlength="11" id="currentPrice" placeholder="请输入项目价格">
        <ng-container *ngIf="currentPrice.dirty || currentPrice.touched">
          <nz-form-explain class="errorTips" *ngIf="currentPrice.errors?.required">服务项目售价不可为空</nz-form-explain>
          <nz-form-explain class="errorTips" *ngIf="currentPrice.errors?.pattern">服务项目售价只能是整数或者带有两位小数的数字</nz-form-explain>
          <nz-form-explain class="errorTips" *ngIf="currentPrice.errors?.max">服务项目售价范围“0.01-99999999.99”</nz-form-explain>
          <nz-form-explain class="errorTips" *ngIf="currentPrice.errors?.min">服务项目售价范围“0.01-99999999.99”</nz-form-explain>
        </ng-container>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzXs="24" nzSm="7" nzFor="costPrice">项目成本(元)</nz-form-label>
      <nz-form-control nzXs="24" nzSm="12" nzMd="10">
        <input nz-input formControlName="costPrice" maxlength="11" autocomplete="off" id="costPrice" placeholder="请输入产品价格">
        <ng-container *ngIf="costPrice.dirty || costPrice.touched">
          <nz-form-explain class="errorTips" *ngIf="costPrice.errors?.pattern">服务项目成本只能是整数或者带有两位小数的数字</nz-form-explain>
          <nz-form-explain class="errorTips" *ngIf="costPrice.errors?.max">服务项目成本范围“0.01-99999999.99”</nz-form-explain>
          <nz-form-explain class="errorTips" *ngIf="costPrice.errors?.min">服务项目成本范围“0.01-99999999.99”</nz-form-explain>
        </ng-container>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzXs="24" nzSm="7" nzFor="storeType">适用门店</nz-form-label>
      <nz-form-control nzXs="24" nzSm="12" nzMd="10">
        <nz-radio-group formControlName="storeType">
          <label nz-radio *ngFor="let item of storeStatus"  [nzValue]="item.value" (click)="onSelectAlertBtn(alertStore, '门店', item.value)">{{item.name}}</label>
          <ng-container>
            <nz-form-explain class="errorTips" *ngIf="selectStoresIds === '' && ifShow">请至少选择一个门店</nz-form-explain>
          </ng-container>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="stock">上下架状态</nz-form-label>
      <nz-form-control nzXs="24" nzSm="12" nzMd="10">
        <nz-radio-group formControlName="status">
          <label nz-radio *ngFor="let status of ItemsStatus" [nzValue]="status.value">{{status.name}}</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
    
    <nz-form-item>
      <nz-form-label nzXs="24" nzSm="7"  nzFor="stock">小程序展示详情</nz-form-label>
      <nz-form-control nzXs="24" nzSm="12" nzMd="10">
       <span class="iconfont {{showDiv?'icon-shangla':'icon-xiala1'}}" style="cursor: pointer;color:#ff6600;" (click)="showDivFun()">{{showDiv?'点击收起':'点击展开'}}</span>
      </nz-form-control>
    </nz-form-item>
    <div  class="{{!showDiv?'displayNone':''}}">
   
  
  
      <nz-form-item>
        <nz-form-label nzXs="24" nzSm="7" nzFor="card_img">商品详情</nz-form-label>
        <nz-form-control nzXs="24" nzSm="12" nzMd="10">
          <juniu-upload-img [image]="pictureDetails" [uploadNum]="5" [syncAlipay]="syncAlipay" [bizType]="'shop'" [isClear]="isClear"
                    (img)="getPictureDetails($event)"></juniu-upload-img>
          <nz-form-explain style="margin-top: 10px">上传商品详情介绍图片，最多上传5张详情图片，图片尺寸需大于750*520</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
  
      <nz-form-item>
        <nz-form-label nzXs="24" nzFor="presentPrice" nzSm="7">购买须知</nz-form-label>
        <nz-form-control nzXs="24" nzSm="12" nzMd="12">
            <section class="content_juniu">
                <div class="marketing_means">
                    <div class="edit_goods_infor clearfix">
                        <ul class="clearfix">
                            <li class="clearfix">
                                <div class="right-block fl descriptions">
                                    <form class="descriptions_form" *ngFor="let list of buyerNotes;let j = index">
                                        <input type="text" value="" maxlength="40"  class="juniu_input" [value]="list.title" (change)="getnoteTitledata(j,$event.target.value)"
                                            placeholder="请输入标题，最多输入40个字">
                                       
                                        <div class="details_list_box">
                                            <div class="form_parent" style="position:relative;" *ngFor="let detail of list.details;let noteIndex =index">
                                                <textarea type="text" name="details" maxlength="100" class="desc_textarea" [value]="detail.item" (change)="getnoteDetaildata(j,noteIndex,$event.target.value)"
                                                    placeholder="请输入内容，最多输入100个字，更多内容点“添加更多”"></textarea>
                                               
                                                <span class="descriptions_add_btn descriptions_btns" (click)="addLineNoteDetail(j)">添加更多</span>
                                                <span class="descriptions_minus_btn descriptions_btns" (click)="deleteNoteDetail(j,noteIndex)">删除</span>
                                            </div>
                                        </div>
                                        <p class="double_btn">
                                            <span class="descriptions_addAll_btn" (click)="addGroupBuynote()">增加一组</span>
                                            <span class="descriptions_minusAll_btn" (click)="pluseGroupbuyNote(j)">删除此组</span>
                                        </p>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzXs="24" nzSm="7"  nzFor="idx">商品权重</nz-form-label>
      <nz-form-control nzXs="24" nzSm="12" nzMd="10">
          <nz-input-number formControlName="idx" [nzFormatter]="formatterDollar" id="idx"  style="width:200px !important;"  [nzMin]="1" [nzMax]="99999" [nzStep]="1"></nz-input-number>
        <nz-form-explain style="margin-top: 10px">请输入整数，权重越大商品在小程序中展示位置越靠前，最大99999。</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
      <nz-form-label nzXs="24" nzSm="7"  nzFor="wxBuyLimitNum">限购数量</nz-form-label>
      <nz-form-control nzXs="24" nzSm="12" nzMd="10">
          <nz-input-number formControlName="wxBuyLimitNum" [nzFormatter]="formatterDollar" style="width:200px !important;" id="wxBuyLimitNum" [nzMin]="1" [nzMax]="99999" [nzStep]="1"></nz-input-number>
        <nz-form-explain style="margin-top: 10px">请输入单次限购份数(整数)，不填默认不限制。</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
      <nz-form-label nzXs="24" nzSm="7"  nzFor="cutOffDays">核销截止日期</nz-form-label>
      <nz-form-control nzXs="24" nzSm="12" nzMd="10">
        自购买之日起 <nz-input-number formControlName="cutOffDays" [nzFormatter]="formatterDollar" style="width:100px !important;margin:0 10px;" id="cutOffDays" [nzMin]="7" [nzMax]="180" [nzStep]="1"></nz-input-number> 天内可使用可输入范围7-180天
        <nz-form-explain style="margin-top: 10px">可输入范围7-180天</nz-form-explain>
        <!-- <nz-form-explain class=errorTips *ngIf="form.get('cutOffDays').dirty && form.get('cutOffDays').errors">请输入单次限购份数</nz-form-explain> -->
      </nz-form-control>
    </nz-form-item>

    </div>
    
    <nz-form-item>
      <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 7 }">
        <button nz-button nzType="primary" type="submit" [nzLoading]="submitting">保存</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>

<!--商品分类弹框-->
<ng-template #category>
  <div class="reserve-record-alert">
    <ul class="add_content">
      <li class="clearfix" *ngFor="let list of addNewCommodityType;let types = index">
        <span>{{types+1}}</span>
        <input nz-input class="" type="text" placeholder="请输入分类名称" maxlength="10" [value]="list.categoryName" (change)="addDescriptions($event.target.value, types)" />
        <span class="add_btns" (click)="deleteCategoryClick(types,list.categoryId)">删除</span>
      </li>
      <li class="btns-add-new">
        <p class="add-btns-bottom" (click)="addNewProductTypesClick()">
          <span style="font-size: 18px">+</span>
          <span> 添加</span>
        </p>
      </li>
    </ul>
  </div>
</ng-template>

<!--选择弹框-->
<ng-template #alertStore>
  <app-select-transfer [cityStoreList]="cityStoreList" [allStaffNum]="allStoresNum" (staffIds)="getSelectStoresIds($event)"></app-select-transfer>
</ng-template>
