<page-header></page-header>
<div class="">
    <div class="existing-main">
      <div class="member-top-middle">
          <li class="fl" style="margin-right:15px">
              <div class="fr" style="position:relative;">
                  <span class="mr10 mr">订单查询</span>
                  <input type="text" [(ngModel)]="pinTuanName" (ngModelChange)="orderFun($event)" style="width:288px" placeholder="请输入订单号"
                  />
                  <span class="icon-sou iconfont" (click)="searchName()"></span>
              </div>
          </li>

          <li class="fl">
              <span class="mr10 fl title" style="margin-right:15px">下单时间</span>
              <nz-range-picker [(ngModel)]="dateRange" (ngModelChange)="onChange($event)"></nz-range-picker>
          </li>

          <div class="fr" style="position:relative;margin-top:10px;clear: both;float: left;">
              <jn-stores-infor [moduleId]="moduleId" [AllStoreBoolean]="false" [ifStoresAll]="false" (storeIdOutput)="selectStoreInfo($event)"></jn-stores-infor>
          </div>

          <div class="frdiv">
            <li class="fl">
              <span class="mr10 fl title" style="margin-right:15px">订单状态</span>
              <nz-select style="width: 200px;" [(ngModel)]="orderStatus" (ngModelChange)="selectStatusInfo($event)" name="statusList" [nzShowSearch]="true">
                <nz-option *ngFor="let i of statusList; let idx = index" [nzLabel]="i.statusName" [nzValue]="i.status"></nz-option>
              </nz-select>
            </li>
          </div>
      </div>
  </div>
  <div style="margin-top:10px;">
    <div class="mb-md">
      <nz-alert nzType="info" nzMessage="共有 {{countTotal}} 条数据  |  实付总金额：{{sumPaidMoney/100 || 0 }}元 " nzShowIcon></nz-alert>
    </div>
    <table class="existingGroups-table">
      <thead>
      <tr>
        <td>下单时间</td>
        <td>订单编号</td>
        <td>商品名称</td>
        <td>订单状态</td>
        <td>订单金额(元)</td>
        <td>实付金额(元)</td>
        <td>操作</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of wxorderListData;let ind = index;">
        <td>{{item.juniuoModel.dateCreated | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>{{item.orderId}}</td>
        <td>
          <div style="overflow: hidden;
                          text-overflow:ellipsis;
                          white-space: nowrap;width:200px;    margin: 0 auto;">{{item.body}}</div>
        </td>
        <td>{{item.statusName}}</td>
        <td>{{item.money/100}}</td>
        <td>{{item.paidMoney/100}}</td>
        <td>
          <span class="buttons" (click)="getwxorderDetail(item.orderId,chakanxiangqing)">查看详情</span>
        </td>

      </tr>
      </tbody>
    </table>
  </div>
  <div class="nzPaginationBox">
    <nz-pagination class="nzPagination" [nzTotal]="countTotal" [nzPageSize]="10" (nzPageIndexChange)="paginate($event)"></nz-pagination>
  </div>
</div>

<!--查看详情-->
<ng-template #chakanxiangqing>
    <h3 class="flex-1 text-lg borderLeft">订单详情</h3>
    <div class="orderpage_detail_list">
        <table>
            <tr class="ui-grid-row">
                <td class="">订单编号</td>
                <td class="" style="width:350px;">{{detailData?.orderId}}</td>
                <td class="">订单状态</td>
                <td class="trans-status" style="width:350px;">{{detailData?.statusName}}</td>
            </tr>
            <tr>
                <td class="">下单时间</td>
                <td class="" style="width:220px;">{{detailData?.juniuoModel.dateCreated}}</td>
                <td class="">商品数量</td>
                <td class="" style="width:220px;">{{detailData?.vouchers.length}}</td>
            </tr>
            <tr>
                <td class="">购买门店</td>
                <td class="" style="width:220px;">{{detailData?.storeName}}</td>
                <td class="">订单金额</td>
                <td class="" style="width:220px;">{{detailData?.money/100}}</td>
            </tr>
            <tr>
                <td class="">订单备注</td>
                <td class="" colspan="3">{{detailData.memo ? detailData.memo : '-'}}</td>
            </tr>
        </table>
    </div>

    <h3 class="flex-1 text-lg borderLeft" style="margin-top:20px;" *ngIf="detailData?.vouchers.length>0">核销信息</h3>
    <div style="height:120px;overflow-y: auto;">
        <div class="orderpage_detail_list" *ngFor="let item of detailData?.vouchers" style="margin-bottom:20px;">
            <table *ngIf="detailData?.vouchers.length>0">
                <tr class="ui-grid-row">
                    <td class="">商品名称</td>
                    <td class="">{{item.productName}}</td>
                    <td class="">商品价格</td>
                    <td class="trans-status" style="width:200px;">{{item.price/100}}</td>
                    <td class="">核销状态</td>
                    <td class="trans-status" style="width:200px;">{{item.voucherStatusName}}</td>
                </tr>
                <tr>
                    <td class="">核销时间</td>
                    <td class="" style="width:220px;">{{item?.usedDate?item?.usedDate:''}}</td>
                    <td class="">核销门店</td>
                    <td class="" colspan="3">{{item?.usedStoreName}}</td>
                </tr>
            </table>
        </div>
    </div>

</ng-template>
