<page-header [title]="'添加标签'">
        创建并维护一套会员标签，针对不同的会员设定不同的会员标签，便于管理及进行精准营销，培养优质会员。
    </page-header>
    
    <nz-card [nzBordered]="false">
        <form nz-form [formGroup]="form" (ngSubmit)="submit()">
            <nz-form-item>
                <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="ruleName">标签名称</nz-form-label>
                <nz-form-control nzXs="24" nzSm="12" nzMd="10">
                    <input nz-input formControlName="ruleName" maxlength="20" autocomplete="off" id="ruleName" placeholder="请输入标签名称">
                    <nz-form-explain class="errorTips"  *ngIf="form.get('ruleName').dirty && form.get('ruleName').errors">请输入标签名称</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item style="height: 110px;margin-bottom: 0;">
                <nz-form-label nzXs="24" nzSm="7" nzFor="type">提成</nz-form-label>
                <nz-form-control nzXs="24" nzSm="12" nzMd="10">
                    <nz-radio-group formControlName="type" style="position: relative;height: 85px;">
                        <label class="lable-title" style="display: block" nz-radio *ngFor="let item of extractArr" [nzValue]="item.type" (change)="changeTypesData(item.type)">{{item.name}}
                            <p *ngIf="item.type === 'MONEY'" style="display: inline-block">
                                <input style="width: 150px;" nz-input maxlength="10" formControlName="deductMoney" placeholder="请输入提成金额"> 元
                            </p>
                            <!--按比例提成-->
                            <div *ngIf="item.type === 'RATE'" class="clearfix rate">
                                <p class="fl" style="margin-right: 20px;">
                                    <label style="margin-right: 5px;">指定技师</label>
                                    <input style="width: 60px;" nz-input maxlength="5" formControlName="assignRate" placeholder=""> %
                                </p>
                                <p class="fl">
                                    <label style="margin-right: 5px;">非指定技师</label>
                                    <input style="width: 60px;" nz-input maxlength="5" formControlName="normalRate" placeholder=""> %
                                </p>
                            </div>
                        </label>
                        <div style="position: absolute;bottom: -35px">
                            <nz-form-explain class="errorTips" *ngIf="form.value.type === 'RATE' && assignRate.errors?.pattern">指定比例只能是整数或带有两位小数的数字</nz-form-explain>
                            <nz-form-explain class="errorTips" *ngIf="form.value.type === 'RATE' && normalRate.errors?.pattern">非指定比例只能是整数或带有两位小数的数字</nz-form-explain>
                            <nz-form-explain class="errorTips" *ngIf="form.value.type === 'RATE' && !checkRate">按比例提成率不可为空</nz-form-explain>
                            <nz-form-explain class="errorTips" *ngIf="form.value.type === 'MONEY' && deductMoney.errors?.pattern">提成金额只能是整数或带有两位小数的数字</nz-form-explain>
                            <nz-form-explain class="errorTips" *ngIf="form.value.type === 'MONEY' && !checkRate">提成金额不可为空</nz-form-explain>
                            <nz-form-explain class="errorTips" *ngIf="form.value.type === 'MONEY' && deductMoney.errors?.max">提成金额范围“0.01-99999999.99”</nz-form-explain>
                            <nz-form-explain class="errorTips" *ngIf="form.value.type === 'MONEY' && deductMoney.errors?.min">提成金额范围“0.01-99999999.99”</nz-form-explain>                    </div>
                    </nz-radio-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzXs="24" nzSm="7">选择口碑商品</nz-form-label>
                <nz-form-control nzXs="24" nzSm="12" nzMd="10">
                    <div class="right-block">
                        <span>已选择 {{selectCardNumber}} 个口碑商品</span>
                        <span class="space"></span>
                        <span class="select-store-btn" (click)="onSelectStaffBtn(alertCard,'会员卡')">选择口碑商品</span>
                    </div>
                  <ng-container>
                    <nz-form-explain class="errorTips"  *ngIf="selectCardNumber === 0 && ifShowErrorTipsCard && allTips">请选择口碑商品</nz-form-explain>
                  </ng-container>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzXs="24" nzSm="7">选择口碑拼团活动</nz-form-label>
                <nz-form-control nzXs="24" nzSm="12" nzMd="10">
                    <div class="right-block">
                        <span>已选择 {{selectSeviceItemsNumber}} 项口碑拼团活动</span>
                        <span class="space"></span>
                        <span class="select-store-btn" (click)="onSelectStaffBtn(alertSeviceItems, '口碑拼团活动')">选择口碑拼团活动</span>
                    </div>
                  <ng-container>
                    <nz-form-explain  class="errorTips"  *ngIf="selectSeviceItemsNumber === 0 && ifShowErrorTipsSevice && allTips">请选择口碑拼团活动</nz-form-explain>
                  </ng-container>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzXs="24" nzSm="7" nzRequired>选择员工</nz-form-label>
                <nz-form-control nzXs="24" nzSm="12" nzMd="10">
                    <div class="right-block">
                        <span>已选择 {{selectStaffNumber}} 名员工</span>
                        <span class="space"></span>
                        <span class="select-store-btn" (click)="onSelectStaffBtn(alertStaff, '员工')">选择员工</span>
                    </div>
                  <ng-container>
                    <nz-form-explain class="errorTips" *ngIf="selectStaffNumber === 0 && ifShowErrorStaffTips">请选择员工</nz-form-explain>
                  </ng-container>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 7 }">
                    <button nz-button nzType="primary" type="submit" [nzLoading]="submitting">保存</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-card>
    
    <!--选择员工弹框-->
    <ng-template #alertStaff>
        <app-select-transfer [cityStoreList]="staffListInfor" [allStaffNum]="allStaffNumber" (staffIds)="getStaffIds($event)"
                             (selectStaffNum)="getSelectStaffNum($event)"></app-select-transfer>
    </ng-template>
    
    <!--选择商品弹框-->
    <ng-template #alertProduct>
        <app-select-transfer [cityStoreList]="productListInfor" [allStaffNum]="allProductNumber" (staffIds)="getproductIds($event)"
                             (selectStaffNum)="getSelectProductNumber($event)"></app-select-transfer>
    </ng-template>
    
    <!--选择会员卡弹框-->
    <ng-template #alertCard>
        <app-select-transfer [cityStoreList]="cardListInfor" [allStaffNum]="allCardNumber" (staffIds)="getCardConfigRuleIds($event)"
                             (selectStaffNum)="getSelectCardNumber($event)"></app-select-transfer>
    </ng-template>
    
    <!--选择服务项目弹框-->
    <ng-template #alertSeviceItems>
        <app-select-transfer [cityStoreList]="seviceItemsListInfor" [allStaffNum]="seviceItemsNumber" (staffIds)="getSeviceItemsIds($event)"
                             (selectStaffNum)="getSelectSeviceItemsNumber($event)"></app-select-transfer>
    </ng-template>
    