<nz-card>
    <p>桔牛完全打通了支付宝口碑开放平台中的商品、预约预订、营销、会员卡管理等所有泛行业线上场景，帮助商家引流带顾客，享受各种平台优惠政策和双十二等大促活动。</p>
    <div class="picBox">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <p>如果您已经是口碑商家，您只需要<a>点击关联</a> 即可用桔牛系统管理线上线下所有门店和生意。</p>
    <p>如果您还不是口碑商家，您可以先到口碑平台进行<a>开店</a>。(不知道如何开店？<a>联系我们</a>为您提供运营支持)</p>
    <div style="margin-top:20px;">
        <button class="buttons" style="margin-right:20px;" nz-button nzType="primary" (click)="bindkoubei()" type="submit">点击关联</button>
        <button class="buttons" nz-button (click)="matching()">去口碑平台开店</button>
    </div>
</nz-card>