.picBox{
    margin: 0 auto;
    display: flex;
    /* width: 80%; */
    /* justify-content: space-between; */
    flex-wrap:wrap;
    margin-top: 20px;
    margin-bottom: 20px;    
}
.picBox>div{
    width: 300px;
    height: 530px;
    margin: 10px 0;
    margin-right: 20px;
    border: 1px solid #e5e5e5;
}
.picBox>div:nth-of-type(1){
    background-image: url('../../../../assets/img/wechat2.png');
    background-repeat: no-repeat ;
    background-size: 100%;
}
.picBox>div:nth-of-type(2){
    background-image: url('../../../../assets/img/wechat1.png');
    background-repeat: no-repeat ;
    background-size: 100%;
}
.picBox>div:nth-of-type(3){
    background-image: url('../../../../assets/img/wechat3.png');
    background-repeat: no-repeat ;
    background-size: 100%;
}
.picBox>div:nth-of-type(4){
    background-image: url('../../../../assets/img/wechat4.png');
    background-repeat: no-repeat ;
    background-size: 100%;
}