.click-color {
    color: #ff7700;
    padding: 0 5px;
    cursor: pointer;
    //white-space: nowrap;
}
.pd-5 {
    padding: 0 5px;
    cursor: pointer;
}
.coupon-box {
    width: 310px;
    height: 90px;
    overflow: hidden;
    color: #666666;
    margin: 20px 0 10px;
    margin-right: 20px;
    display: inline-block;
    cursor: pointer;

    .coupon-left {
        width: 75px;
        height: 90px;
        line-height: 90px;
        border: 1px solid #666;
        border-right: 1px dashed #666;
        float: left;
        border-radius: 4px;
        text-align: center;
        position: relative;
        font-size: 14px;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 30px;
            height: 30px;
        }

        .coupon-circle-top, .coupon-circle-bottom {
            position: absolute;
            right: -10px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #FFFFFF;
            border: 1px solid #666666;
        }
        .coupon-circle-top {
            top: -10px;
        }
        .coupon-circle-bottom {
            bottom: -10px;
        }

        .towline-lh {
            line-height: 30px;
            display: inline-block;
            padding-top: 15px;
        }
    }
    .coupon-right {
        width: 232px;
        height: 90px;
        border: 1px solid #666;
        border-left: none;
        float: left;
        border-radius: 4px;
        font-size: 13px;
        line-height: 22px;
        padding-top: 10px;
        padding-left: 6px;

        p:last-child {
            font-size: 12px;
            color: #999;
        }
    }
}

.store_lists {
    font-size: 13px;
    line-height: 24px;
    color: #666;
    overflow: hidden;
    font-family: 'PingFangSC-Regular';

    .list {
        width: 50%;
        float: left;
        overflow-y: auto;
        padding-left: 20px;

        input {
            margin-right: 10px;
        }
    }

    .list:first-child {
        padding-left: 0;
        border-right: 1px solid #e5e5e5;
    }

    .head_store {
        text-align: center;
        position: relative;
        top: -3px;
    }

    .shop_names {
        margin-left: 20px;
    }
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    border: 1px solid #d9d9d9;
    white-space: nowrap;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    height: 32px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    outline: none;
    margin-right: 5px;
}
.btn-focus {
    color: #40a9ff;
    border-color: #40a9ff;
}
.error-color {
    color: #f5222d !important;
}
