<page-header [title]="'付款码下载'">您可以下载此付款码贴到店内收银台，方便顾客付款。</page-header>
<nz-card [nzBordered]="false">
    <div class="fl form-box">
        <!--<form nz-form [formGroup]="form">-->
            <nz-form-item>
                <nz-form-label nzXs="24" nzSm="7" nzRequired>选择门店</nz-form-label>
                <nz-form-control>
                    <nz-select style="width: 385px" [(ngModel)]="selectedOption" (ngModelChange)="onStoresChange()" [nzShowSearch]="true">
                        <nz-option *ngFor="let store of stores" [nzLabel]="store.storeName" [nzValue]="store.storeId"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzXs="24" nzSm="7" nzRequired>背景颜色</nz-form-label>
                <nz-form-control>
                    <nz-radio-group [(ngModel)]="color" (ngModelChange)="colorChange()">
                        <label nz-radio [nzValue]="colorArr[0]">绿色</label>
                        <label nz-radio [nzValue]="colorArr[1]">蓝色</label>
                        <label nz-radio [nzValue]="colorArr[2]">橙色</label>
                        <label nz-radio [nzValue]="">
                            自定义# <input nz-input placeholder="请输入色值" style="width: 100px;" [(ngModel)]="myColor" (blur)="changeMyColor()">
                        </label>
                    </nz-radio-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzXs="24" nzSm="7" nzRequired>商家Logo</nz-form-label>
                <nz-form-control>
                    <div class="form-img-box">
                        <img class="image" [src]="imagePath">
                        <span class="iconfont icon-tianjia"><br>上传</span>
                        <input type="file" accept="image" (change)="uploadImage($event)">
                    </div>
                </nz-form-control>
            </nz-form-item>
        <!--</form>-->
    </div>
    <div class="fl pay-right-box">
        <div class="pay-img-box">
          <img src="{{imgPath}}" alt="">
        </div>
        <button nz-button nzType="primary" (click)="saveQrClick()">保存二维码</button>
    </div>
</nz-card>
