<form nz-form class="step4" [formGroup]="form" (ngSubmit)="_submitForm()">
    <nz-form-item class="form-item">
        <nz-form-label class="lh-62" nzSpan="5" nzRequired>营业执照</nz-form-label>
        <nz-form-control [nzSpan]="19">
            <div class="step4-img-box">
                <img class="upload-img" src="./assets/img/upload.png">
                <div class="example" *ngIf="spinBoolean && activeIndex === 1">
                    <nz-spin [nzSize]="'large'"></nz-spin>
                </div>
                <input type="file" accept="image" formControlName="image_id1" (change)="uploadImage($event, 1)">
                <img class="image" [src]="item.imagePath1" *ngIf="item.imagePath1">
            </div>
        </nz-form-control>
        <nz-form-explain class="tips-text">请将营业执照拍摄完整，包括四角，以免影响审核。</nz-form-explain>
    </nz-form-item>

    <nz-form-item style="margin-top: 85px" class="form-item" *ngIf="item.type === 'qiye'">
        <nz-form-label class="lh-62" nzSpan="5" nzRequired>银行开户许可证</nz-form-label>
        <nz-form-control [nzSpan]="19">
            <div class="step4-img-box">
                <img class="upload-img" src="./assets/img/upload.png">
                <div class="example" *ngIf="spinBoolean && activeIndex === 2">
                    <nz-spin [nzSize]="'large'"></nz-spin>
                </div>
                <input type="file" accept="image" formControlName="image_id2" (change)="uploadImage($event, 2)">
                <img class="image" [src]="item.imagePath2" *ngIf="item.imagePath2">
            </div>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item class="form-item">
        <nz-form-label class="lh-62" nzSpan="5" nzRequired>门头照</nz-form-label>
        <nz-form-control [nzSpan]="19">
            <div class="step4-img-box">
                <img class="upload-img" src="./assets/img/upload.png">
                <div class="example" *ngIf="spinBoolean && activeIndex === 3">
                    <nz-spin [nzSize]="'large'"></nz-spin>
                </div>
                <input type="file" accept="image" formControlName="image_id3" (change)="uploadImage($event, 3)">
                <img class="image" [src]="item.imagePath3" *ngIf="item.imagePath3">
            </div>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item class="form-item" *ngIf="item.type === 'geti'">
        <nz-form-label class="lh-62" nzSpan="5" nzRequired>银行卡照片</nz-form-label>
        <nz-form-control [nzSpan]="19">
            <div class="step4-img-box img4-box">
                <img class="upload-img" src="./assets/img/upload-zm.png">
                <div class="example" *ngIf="spinBoolean && activeIndex === 4">
                    <nz-spin [nzSize]="'large'"></nz-spin>
                </div>
                <input type="file" accept="image" formControlName="image_id4" (change)="uploadImage($event, 4)">
                <img class="image" [src]="item.imagePath4" (click)="onImgClick(alertBigImg, item.image_id4, item.imagePath4)">
                <i class="icon-magnifier-add"></i>
            </div>
            <div class="step4-img-box img4-box">
                <img class="upload-img" src="./assets/img/upload-back.png">
                <div class="example" *ngIf="spinBoolean && activeIndex === 5">
                    <nz-spin [nzSize]="'large'"></nz-spin>
                </div>
                <input type="file" accept="image" formControlName="image_id5" (change)="uploadImage($event, 5)">
                <img class="image" [src]="item.imagePath5" (click)="onImgClick(alertBigImg, item.image_id5, item.imagePath5)">
                <i class="icon-magnifier-add"></i>
            </div>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item class="form-item">
        <nz-form-label class="lh-62" nzSpan="5" nzRequired>法人身份证</nz-form-label>
        <nz-form-control [nzSpan]="19">
            <div class="step4-img-box img4-box">
                <img class="upload-img" src="./assets/img/upload-zm.png">
                <div class="example" *ngIf="spinBoolean && activeIndex === 6">
                    <nz-spin [nzSize]="'large'"></nz-spin>
                </div>
                <input type="file" accept="image" formControlName="image_id6" (change)="uploadImage($event, 6)">
                <img class="image" [src]="item.imagePath6" (click)="onImgClick(alertBigImg, item.image_id6, item.imagePath6)">
                <i class="icon-magnifier-add"></i>
            </div>
            <div class="step4-img-box img4-box">
                <img class="upload-img" src="./assets/img/upload-back.png">
                <div class="example" *ngIf="spinBoolean && activeIndex === 7">
                    <nz-spin [nzSize]="'large'"></nz-spin>
                </div>
                <input type="file" accept="image" formControlName="image_id7" (change)="uploadImage($event, 7)">
                <img class="image" [src]="item.imagePath7" (click)="onImgClick(alertBigImg, item.image_id7, item.imagePath7)">
                <i class="icon-magnifier-add"></i>
            </div>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item class="form-item">
        <nz-form-label class="lh-62" nzSpan="5" nzRequired>企业信用信息公示系统截图</nz-form-label>
        <nz-form-control [nzSpan]="19">
            <div class="step4-img-box img4-box">
              <img class="upload-img" src="./assets/img/upload.png">
              <div class="example" *ngIf="spinBoolean && activeIndex === 8">
                <nz-spin [nzSize]="'large'"></nz-spin>
              </div>
              <input type="file" accept="image" formControlName="image_id8" (change)="uploadImage($event, 8)">
              <img class="image" [src]="item.imagePath8" (click)="onImgClick(alertBigImg, item.image_id8, item.imagePath8)">
              <i class="icon-magnifier-add"></i>
            </div>
            <div class="img8-tip">企业信用信息公示系统截图，查询地址：<a target="_blank" href="http://www.gsxt.gov.cn/index.html">http://www.gsxt.gov.cn/index.html</a></div>
        </nz-form-control>
    </nz-form-item>

  <nz-form-item>
        <nz-form-control [nzSpan]="19" [nzOffset]="5">
            <!--[disabled]="form.invalid"-->
            <button nz-button [nzType]="'primary'" [nzLoading]="loading">提交</button>
            <button nz-button (click)="prev()">上一步</button>
        </nz-form-control>
    </nz-form-item>
</form>

<ng-template #alertBigImg style="padding: 0">
    <img class="big-img" [src]="bigImgPath" alt="">
</ng-template>

<div style="opacity: 0; width: 0; height: 0">
    <jn-stores-infor [moduleId]="moduleId" [ifStoresAll]="false" (storeIdOutput)="onSelectStoreChange($event)">
    </jn-stores-infor>
</div>
