<nz-card style="background:#fff;" style="min-width:860px;" class="{{settings.layout.collapsed?'settingsCollapsedTrue':'settingsCollapsedFalse'}}"
  [nzBodyStyle]="{'height':'100%'}">
  <div style="display: flex;
  justify-content: space-between;">
    <nz-tabset (nzSelectChange)="change($event)" [nzSelectedIndex]="index">
      <nz-tab nzTitle="消费"></nz-tab>
      <nz-tab nzTitle="售卡/充值"></nz-tab>
    </nz-tabset>
    <!-- <jn-stores-infor [moduleId]="moduleId" [ifStoresAll]="false" [ifStoresAuth]="true" (storeIdOutput)="selectStoreInfo($event.storeId)"></jn-stores-infor> -->

    <nz-form-item>
      <nz-form-label style="display: inline-block">选择门店</nz-form-label>
      <nz-form-control style="display: inline-block">
        <nz-select [(ngModel)]="store" (ngModelChange)="selectStoreInfo($event)" style="width: 200px;" [nzPlaceHolder]="'请选择一个门店'"
          [nzShowSearch]="true">
          <nz-option *ngFor="let i of storeList; let idx = index" [nzLabel]="i.branchName" [nzValue]="i"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <!-- 消费 -->
  <nz-card *ngIf="changeType" [nzBordered]="false" [nzBodyStyle]="{'height':'100%'}" style="position: absolute;left: 0;top: 68px;right: 0;bottom: 0;min-height:460px;min-width:860px;">
    <nz-card style="background:#fff;" [nzBodyStyle]="{'height':'100%'}" class="{{renlian?'renlianTrue':'renlianFalse'}}">
      <div nz-row class="absoluteBox">
        <div nz-col class="absoluteLeft">
          <!-- <div class="shouyinTop">
            <h3 class="flex-1 text-lg borderLeft">人脸识别</h3>
            <div class="renlianBOX">

            </div>
          </div> -->
          <div class="shouyinMiddle">
            <nz-input-group nzSearch style="width:280px;" [nzSuffix]="suffixIconButton1">
              <input type="text" [(ngModel)]="vipsearch" (ngModelChange)="searchMemberCard($event)" *ngIf="hasAuth" nz-input placeholder="请输入手机号/姓名">
              <input type="text" [(ngModel)]="vipsearch" *ngIf="!hasAuth" disabled nz-input placeholder="请输入手机号/姓名">
            </nz-input-group>
            <ng-template #suffixIconButton1>
              <button nz-button nzType="primary" *ngIf="hasAuth" (click)="searchMemberCard()" nzSearch>
                查询会员
              </button>
              <button nz-button nzType="primary" *ngIf="!hasAuth" disabled (click)="searchMemberCard()" nzSearch>
                查询会员
              </button>
            </ng-template>
            <div class="vipArrBox" *ngIf="vipDataBoolean">
              <nz-radio-group [(ngModel)]="radioValue" style="display: block;">
                <label nz-radio *ngFor="let item of vipData;let ind = index;" (click)="vipDataRadio(ind)" nzValue="{{ind}}">姓名：{{item.customer.customerName}} 电话：{{item.customer.phone}}</label>
              </nz-radio-group>
            </div>
          </div>
          <div class="shouyinBottom">
            <h3 class="flex-1 text-lg borderLeft">选择商品
              <nz-input-group nzSearch style="width:200px;position: absolute;right: 10px;" [nzSuffix]="suffixIconButton">
                <input type="text" [(ngModel)]="shopsearch" nz-input placeholder="搜索商品名称或者编号">
              </nz-input-group>
              <ng-template #suffixIconButton>
                <button nz-button nzType="primary" (click)="shopSearch()" nzSearch>
                  <i class="anticon anticon-search"></i>
                </button>
              </ng-template>
            </h3>
            <div>
              <div class="shopBigBox " *ngFor="let item of allproducks;let ind1 = index;">
                <div class="shopTyoe">{{item.categoryName}}</div>
                <div class="shopBox">
                  <div *ngFor="let list of item.productList;let ind2 = index;" class="{{list.click&&list.num>0?'click':''}} {{list.categoryType==='SERVICE'?'shopBigBox1':'shopBigBox2'}}"
                    (click)="checkShop(ind1,ind2)">
                    <div class="shopTitle">{{list.productNo}}
                      <span class="shopNum" *ngIf="list.click&&list.num>0">{{list.num}}</span>
                    </div>
                    <div class="shopName">{{list.productName}}</div>
                    <div class="shopMoney">¥{{list.currentPrice/100}}</div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div nz-col class="absoluteRight">
          <div class="shouyinRight">
            <div class="xfqingdan">
              <h3 class="flex-1 text-lg borderLeft">消费清单
                <div style="float: right;">
                  <button class="buttons" style="margin-right:20px;" nz-button (click)="guadanListFun(guadanAlert)">挂单列表</button>
                  <button class="buttons" nz-button nzType="primary" type="submit" (click)="shouyinListFun(shouyinAlert)">收银记录</button>
                </div>
              </h3>
              <div *ngIf="memberInfo" class="vipBar">
                <div class="img {{memberInfo?.gender===2?'nv':'nan'}}"></div>
                <div class="vipBarRight">
                  <div>{{memberInfo?.customerName}}</div>
                  <div>{{memberInfo?.phone}}
                    <span class="icon-jiantou iconfont" (click)="vipXQ(VipXQ)">会员详情</span>
                  </div>
                </div>
                <span (click)="vipXqFun()" class="close icon-tubiao06 iconfont "></span>
              </div>
              <div class="vipBar swxzVIP" *ngIf="!memberInfo">
                <div class="icon-gerenxinxi iconfont"></div>
                <div class="zwxx">暂无会员信息</div>
              </div>
              <div *ngIf="xfList.length>0" class="xfBox">
                <div *ngFor="let item of xfList;let ind = index;" class="{{item.open?'huise':''}}">
                  <div class="xfTop">
                    <div class="xfLeft icon-jinzhi iconfont" (click)="xfCloseShop(ind)"></div>
                    <div style="width:300px;" (click)="xfCheckshop(item.productId)">
                      <div class="xfMiddle {{item.type}}">{{item.productNo}}</div>
                      <div class="xfRight">{{item.productName}}</div>
                      <div class="xfxiala {{item.open?'icon-xiala1':'icon-shangla'}} iconfont"></div>
                    </div>
                  </div>
                  <div style="height:auto !important;overflow: hidden;padding-bottom: 10px;" *ngIf="item.open">
                    <div nz-col nzXs="24" nz-row nzType="flex" class="shopTypeBox">
                      <div nz-col nzSpan="12">
                        <div nz-col nzSpan="12" class="textAline">技 师</div>

                        <div nz-col nzSpan="12" class="colorRed">
                          <nz-select style="width: 90px;" [(ngModel)]="item.staff" nzAllowClear nzPlaceHolder="选择员工">
                            <nz-option *ngFor="let staff of item.staffGroupData" nzValue="{{staff.staffId}}" nzLabel="{{staff.staffName}}"></nz-option>
                          </nz-select>
                        </div>
                      </div>
                      <div nz-col nzSpan="10">
                        <div nz-col nzSpan="16" class="textAline">设为指定技师</div>
                        <div nz-col nzSpan="6">
                          <input type="checkbox" [(ngModel)]="item.assign">
                        </div>
                      </div>
                    </div>
                    <div nz-col nzXs="24" nz-row nzType="flex" class="shopTypeBox">
                      <div nz-col nzSpan="12">
                        <div nz-col nzSpan="12" class="textAline">小 工</div>
                        <div nz-col nzSpan="12" class="colorRed">
                          <div nz-col nzSpan="12" class="colorRed">
                            <nz-select style="width: 90px;" [(ngModel)]="item.xiaogong" nzAllowClear nzPlaceHolder="选择员工">
                              <nz-option *ngFor="let xiaogong of item.staffGroupData" nzValue="{{xiaogong.staffId}}" nzLabel="{{xiaogong.staffName}}"></nz-option>
                            </nz-select>
                          </div>
                        </div>
                      </div>
                      <div nz-col nzSpan="10">
                        <div nz-col nzSpan="14" class="textAline">数 量</div>
                        <div nz-col nzSpan="8">
                          <div class="numBox">
                            <div (click)="suanshu('-',ind)" style="font-size: 20px;line-height: 32px;">-</div>
                            <div>{{item.num}}</div>
                            <div (click)="suanshu('+',ind)" style="font-size: 20px;line-height: 32px;">+</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div nz-col nzXs="24" nz-row nzType="flex" class="shopTypeBox">
                      <div nz-col nzSpan="12">
                        <div nz-col nzSpan="12" class="textAline">折 扣</div>
                        <div nz-col nzSpan="12">
                          <nz-input-number [(ngModel)]="item.discount" (ngModelChange)="inputnumber(item)" [nzMin]="1" [nzMax]="100" [nzStep]="1" [nzFormatter]="formatterPercent"
                            [nzParser]="parserPercent"></nz-input-number>
                        </div>
                      </div>
                      <div nz-col nzSpan="10">
                        <div nz-col nzSpan="14" class="textAline">实 价</div>
                        <div nz-col nzSpan="8" class="colorRed">
                          <input nz-input type="number" style="width:90px;" [(ngModel)]="item.totoleMoney1" (ngModelChange)="shijiaChange($event,ind)">
                        </div>
                      </div>
                    </div>

                    <div nz-col nzXs="24" nz-row nzType="flex" *ngIf="memberInfo" class="shopTypeBox">
                      <div nz-col nzSpan="14">
                        <div nz-col nzSpan="9" class="textAline">选择扣卡</div>
                        <div nz-col nzSpan="15" *ngIf="item.vipCard">
                          <span>
                            <span style="font-size:22px;" class="iconfont {{item.vipCard.card.type==='REBATE'?'icon-zhe':''}} {{item.vipCard.card.type==='METERING'?'icon-ji':''}} {{item.vipCard.card.type==='TIMES'?'icon-qi':''}} {{item.vipCard.card.type==='STORED'?'icon-chu':''}}"></span>
                            <span style="font-size:16px;display: inline-block;
                            width: 100px;
                            height: 16px;
                            line-height: 16px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;">{{item.vipCard.card.cardName}}</span>
                          </span>
                        </div>
                        <div nz-col nzSpan="15" *ngIf="!item.vipCard">
                          <span>暂无选择会员卡</span>
                        </div>
                      </div>
                      <div nz-col nzSpan="10">
                        <span *ngIf="item.vipCard" nz-col nzSpan="9">-{{item.totoleMoney}}</span>
                        <div nz-col nzSpan="15">
                          <nz-popover [nzTitle]="'选择会员卡'" [(nzVisible)]="visible" [nzTrigger]="'click'" [nzPlacement]="'bottomRight'">
                            <button nz-button nz-popover>点击选择</button>
                            <ng-template #nzTemplate>
                              <div style="    height: 200px;
                              overflow: hidden;
                              overflow-y: auto;">
                                <div (click)="checkVipCard('no',ind)" class="bsyhyk">不使用会员卡</div>
                                <div *ngFor="let vipcard of item.vipCardList" class="{{vipcard.card.type}} vipcardbox" (click)="checkVipCard(vipcard,ind)">
                                  <p class="cardName">{{vipcard.card.cardName}}</p>
                                  <p class="cardMoney" *ngIf="vipcard.card.type !== 'TIMES'">卡余额：
                                    <span *ngIf="vipcard.card.type === 'REBATE'||vipcard.card.type === 'STORED'" class="money">{{(vipcard.card.balance/100).toFixed(2)}}</span>
                                    <span *ngIf="vipcard.card.type === 'METERING'" class="money">{{vipcard.card.balance}}</span>
                                    <span *ngIf="vipcard.card.type === 'REBATE'||vipcard.card.type === 'STORED'">元</span>
                                    <span *ngIf="vipcard.card.type === 'METERING'">次</span>
                                    <!-- <span *ngIf="item.card.type === 'TIMES'">天</span> -->
                                  </p>

                                  <p class="cardMoney" style="margin-top:5px;">有效期至 ： {{vipcard.card.validity}}
                                  </p>
                                  <div class="icon-success iconfont" *ngIf="item.vipCard&&vipcard.card.cardId === item.vipCard.card.cardId"></div>
                                </div>
                              </div>
                            </ng-template>
                          </nz-popover>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div *ngIf="xfList.length===0" class="xfBox ">
                <div class="kongbaiBox">
                  <div class="iconfont icon-zanwuneirong"></div>
                  <div class="ziti">选择服务项目或实体商品到消费清单</div>
                </div>
              </div>
            </div>
            <div class="xiaoji">
              <nz-form-item class="formItem ">
                <div class="lineHeight50 formItemBorder">
                  <div nz-col style="text-align:left;" nzSpan="4">优惠券</div>
                  <div nz-col nzSpan="20">
                    <div *ngIf="xfList.length>0&&ticket">
                      <div nz-col nzSpan="18" class="yhjBox">
                        <label nz-checkbox (ngModelChange)="ngticketChange()" [(ngModel)]="ticketCheck">
                          <span>
                            <span>
                              <span class="iconfont icon-quan"></span>
                              <span style="display: inline-block;
                              width: 140px;
                              overflow: hidden;
                              text-overflow: ellipsis;
                              white-space: nowrap;">{{ticket?.tickType+' '}}{{ticket?.couponDefName}}</span>
                            </span>
                            <br />
                            <span class="ziti">{{ticket?.consumeLimitProductIds.length>0?'限商品:'+(ticket?.tickType==='礼品券'?ticket?.couponDefProductName:ticket?.consumeLimitProductNames)+'可用':'无限制'}}</span>
                          </span>
                        </label>
                      </div>
                      <div style="text-align:right;" nz-col nzSpan="6">-{{ticket?.ticketMoney}}元</div>
                    </div>
                  </div>
                </div>
              </nz-form-item>
              <!-- <nz-form-item class="formItem ">
                <div class="lineHeight50 formItemBorder kouka">
                  <div nz-col style="text-align:left;" nzSpan="4">会员卡</div>
                  <div nz-col nzSpan="20">
                    <div nz-col nzSpan="16" class="yhjBox kouka2">
                      <label nz-checkbox *ngFor="let item of vipCardList" (ngModelChange)="cardChangeFun(item.card.cardConfigRuleId)" [(ngModel)]="item.checked">
                        <span>
                          <span>
                            <span style="font-size:18px;" class="iconfont {{item.card.type==='REBATE'?'icon-zhe':''}} {{item.card.type==='METERING'?'icon-ji':''}} {{item.card.type==='TIMES'?'icon-qi':''}} {{item.card.type==='STORED'?'icon-chu':''}}"></span>
                            <span style="font-size:16px;display: inline-block;
                            width: 120px;
                            height: 16px;
                            line-height: 16px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;">{{item.card.cardName}}</span>
                          </span>
                          <br />
                          <span class="ziti" *ngIf="item.applyProductType === 'SERVICE'">限全部服务项目可用</span>
                          <span class="ziti" *ngIf="item.applyProductType === 'ALL'">限全部商品可用</span>
                          <span class="ziti" *ngIf="item.applyProductType === 'CUSTOMIZE'">限{{item.getApplyProductNames}}使用</span>
                          <span class="ziti" *ngIf="item.card.type !== 'TIMES'">余额 ：{{item.card.type === 'METERING'?item.card.balance:(item.card.balance/100).toFixed(2)}} {{item.card.type
                            === 'METERING'?'次':'元'}}</span>
                          <span class="ziti" *ngIf="item.card.type === 'TIMES'">有效期至 ：{{item.card.validity}}</span>
                        </span>
                      </label>
                    </div>
                    <div style="text-align:right;" nz-col nzSpan="8" *ngIf="vipShowMoney">扣卡：{{(vipShowMoney/100).toFixed(2)}}元</div>
                    <div style="text-align:right;" nz-col nzSpan="8" *ngIf="vipShowMoney === 0">扣卡：0元</div>
                  </div>
                </div>
              </nz-form-item> -->
              <nz-form-item class="formItem ">
                <div class="lineHeight50 formItemBorder">
                  <div nz-col style="text-align:left;" nzSpan="4">是否抹零</div>
                  <div nz-col nzSpan="20">
                    <nz-switch style="float:left;" (ngModelChange)="moling()" [ngModel]="isVerb" nzCheckedChildren="是" nzUnCheckedChildren="否"></nz-switch>
                    <span style="float:right;">收款：
                      <input type="text" style="width:100px;" onkeyup="if(this.value<0)this.value = 0;if(this.value>99999999)this.value =99999999;"
                        [(ngModel)]="inputValue" nz-input> </span>
                  </div>
                </div>
              </nz-form-item>
              <nz-form-item class="formItem ">
                <div class="lineHeight50">
                  <div style="text-align:right;">
                    <button class="buttons" style="margin-right:20px;" nz-button (click)="guadan()">挂单</button>
                    <button class="buttons" nz-button nzType="primary" type="submit" [nzLoading]="loading" (click)="jiesuan(jiesuanAlert)">结算</button>
                  </div>
                </div>
              </nz-form-item>
            </div>
          </div>
        </div>
      </div>

    </nz-card>
  </nz-card>
  <!-- 售卡/充值 -->
  <nz-card *ngIf="!changeType" [nzBordered]="false" [nzBodyStyle]="{'height':'100%'}" style="position: absolute;left: 0;top: 68px;right: 0;bottom: 0;min-height:460px;min-width:860px;">
    <nz-card style="background:#fff;" [nzBodyStyle]="{'height':'100%'}" class="{{renlian?'renlianTrue':'renlianFalse'}}">
      <div nz-row class="absoluteBox">
        <div nz-col class="absoluteLeft">
          <!-- <div class="shouyinTop">
              <h3 class="flex-1 text-lg borderLeft">人脸识别</h3>
              <div class="renlianBOX">

              </div>
            </div> -->
          <div class="shouyinMiddle">
            <!-- <nz-input-group nzSearch style="width:280px;margin-top:30px;" [nzSuffix]="suffixIconButton">
              <input type="text" [(ngModel)]="vipsearch" nz-input placeholder="请输入手机号/姓名">
            </nz-input-group>
            <ng-template #suffixIconButton>
              <button nz-button nzType="primary" (click)="searchMemberCard()" nzSearch>
                查询会员
              </button>
            </ng-template> -->
            <nz-input-group nzSearch style="width:280px;" [nzSuffix]="suffixIconButton1">
              <input type="text" [(ngModel)]="vipsearch" *ngIf="hasAuth" (ngModelChange)="searchMemberCard($event)" nz-input placeholder="请输入手机号/姓名">
              <input type="text" [(ngModel)]="vipsearch" *ngIf="!hasAuth" disabled nz-input placeholder="请输入手机号/姓名">
            </nz-input-group>
            <ng-template #suffixIconButton1>
              <button nz-button nzType="primary" *ngIf="hasAuth" (click)="searchMemberCard()" nzSearch>
                查询会员
              </button>
              <button nz-button nzType="primary" *ngIf="!hasAuth" disabled (click)="searchMemberCard()" nzSearch>
                查询会员
              </button>
            </ng-template>
            <div class="vipArrBox" *ngIf="vipDataBoolean">
              <nz-radio-group [(ngModel)]="radioValue" style="display: block;" (ngModelChange)="vipDataRadio($event)">
                <label nz-radio *ngFor="let item of vipData;let ind = index;" (click)="vipDataRadio(ind)" nzValue="{{ind}}">姓名：{{item.customer.customerName}} 电话：{{item.customer.phone}}</label>
              </nz-radio-group>
            </div>
            <div class="kaitongVIP iconfont icon-iconfonticon02" (click)="kaitongVipFun(kaitongVip)">开通新会员</div>
          </div>
          <div class="shouyinBottom">
            <div>
              <h3 *ngIf="memberInfo&&yjcardList&&yjcardList.length>0" class="flex-1 text-lg borderLeft">已购会员卡充值</h3>
              <div *ngIf="memberInfo&&yjcardList&&yjcardList.length>0" class="CardBigBox">
                <div *ngFor="let item of yjcardList;let ind1 = index;" (click)="VipcardPick(ind1)" class="{{item.card.type}} ygVip">
                  <p class="cardName">{{item.card.cardName}}</p>
                  <p class="cardMoney" *ngIf="item.card.type !== 'TIMES'">卡余额：
                    <span class="money1">{{item.card.type === 'METERING'?item.card.balance:item.card.balance/100}}</span>
                    <span *ngIf="item.card.type === 'REBATE'||item.card.type === 'STORED'">元</span>
                    <span *ngIf="item.card.type === 'METERING'">次</span>
                  </p>
                  <p class="cardMoney" *ngIf="item.card.type === 'TIMES'">有效期至：
                    <span class="money1" style="font-size:14px !important;">{{item.card.validity}}</span>
                  </p>
                  <div class="icon-success iconfont" style="color:#fff;top:10px;right:10px;position: absolute;" *ngIf="item.card.type !== 'TIMES'&&item.card.type !== 'METERING'&&item.click"></div>
                  <!-- <div class="chongzhi" *ngIf="" >充值</div> -->
                </div>
              </div>
              <h3 class="flex-1 text-lg borderLeft">开通新会员卡</h3>
              <nz-tabset (nzSelectChange)="cardTypeChange($event)">
                <nz-tab nzTitle="储值卡"></nz-tab>
                <nz-tab nzTitle="折扣卡"></nz-tab>
                <nz-tab nzTitle="计次卡"></nz-tab>
                <nz-tab nzTitle="期限卡"></nz-tab>
              </nz-tabset>
              <div class="cardTypeListBox">
                <div *ngFor="let item of cardTypeListArr?.list;let ind1 = index;" style="flex-wrap: wrap;display: flex;">
                  <div *ngFor="let rule of item.rules;let ind2 = index;" class="{{rule.click?'click':''}}" (click)="cardPick(ind1,ind2)">
                    <div class="TOP">
                      <div class="ziBox">
                        <div *ngIf="item.type === 'STORED'">储</div>
                        <div *ngIf="item.type === 'REBATE'">折</div>
                        <div *ngIf="item.type === 'METERING'">次</div>
                        <div *ngIf="item.type === 'TIMES'">期</div>
                      </div>
                      <div>
                        <p class="cardName">
                          <span *ngIf="item.type === 'REBATE'">({{rule.rebate}}折)</span>{{item.cardConfigName}}</p>
                        <p class="cardMoney cardMoneyP" style="font-size:14px;">
                          <span>
                            <span class="money1">¥{{rule.price / 100}}</span>
                            <span>元</span>
                          </span>
                          <span *ngIf="item.type !== 'TIMES'">
                            <span class="money1">{{item.type === 'METERING'?rule.balance:rule.balance / 100}}</span>
                            <span *ngIf="item.type === 'REBATE'||item.type === 'STORED'">元</span>
                            <span *ngIf="item.type === 'METERING'">次</span>
                          </span>
                        </p>
                      </div>
                    </div>
                    <div class="icon-success iconfont" *ngIf="rule.click"></div>
                    <div class="BOTTOM">
                      <span *ngIf="rule.applyProductType === 'SERVICE'">限全部服务项目可用</span>
                      <span *ngIf="rule.applyProductType === 'ALL'">限全部商品可用</span>
                      <span style="display: inline-block;width: 90px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" *ngIf="rule.applyProductType === 'CUSTOMIZE'">{{rule.applyProductNames?'限'+rule.applyProductNames+'使用':'部分商品可用'}}</span>
                      <span style="float:right;margin-right:10px;">有效期: {{rule.validate}}天</span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div nz-col class="absoluteRight">
          <div class="shouyinRight">
            <div class="xfqingdan">
              <h3 class="flex-1 text-lg borderLeft">消费清单</h3>
              <div *ngIf="memberInfo" class="vipBar">
                <div class="img {{memberInfo?.gender===2?'nv':'nan'}}"></div>
                <div class="vipBarRight">
                  <div>{{memberInfo?.customerName}}</div>
                  <div>{{memberInfo?.phone}}
                    <span class="icon-jiantou iconfont" (click)="vipXQ(VipXQ)">会员详情</span>
                  </div>
                </div>
                <span (click)="vipXqFun()" class="close icon-tubiao06 iconfont "></span>
              </div>
              <div class="vipBar swxzVIP" *ngIf="!memberInfo">
                <div class="icon-gerenxinxi iconfont"></div>
                <div class="zwxx">暂无会员信息</div>
              </div>
              <div *ngIf="xfCardList" class="xfBox shoukaMiddle">
                <div class="huise" *ngIf="xfCardList">
                  <div class="xfTop">
                    <div class="xfLeft icon-jinzhi iconfont" (click)="xfCloseCard(ind)"></div>
                    <div style="width:310px;" (click)="xfCheckCard(xfCardList.title)">
                      <div class="xfRight">{{xyVip ?xfCardList.cardName : xfCardList.cardConfigName}}</div>
                      <div class="xfxiala icon-xiala1 iconfont"></div>
                    </div>
                  </div>
                  <div style="height:auto !important;overflow: hidden;padding-bottom: 10px;">
                    <div nz-col nzXs="24" nz-row nzType="flex" class="shopTypeBox">
                      <div nz-col nzSpan="12">
                        <div nz-col nzSpan="10" class="textAline">技 师</div>
                        <div nz-col nzSpan="12" class="colorRed">
                          <nz-select style="width: 100px;" [(ngModel)]="selectedValue1" nzAllowClear nzPlaceHolder="选择员工">
                            <nz-option *ngFor="let item of staffGroupData" nzValue="{{item.staffId}}" nzLabel="{{item.staffName}}"></nz-option>
                          </nz-select>
                        </div>
                      </div>
                      <div nz-col nzSpan="10">

                      </div>
                    </div>
                    <div nz-col nzXs="24" nz-row nzType="flex" class="shopTypeBox">
                      <div nz-col nzSpan="12">
                        <div nz-col nzSpan="10" class="textAline">小 工</div>
                        <div nz-col nzSpan="12" class="colorRed">
                          <nz-select style="width: 100px;" [(ngModel)]="selectedValue2" nzAllowClear nzPlaceHolder="选择小工">
                            <nz-option *ngFor="let item of staffGroupData" nzValue="{{item.staffId}}" nzLabel="{{item.staffName}}"></nz-option>
                          </nz-select>
                        </div>
                      </div>
                      <div nz-col nzSpan="10">

                      </div>
                    </div>
                    <div nz-col nzXs="24" nz-row nzType="flex" class="shopTypeBox">
                      <div nz-col nzSpan="12" *ngIf="xfCardList.type !== 'STORED'">
                        <div nz-col nzSpan="10" class="textAline" *ngIf="xfCardList.CardTypeS === 'chongzhi'">充值</div>
                        <div nz-col nzSpan="10" class="textAline" *ngIf="xfCardList.CardTypeS === 'kaika'">售价</div>
                        <div nz-col nzSpan="12" *ngIf="!xyVip">
                          ¥{{xfCardList.rules[xfCardList.ruleIndex].price/100}}
                        </div>
                        <!-- <div nz-col nzSpan="12" *ngIf="xfCardList.type === 'STORED'&&xyVip">
                          ¥{{xfCardList.rules[xfCardList.ruleIndex].price/100}}
                        </div> -->
                        <div nz-col nzSpan="12" *ngIf="(xfCardList.type === 'REBATE')&&xyVip">
                          <input nz-input style="width:200px" id="name" name="name" type="numeber" [(ngModel)]="REBATEValue" (ngModelChange)="REBATEValueFun($event)"
                            placeholder="充值金额">
                        </div>
                      </div>
                      <div nz-col nzSpan="24" *ngIf="xfCardList.CardTypeS === 'chongzhi'&&xfCardList.type === 'STORED'">
                        <div nz-col nzSpan="5" class="textAline" *ngIf="xfCardList.CardTypeS === 'chongzhi'&&xfCardList.type === 'STORED'">充值</div>
                        <div nz-col nzSpan="6" *ngIf="(xfCardList.type === 'STORED')&&xyVip">
                          <input nz-input style="width:100px" id="name" name="name" type="numeber" [(ngModel)]="STOREDValue" (ngModelChange)="STOREDValueFun($event)"
                            placeholder="充值金额">
                        </div>

                        <div nz-col nzSpan="6" class="textAline" *ngIf="xfCardList.CardTypeS === 'chongzhi'&&xfCardList.type === 'STORED'">赠送</div>
                        <div nz-col nzSpan="6" *ngIf="(xfCardList.type === 'STORED')&&xyVip">
                          <input nz-input style="width:100px" id="name" name="name" type="numeber" [(ngModel)]="STOREDextraMoney" (ngModelChange)="STOREDextraMoneyFun($event)"
                            placeholder="赠送金额">
                        </div>
                      </div>
                      <!-- <div nz-col nzSpan="10">
                        <div nz-col nzSpan="16" class="textAline">储 值</div>
                        <div nz-col nzSpan="6" class="colorRed">¥500</div>
                      </div> -->
                    </div>
                  </div>
                </div>

              </div>
              <div *ngIf="!xfCardList" class="xfBox shoukaMiddle">
                <div class="kongbaiBox kongbaiBox2">
                  <div class="iconfont icon-zanwuyinhangqia"></div>
                  <div class="ziti">选择会员卡到消费清单</div>
                </div>
              </div>
            </div>
            <div class="xiaoji shoukaBottom">
              <nz-form-item class="formItem ">
                <div class="lineHeight50 formItemBorder">
                  <nz-form-label style="text-align:left;" nzSpan="6">是否抹零</nz-form-label>
                  <nz-form-control nzSpan="18">
                    <nz-switch style="float:left;" (ngModelChange)="moling()" [ngModel]="isVerb2" nzCheckedChildren="是" nzUnCheckedChildren="否"></nz-switch>
                    <span style="float:right;">收款：{{isVerb2?isVerbVipCardmoney:vipCardmoney}}元</span>
                  </nz-form-control>
                </div>
              </nz-form-item>
              <nz-form-item class="formItem ">
                <div class="lineHeight50">
                  <div style="text-align:right;">
                    <button class="buttons" nz-button nzType="primary" type="submit" (click)="jiesuan(jiesuanAlert)">结算</button>
                  </div>
                </div>
              </nz-form-item>
            </div>
          </div>
        </div>
      </div>

    </nz-card>
  </nz-card>
</nz-card>

<!-- 会员详情 -->
<ng-template #VipXQ>
  <div class="VipXQ">
    <div class="vipxinx">
      <h3 class="flex-1 text-lg borderLeft">{{memberInfo?.customerName}}
        <button class="buttons" nz-button nzSize="small" type="submit" style="margin-left:20px;color:#ff7700;border:1px solid #ff7700;"
          (click)="memberChange(modalContent2)">编辑</button>
      </h3>
      <div>
        <div nz-col nzSpan="12">
          <div nz-col nzSpan="6">性别:</div>
          <div nz-col nzSpan="18">{{memberInfo?.gender===1?'男':memberInfo?.gender===0?'女':'未知'}}</div>
        </div>
        <div nz-col nzSpan="12">
          <div nz-col nzSpan="6">生日:</div>
          <div nz-col nzSpan="18">{{memberInfo?.birthday}}</div>
        </div>
      </div>
      <div>
        <div nz-col nzSpan="12">
          <div nz-col nzSpan="6">手机号:</div>
          <div nz-col nzSpan="18">{{memberInfo?.phone}}</div>
        </div>
        <div nz-col nzSpan="12">
          <div nz-col nzSpan="6">持卡:</div>
          <div nz-col nzSpan="18">{{vipData1?.cardApplies?vipData1?.cardApplies.length:0}}张</div>
        </div>
      </div>
      <div>
        <div nz-col nzSpan="12">
          <div nz-col nzSpan="6">备注:</div>
          <div nz-col nzSpan="18">
            <nz-popover [nzTitle]="'备注'" [nzPlacement]="'bottom'">
              <p style="width:100%;overflow: hidden;
              text-overflow:ellipsis;
              white-space: nowrap;cursor: pointer;" class="icon-jian iconfont" nz-popover>{{memberInfo?.remarks}}</p>
              <ng-template #nzTemplate>
                <div style="width:200px;overflow-wrap: break-word;">
                  <p>{{memberInfo?.remarks}}</p>
                </div>
              </ng-template>
            </nz-popover>
          </div>
        </div>
        <div nz-col nzSpan="12">
          <div nz-col nzSpan="6">累计消费金额:</div>
          <div nz-col nzSpan="18">{{vipData1?.allPay/100}}元</div>
        </div>
      </div>
    </div>
    <!-- <div class="vipcard">
      <h3 class="flex-1 text-lg borderLeft">会员标签</h3>
      <div class="biaoqian">油性皮肤</div>
    </div> -->
    <nz-tabset>
      <nz-tab nzTitle="卡券">
        <div class="vipcard">
          <h3 class="flex-1 text-lg borderLeft">会员卡</h3>

          <div class="CardBigBox">
            <div *ngFor="let item of yjcardList;let ind1 = index;" class="{{item.card.type}} ">
              <p class="cardName">{{item.card.cardName}}</p>
              <p class="cardMoney">卡余额：
                <span *ngIf="item.card.type === 'REBATE'||item.card.type === 'STORED'" class="money">{{item.card.balance/100}}</span>
                <span *ngIf="item.card.type === 'METERING'" class="money">{{item.card.balance}}</span>
                <span *ngIf="item.card.type === 'REBATE'||item.card.type === 'STORED'">元</span>
                <span *ngIf="item.card.type === 'METERING'">次</span>
                <!-- <span *ngIf="item.card.type === 'TIMES'">天</span> -->
              </p>
            </div>
          </div>
        </div>
        <div class="vipcard">
          <h3 class="flex-1 text-lg borderLeft">优惠券</h3>
          <div class="youhuiBox">
            <div *ngFor="let item of ticketList" class="youhui {{item.couponDefType}}">
              <div>
                <div *ngIf="item.couponDefType === 'MONEY'" style="width: 50px;">{{item.couponDefAmountByYuan}}元</div>
                <div *ngIf="item.couponDefType === 'DISCOUNT'" style="width: 50px;">{{item.couponDefDiscount}}折</div>
                <div style="width: 50px;">{{item.couponDefTypeName}}</div>
              </div>
              <div>
                <div>{{item.couponDefName}}</div>
                <div *ngIf="item.useLimitMoney<0&&item.consumeLimitProductIds.length===0">无限制</div>
                <div *ngIf="item.consumeLimitProductIds.length>0?item.useLimitMoney>0:false">满{{item.useLimitMoney/100}}可用</div>
                <div *ngIf="item.consumeLimitProductIds.length>0?item.useLimitMoney<0:false">部分商品可用</div>
                <div>有效期：{{item.validDateEnd}}</div>
              </div>
            </div>
          </div>
        </div>
      </nz-tab>
      <nz-tab nzTitle="消费记录">
        <div class="viplist">
          <nz-table [nzNoResult]="'没有数据'" #basicTable [nzShowPagination]="false" [nzData]="CustomerData">
            <thead>
              <tr>
                <th>消费时间</th>
                <th>消费项目</th>
                <th>支付详情</th>
                <th>服务技师</th>
                <th>收款金额</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of CustomerData">
                <td>{{item.juniuoModel.dateCreated}}</td>
                <td>{{item.consumeProductNames}}</td>
                <td>{{item.payTypeName}}
                  <nz-popover [nzTitle]="'支付详情'"  [nzPlacement]="'bottom'" *ngIf="item.cardPaymentDetails&&item.cardPaymentDetails.length>0">
                    <span style="cursor: pointer;" class="{{item.cardPaymentDetails&&item.cardPaymentDetails.length>0?'icon-ribao':''}} iconfont"
                      nz-popover></span>
                    <ng-template #nzTemplate>
                      <div style="width:400px;overflow-wrap: break-word;">
                        <p *ngFor="let v of item.cardPaymentDetails" style="display: flex;
                        justify-content: space-around;">
                          <span>{{v.name}}</span>
                          <span *ngIf="v.paymentType ==='CARD'" class="iconfont {{v.detailType==='REBATE'?'icon-zhe':''}} {{v.detailType==='METERING'?'icon-ji':''}} {{v.detailType==='TIMES'?'icon-qi':''}} {{v.detailType==='STORED'?'icon-chu':''}}"></span>
                          <span>-{{v.money/100}}元</span>
                        </p>
                      </div>
                    </ng-template>
                  </nz-popover>

                </td>
                <td>{{item.operationUserName}}</td>
                <td>{{item.money / 100}}</td>
              </tr>
            </tbody>

          </nz-table>
          <div class="nzPaginationBox">
            <nz-pagination class="nzPagination" [nzTotal]="Total2" [nzPageSize]="5" (nzPageIndexChange)="getData2($event)"></nz-pagination>
          </div>
        </div>
      </nz-tab>
    </nz-tabset>


  </div>
</ng-template>
<ng-template #jiesuanAlert>
  <nz-tabset (nzSelectChange)="changejiesuan($event)">
    <nz-tab nzTitle="扫码收款">
      <button class="buttons" nz-button nzType="primary" type="submit" (click)="scanPay(jiazai)">扫码收款</button>
      <br />
      <input nz-input id="authCode1" placeholder="顾客付款码" (ngModelChange)="goToSubmitOrder($event)" style="width:128px;margin:30px 0 26px 0;"
        [(ngModel)]="authCode">
    </nz-tab>
    <nz-tab nzTitle="记录收款">
      <div class="iconBox" *ngIf="!spinBoolean">
        <div class="wbox" (click)="goToSubmitOrder2('WECHATPAY')">
          <div class="iconfont icon-w"></div>
          <div class="zi">微信</div>
        </div>
        <div class="zbox" (click)="goToSubmitOrder2('ALIPAY')">
          <div class="iconfont icon-z"></div>
          <div class="zi">支付宝</div>
        </div>
        <div class="xbox" (click)="goToSubmitOrder2('CASH')">
          <div class="iconfont icon-x"></div>
          <div class="zi">现金</div>
        </div>
        <div class="ybox" (click)="goToSubmitOrder2('BANKCARD')">
          <div class="iconfont icon-y"></div>
          <div class="zi">银行卡</div>
        </div>
      </div>
      <div style="height: 80px;
      line-height: 80px;
      text-align: center;" *ngIf="spinBoolean">
        <nz-spin [nzSize]="'large'"></nz-spin>
      </div>
    </nz-tab>
  </nz-tabset>
</ng-template>


<ng-template #jiazai>
  <div style="text-align: center;
  font-size: 25px;">扫描条形码中......</div>
</ng-template>
<!-- 开通会员 -->
<ng-template #kaitongVip>
  <nz-form-item class="formItem ">
    <div class="lineHeight50 formItemBorder">
      <nz-form-label style="text-align:left;" nzSpan="6">顾客电话</nz-form-label>
      <nz-form-control nzSpan="18">
        <input type="text" [(ngModel)]="vipphone" maxlength="11" nz-input placeholder="请输入顾客电话">
      </nz-form-control>
    </div>
  </nz-form-item>
  <nz-form-item class="formItem ">
    <div class="lineHeight50 formItemBorder">
      <nz-form-label style="text-align:left;" nzSpan="6">顾客姓名</nz-form-label>
      <nz-form-control nzSpan="18">
        <input type="text" [(ngModel)]="vipname" maxlength="10" nz-input placeholder="请输入顾客姓名">
      </nz-form-control>
    </div>
  </nz-form-item>
  <nz-form-item class="formItem ">
    <div class="lineHeight50 formItemBorder">
      <nz-form-label style="text-align:left;" nzSpan="6">生日</nz-form-label>
      <nz-form-control nzSpan="18">
        <nz-date-picker [(ngModel)]="vipdate"></nz-date-picker>
      </nz-form-control>
    </div>
  </nz-form-item>
  <nz-form-item class="formItem ">
    <div class="lineHeight50 formItemBorder">
      <nz-form-label style="text-align:left;" nzSpan="6">性别</nz-form-label>
      <nz-form-control nzSpan="18">
        <nz-radio-group [(ngModel)]="gender">
          <label nz-radio nzValue="1">男</label>
          <label nz-radio nzValue="0">女</label>
        </nz-radio-group>
      </nz-form-control>
    </div>
  </nz-form-item>
  <nz-form-item class="formItem ">
    <div class=" formItemBorder">
      <nz-form-label style="text-align:left;" nzSpan="6">备注</nz-form-label>
      <nz-form-control nzSpan="18">
        <textarea name="" class="remarksText" cols="30" maxlength="200" rows="10" [(ngModel)]="remarks"></textarea>
        <p style="font-size: 12px;">提示：会员备注最多可输入200个字！</p>
      </nz-form-control>
    </div>
  </nz-form-item>

  <!-- <nz-form-item class="formItem " *ngIf="true">
    <div class="lineHeight50 formItemBorder">
      <nz-form-label style="text-align:left;" nzSpan="6">选择会员标签</nz-form-label>
      <nz-form-control nzSpan="18">
        <div class="biaoqian" style="padding:0 5px;">油性皮肤</div>
        <p style="font-size: 12px; color: #b7b7b7;">注：设定会员标签，便于管理及进行精准营销，最多可设置3个</p>
      </nz-form-control>
    </div>
  </nz-form-item> -->
</ng-template>


<ng-template #guadanAlert>
  <nz-table [nzNoResult]="'没有数据'" [nzShowPagination]="false" [nzData]="guadanList">
    <thead>
      <tr>
        <th>挂单时间</th>
        <th>商品</th>
        <th>金额</th>
        <th>顾客类型</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of guadanList;let ind = index;">
        <td>{{item.date}}</td>
        <td>
          {{item.xfList[0].productNo}}{{item.xfList[0].productName}}等
        </td>
        <td>{{item.totoleMoney}}</td>
        <td>{{item.vip?item.vip.customerName +':'+item.vip.phone:'散客'}}</td>
        <td>
          <span class="button" (click)="guadanJS(ind)">结算</span>
          <nz-divider nzType="vertical"></nz-divider>
          <span class="button" (click)="guadanSC(ind)">删除</span>
        </td>

      </tr>
    </tbody>
  </nz-table>
  <!-- <div class="nzPaginationBox">
    <nz-pagination class="nzPagination" [nzTotal]="guadanList.lenth" [nzPageSize]="10" (nzPageIndexChange)="getData($event)"></nz-pagination>
  </div> -->
</ng-template>

<ng-template #shouyinAlert>
  <nz-table [nzNoResult]="'没有数据'" [nzShowPagination]="false" [nzData]="shopyinList">
    <thead>
      <tr>
        <th>收银时间</th>
        <th>流水号</th>
        <th>类型</th>
        <th>渠道</th>
        <th>顾客电话</th>
        <th>顾客姓名</th>
        <th>金额</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of shopyinList;let ind = index;">
        <td>{{item.juniuoModel.dateCreated}}</td>
        <td>{{item.orderId}}</td>
        <td>{{item.bizTypeName}}</td>
        <td>{{item.payTypeName}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.customerName}}</td>
        <td>{{item.paidMoney/100}}</td>
        <td>
          <span class="button" *ngIf="item.statusName !== '已取消'" (click)="refund(item)">撤销</span>
          <span class="button" *ngIf="item.statusName === '已取消'">已退款</span>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <div class="nzPaginationBox">
    <nz-pagination class="nzPagination" [nzTotal]="pageInfoNum" [nzPageSize]="10" (nzPageIndexChange)="getData($event)"></nz-pagination>
  </div>
</ng-template>


<ng-template #modalContent2>
  <div class="addStaffBox-main">
    <div>
      <nz-form-item class="formItem ">
        <div class="lineHeight50 formItemBorder">
          <nz-form-label style="text-align:left;" nzSpan="6">会员手机号</nz-form-label>
          <nz-form-control nzSpan="18">
            <nz-input-number [(ngModel)]="customer_phone" [nzMin]="0" [nzMax]="19999999999" style="width:153px;" placeholder="请输入会员手机号"
              [nzStep]="1"></nz-input-number>
          </nz-form-control>
        </div>
      </nz-form-item>
    </div>
    <div>
      <nz-form-item class="formItem ">
        <div class="lineHeight50 formItemBorder">
          <nz-form-label style="text-align:left;" nzSpan="6">会员姓名</nz-form-label>
          <nz-form-control nzSpan="18">
            <input nz-input placeholder="请输入会员姓名" style="width:153px;" maxlength="10" [(ngModel)]="customer_name">
          </nz-form-control>
        </div>
      </nz-form-item>
    </div>
    <div>
      <nz-form-item class="formItem ">
        <div class="lineHeight50 formItemBorder">
          <nz-form-label style="text-align:left;" nzSpan="6">性别</nz-form-label>
          <nz-form-control nzSpan="18">
            <nz-radio-group [(ngModel)]="customer_gender">
              <label nz-radio [nzValue]="1">
                <span>男</span>
              </label>
              <label nz-radio [nzValue]="0">
                <span>女</span>
              </label>
            </nz-radio-group>
          </nz-form-control>
        </div>
      </nz-form-item>
    </div>
    <div>
      <nz-form-item class="formItem ">
        <div class="lineHeight50 formItemBorder">
          <nz-form-label style="text-align:left;" nzSpan="6">生日</nz-form-label>
          <nz-form-control nzSpan="18">
            <nz-date-picker [(ngModel)]="customer_date" (ngModelChange)="onChange($event)"></nz-date-picker>
          </nz-form-control>
        </div>
      </nz-form-item>
    </div>
    <div>
      <nz-form-item class="formItem ">
        <div class=" formItemBorder">
          <nz-form-label style="text-align:left;" nzSpan="6">备注</nz-form-label>
          <nz-form-control nzSpan="18">
            <!-- <input nz-input  style="width:153px;" maxlength="10" [(ngModel)]="customer_remarks"> -->
            <textarea name="" class="remarksText" cols="30" placeholder="请输入会员备注" maxlength="200" rows="10" [(ngModel)]="customer_remarks"></textarea>
            <p style="font-size: 12px;">提示：会员备注最多可输入200个字！</p>
          </nz-form-control>
        </div>
      </nz-form-item>
    </div>
  </div>
</ng-template>
<nz-modal [(nzVisible)]="htmlModalVisible" nzWidth="500" [nzFooter]="null" nzTitle="扣卡成功，扣卡情况" nzOkText="确定" (nzOnCancel)="handleCancel()">
  <div *ngFor="let item of htmlModalData" style="margin-bottom:20px;">
    <p>会员卡：{{item.cardName}}</p>
    <p *ngIf="item.cardType !== 'TIMES' &&item.cardType !== 'METERING'">卡余额：{{item.balance/100}}元</p>
    <p *ngIf="item.cardType === 'METERING'">卡余额：{{item.balance}}次</p>
  </div>
</nz-modal>

<!-- <nz-spin></nz-spin> -->
