<div class="content__title ad-ph">
  <h1 class="title ng-star-inserted">职位设置</h1>
  <div class="desc">设置职位和对应的系统权限。</div>
</div>
<nz-card [nzBordered]="false">
  <form nz-form [formGroup]="form">
    <nz-form-item>
      <nz-form-label nzXs="24" nzSm="7" nzFor="managementName">职位名称</nz-form-label>
      <nz-form-control nzXs="24" nzSm="12" nzMd="10">
        <input nz-input formControlName="managementName" maxlength="20" id="managementName" placeholder="请输入职位名称">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzXs="24" nzSm="7" nzFor="managementStatus">职位归属</nz-form-label>
      <nz-form-control nzXs="24" nzSm="12" nzMd="10">
        <!-- <jn-stores-infor [nzXs]="7" [moduleId]="moduleId" [ifStoresAll]="ifStoresAll" [ifStoresAuth]="ifStoresAuth" (storeListPush)="storeListPush($event)"
      (storeIdOutput)="getStoreId($event)"></jn-stores-infor> -->
        <nz-select formControlName="managementStatus" id="managementStatus" [nzDisabled]="roleId" (ngModelChange)="selectStoreInfo($event)"
          [nzPlaceHolder]="'请选择一个门店归属'" [nzShowSearch]="true">
          <nz-option [nzLabel]="'总部'" [nzValue]="'MERCHANT'">
          </nz-option>
          <nz-option [nzLabel]="'门店'" [nzValue]="'STORE'">
          </nz-option>
        </nz-select>
        <nz-form-explain>请选择职位归属，职位归属一旦保存将无法修改。</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </form>
  <nz-form-item>
    <nz-form-label nzXs="24" nzSm="7">职位权限</nz-form-label>
    <nz-form-control nzXs="24" nzSm="12" nzMd="10" style="height: 600px;overflow: hidden;overflow-y: auto;">
      <nz-tree [ngModel]="nodes" [nzCheckable]="true" [nzMultiple]="true" [nzDefaultExpandedKeys]="expandKeys" [nzDefaultCheckedKeys]="checkedKeys"
        [nzDefaultSelectedKeys]="selectedKeys" [nzDefaultExpandAll]="expandDefault" (nzCheckBoxChange)="mouseAction($event)">
      </nz-tree>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 7 }">
      <button nz-button nzType="primary" type="submit" (click)="submit()" [nzLoading]="submitting">提交</button>
      <button nz-button [routerLink]="['/manage/management']" type="submit">取消</button>
    </nz-form-control>
  </nz-form-item>
</nz-card>