<div class="ad-page-header" style="margin: 0 -24px; border-bottom:none !important;">
    <nz-breadcrumb>
        <nz-breadcrumb-item>主页</nz-breadcrumb-item>
        <nz-breadcrumb-item>管理</nz-breadcrumb-item>
        <nz-breadcrumb-item>职位</nz-breadcrumb-item>
        <nz-breadcrumb-item>新增职位</nz-breadcrumb-item>
    </nz-breadcrumb>
    <page-header [title]="'职位设置'">
        设置职位和对应的系统权限。
    </page-header>
</div>

<nz-card [nzBordered]="false">
    <form nz-form [formGroup]="form" (ngSubmit)="submit()">
        <nz-form-item>
            <nz-form-label nzXs="24" nzSm="7" nzFor="managementName">职位名称</nz-form-label>
            <nz-form-control nzXs="24" nzSm="12" nzMd="10">
                <input nz-input formControlName="managementName" id="managementName" placeholder="请输入职位名称">
                <!-- <nz-form-explain *ngIf="form.get('title').dirty && form.get('title').errors">请输入门店名称</nz-form-explain> -->
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzXs="24" nzSm="7" nzFor="managementStatus">职位归属</nz-form-label>
            <nz-form-control nzXs="24" nzSm="12" nzMd="10">
                <nz-select formControlName="managementStatus" id="managementStatus" [nzPlaceHolder]="'请选择一个门店'" [nzShowSearch]="true">
                    <nz-option [nzLabel]="'总部'" [nzValue]="'MERCHANT'">
                    </nz-option>
                    <nz-option [nzLabel]="'门店'" [nzValue]="'STORE'">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzXs="24" nzSm="7">职位权限</nz-form-label>
            <nz-form-control nzXs="24" nzSm="12" nzMd="10" style="height: 600px;overflow: hidden;overflow-y: auto;">
                <nz-tree [nzTreeData]="nodes" [nzCheckable]="true" [nzMultiple]="true" [nzDefaultExpandedKeys]="expandKeys" [nzDefaultCheckedKeys]="checkedKeys"
                    [nzDefaultSelectedKeys]="selectedKeys" [nzDefaultExpandAll]="expandDefault" (nzCheckBoxChange)="mouseAction($event)">
                </nz-tree>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 7 }">
                <button nz-button nzType="primary" type="submit" [nzLoading]="submitting">提交</button>
                <button nz-button [routerLink]="['/manage/management']" type="submit">取消</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-card>
