<div class="content__title ad-ph">
    <h1 class="title ng-star-inserted">新增拼团活动</h1>
    <div class="desc" style="color: rgba(0, 0, 0, 0.85);margin-left: 0px;">老带新利器，发布拼团活动，通过邀请参与拼团的方式激活老用户同时拉新</div>
</div>
<nz-card nzTitle="基本信息" [nzBordered]="false" [nzBodyStyle]="{'padding.px': 12}">
    <form nz-form [formGroup]="form">
        <nz-form-item>
            <nz-form-label nzXs="24" nzFor="pinTuanName" nzSm="7" nzRequired>活动名称</nz-form-label>
            <nz-form-control nzXs="24" nzSm="12" nzMd="8">
                <nz-input-group nzSize="large">
                    <input nz-input formControlName="pinTuanName" maxlength="20" placeholder="请输入活动名称，20个字以内">
                </nz-input-group>
                <nz-form-explain *ngIf="pinTuanName.dirty && pinTuanName.errors">活动名称字数不能少于两位</nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzXs="24" nzSm="7" nzRequired>活动图片</nz-form-label>
            <nz-form-control nzXs="24" nzSm="12" nzMd="8">
                <juniu-upload-img [image]="pictureDetails" [uploadNum]="3" [syncAlipay]="syncAlipay" [bizType]="'shop'" [isClear]="isClear"
                    (img)="getPictureDetails($event)"></juniu-upload-img>
                <p class="product-tip">上传3张活动图片，推荐尺寸750*360，jpg/png/bmp格式。</p>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzXs="24" nzFor="inventory" nzSm="7" nzRequired>选择商品</nz-form-label>
            <nz-form-control nzXs="24" nzSm="12" nzMd="8">
                <nz-input-group nzSize="large" *ngIf="!shopboolean">
                    <button class="buttons" (click)="checkProduct(product)" nz-button>选择商品</button>
                </nz-input-group>
                <div class="radioBox" *ngIf="radioValue">{{radioValue.productNo}}
                    <span></span> {{radioValue.productName}}</div>
                <span *ngIf="radioValue" (click)="radioBottomFun()" class="radioBottom">删除</span>
                <p class="product-tip">请选择参与砍价的商品，一旦发布，活动期间该商品不可修改</p>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzXs="24" nzFor="inventory" nzSm="7" nzRequired>库存</nz-form-label>
            <nz-form-control nzXs="24" nzSm="12" nzMd="8">
                <nz-input-group nzSize="large">
                    <input nz-input formControlName="inventory" maxlength="8" placeholder="请设定商品库存">
                </nz-input-group>
                <p class="product-tip">选择实体商品后，设定的活动库存需小于实体商品设定库存并实时扣减</p>
                <nz-form-explain *ngIf="inventory.dirty && inventory.errors">请输入正确的库存数量(库存为正整数)</nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzXs="24" nzFor="peopleNumber" nzSm="7" nzRequired>成团人数</nz-form-label>
            <nz-form-control nzXs="24" nzSm="12" nzMd="8">
                <nz-input-group nzSize="large">
                    <div style="margin-top:10px;">
                        <span class="ctSpan">
                            <input type="radio" class="radioChecked radioChecked2" id="" *ngIf="canMofidy" (click)="ctrsFun(2)" [checked]="radiocheck" name="ctrs">
                            <input type="radio" class="radioChecked radioChecked2" *ngIf="!canMofidy" disabled (click)="ctrsFun(2)" [checked]="radiocheck"  name="ctrs"> 2 人
                        </span>
                        <span class="ctSpan" *ngFor="let item of ctArr;let ind =index;">
                            <input type="radio" class="radioChecked {{'radioChecked'+item.num}}" *ngIf="canMofidy" [checked]="item.checked" (click)="ctrsFun(item.num)" name="ctrs"> {{canMofidy?item.text:''}}
                            <input type="radio" class="radioChecked {{'radioChecked'+item.num}}" *ngIf="!canMofidy" [checked]="item.checked" disabled (click)="ctrsFun(item.num)" name="ctrs"> {{canMofidy?'':item.text}}
                        </span>
                        <input nz-input formControlName="peopleNumber" type="text"  [style.display]="ctrsBoo ? 'block' : 'none'">


                        <!-- <nz-radio-group formControlName="peopleNumber" (ngModelChange)="ctrsFun($event)" >
                            <label nz-radio [nzValue]="2">2</label>
                            <label nz-radio [nzValue]="3">3</label>
                            <label nz-radio [nzValue]="4">4</label>
                            <label nz-radio [nzValue]="'zdy'">
                                自定义
                                <input type="text" nz-input *ngIf="ctrsBoo" style="width: 100px; float:inherit !important;height: 24px;">
                            </label>
                        </nz-radio-group> -->
                    </div>
                </nz-input-group>
                <p class="product-tip">规定时间内拼团达到指定人数，则拼团成功，否则拼团失败且立即退款</p>
                <nz-form-explain *ngIf="peopleNumber.dirty && peopleNumber.errors">请填写正确的拼团人数(正整数)</nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzXs="24" nzFor="timeLimit" nzSm="7">团购限时</nz-form-label>
            <nz-form-control nzXs="24" nzSm="12" nzMd="8">
                <nz-input-group nzSize="large">
                    <input nz-input formControlName="timeLimit" maxlength="2" placeholder="请输入限购时间">
                </nz-input-group>
                <p class="product-tip">可设定成团时长，团购限时不能超过24小时，默认选择24小时成团</p>
                <nz-form-explain *ngIf="timeLimit.dirty && timeLimit.errors">限时时间在1-24之间</nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzXs="24" nzFor="originalPrice" nzSm="7" nzRequired>原价</nz-form-label>
            <nz-form-control nzXs="24" nzSm="12" nzMd="8">
                <nz-input-group nzSize="large">
                    <input nz-input type="text" onkeyup="if(value>99999)value=99999;if(value<0)value=0.01;" formControlName="originalPrice" maxlength="8" placeholder="请输入项目原价">
                </nz-input-group>
                <nz-form-explain *ngIf="originalPrice.dirty && originalPrice.errors">原价格式书写有误</nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzXs="24" nzFor="presentPrice" nzSm="7" nzRequired>拼团价 </nz-form-label>
            <nz-form-control nzXs="24" nzSm="12" nzMd="8">
                <nz-input-group nzSize="text">
                    <input nz-input type="text" onkeyup="if(value>99999)value=99999;if(value<0)value=0.01;" formControlName="presentPrice" maxlength="8" placeholder="请输入项目拼团价">
                </nz-input-group>
                <nz-form-explain *ngIf="presentPrice.dirty && presentPrice.errors">拼团价格式书写有误</nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <nz-card nzTitle="详细信息" [nzBordered]="false" [nzBodyStyle]="{'padding.px': 12}">

            <nz-form-item>
                <nz-form-label nzXs="24" nzFor="presentPrice" nzSm="7">商品详情</nz-form-label>
                <nz-form-control nzXs="24" nzSm="12" nzMd="12">
                    <juniu-upload-img [image]="pictureDetails2" [uploadNum]="5" [syncAlipay]="syncAlipay" [bizType]="'shop'" [isClear]="isClear"
                        (img)="getPictureDetails2($event)"></juniu-upload-img>
                    <p class="product-tip">最多上传5张图片，推荐尺寸750*360，jpg/png/bmp格式。</p>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzXs="24" nzFor="presentPrice" nzSm="7">活动须知</nz-form-label>
                <nz-form-control nzXs="24" nzSm="12" nzMd="12">
                    <section class="content_juniu">
                        <div class="marketing_means">
                            <div class="edit_goods_infor clearfix">
                                <ul class="clearfix">
                                    <li class="clearfix">
                                        <div class="right-block fl descriptions">
                                            <form class="descriptions_form" *ngFor="let list of buyerNotes;let j = index">
                                                <input type="text" value="" maxlength="40" *ngIf="canMofidy" class="juniu_input" [value]="list.title" (change)="getnoteTitledata(j,$event.target.value)"
                                                    placeholder="请输入标题，最多输入40个字">
                                                <input type="text" value="" maxlength="40" *ngIf="!canMofidy" disabled class="juniu_input" [value]="list.title" (change)="getnoteTitledata(j,$event.target.value)"
                                                    placeholder="请输入标题，最多输入40个字">
                                                <div class="details_list_box">
                                                    <div class="form_parent" style="position:relative;" *ngFor="let detail of list.details;let noteIndex =index">
                                                        <textarea type="text" name="details" maxlength="100" *ngIf="canMofidy" class="desc_textarea" [value]="detail.item" (change)="getnoteDetaildata(j,noteIndex,$event.target.value)"
                                                            placeholder="请输入内容，最多输入100个字，更多内容点“添加更多”"></textarea>
                                                        <textarea type="text" name="details" maxlength="100" *ngIf="!canMofidy" disabled class="desc_textarea" [value]="detail.item"
                                                            (change)="getnoteDetaildata(j,noteIndex,$event.target.value)" placeholder="请输入内容，最多输入100个字，更多内容点“添加更多”"></textarea>
                                                        <span class="descriptions_add_btn descriptions_btns" (click)="addLineNoteDetail(j)">添加更多</span>
                                                        <span class="descriptions_minus_btn descriptions_btns" (click)="deleteNoteDetail(j,noteIndex)">删除</span>
                                                    </div>
                                                </div>
                                                <p class="double_btn">
                                                    <span class="descriptions_addAll_btn" (click)="addGroupBuynote()">增加一组</span>
                                                    <span class="descriptions_minusAll_btn" (click)="pluseGroupbuyNote(j)">删除此组</span>
                                                </p>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </nz-form-control>
            </nz-form-item>
        </nz-card>
        <nz-card nzTitle="使用门店" [nzBordered]="false" [nzBodyStyle]="{'padding.px': 12}">
            <nz-form-item>
                <nz-form-label nzXs="24" nzFor="time" nzSm="7">活动日期</nz-form-label>
                <nz-form-control nzXs="24" nzSm="12" nzMd="8">
                    <nz-range-picker formControlName="time"></nz-range-picker>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzXs="24" nzFor="time2" nzSm="7">核销截止日期</nz-form-label>
                <nz-form-control nzXs="24" nzSm="12" nzMd="8">
                    <nz-date-picker formControlName="time2" (ngModelChange)="endValueChange($event)"></nz-date-picker>
                    <p class="product-tip">核销截止日期不能早于活动结束日期</p>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzXs="24" nzFor="mock" nzSm="7">模拟成团</nz-form-label>
                <nz-form-control nzXs="24" nzSm="12" nzMd="8">
                    <nz-switch formControlName="mock" [nzDisabled]="!canMofidy">
                        <span checked>开</span>
                        <span unchecked>关</span>
                    </nz-switch>
                    <p class="product-tip">开启模拟成团后，若在规定时间之前未拼团成功，系统自动匹配虚拟顾客参与拼团，使得该拼团成功</p>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item *ngIf="shopboolean">
                <nz-form-label nzXs="24" nzSm="7">选择门店</nz-form-label>
                <nz-form-control nzXs="24" nzSm="12" nzMd="8">
                    <span>{{storesChangeNum || 0}} 家门店</span>
                    <span class="space"></span>
                    <span class="select-store-btn" (click)="onSelectStoreBtnClick(storeAlert)">{{isEdit ? '新增门店' : '选择门店'}}</span>
                </nz-form-control>
            </nz-form-item>

        </nz-card>
        <nz-form-item>
            <nz-col [nzSpan]="7"> </nz-col>

            <nz-col [nzSpan]="12" *ngIf="canMofidy">
                <button class="buttons" nz-button nzType="primary" (click)="submit()" [nzLoading]="submitting" type="submit">保存并发布</button>
                <button class="buttons" nz-button (click)="return()">返回</button>
            </nz-col>

        </nz-form-item>
    </form>
</nz-card>
<ng-template #product>
    <div class="product" style="height: 400px;overflow-y: auto;">
        <p>可选商品</p>
        <div class="productBox">
            <nz-radio-group [(ngModel)]="radioValue" (ngModelChange)="radioFun()">
                <div *ngFor="let item of allProduct">
                    <div>{{item.categoryName}}</div>
                    <div class="productLabel">
                        <label nz-radio [ngStyle]="style" *ngFor="let haha of item.productList" [nzValue]="haha">{{haha.productName}}</label>
                    </div>
                </div>

            </nz-radio-group>
        </div>
    </div>
</ng-template>
<ng-template #storeAlert>
    <div class="stores" style="overflow:hidden;">
        <ul class="right-block fl store_lists">
            <li class="list">
                <p class="head_store clearfix">
                    <span class="fl select-all" (click)="selectAllShops(ifSelectAll)">
                        <input type="checkbox" [checked]="ifSelectAll" />
                        <span>全选</span>
                    </span>
                    全部门店
                </p>
                <div class="show_all_stores">
                    <div class="city-list" *ngFor="let city of cityStoreList; let cityIndex=index">
                        <!--城市-->
                        <div class="select_all_btn">
                            <input class="select_all_input" type="checkbox" [checked]="city.change" (click)="onSelectAllStoresInputClick(cityIndex, city.change)"
                            />
                            <span class="city">{{city.cityName}}</span>
                        </div>
                        <!--门店-->
                        <ul class="shop_names">
                            <li *ngFor="let store of city.stores; let storeIndex=index">
                                <input type="checkbox" [checked]="store.change" (click)="onSelectStoreInputClick(cityIndex, storeIndex)" />
                                <span>{{store.shopName}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="list">
                <p class="head_store">已选门店</p>
                <div class="selected_stores">
                    <div class="city-list bbn" *ngFor="let city of cityStoreList">
                        <div *ngIf="city.checked == true">
                            <!--城市-->
                            <div class="select_all_btn">
                                <span class="city">{{city.cityName}}</span>
                            </div>
                            <!--门店-->
                            <ul class="shop_names">
                                <li *ngFor="let store of city.stores">
                                    <span *ngIf="store.change == true">{{store.shopName}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</ng-template>
<!--门店-->
<div class="alert-order-msg-bg stores" *ngIf="showStoreSelect">
    <div class="alert-order-msg">
        <!--关闭按钮-->
        <span class="iconfont icon-tubiao06 close-alert-btn" (click)="onCloseProductTypesBtn()"></span>
        <div class="content-title">
            <span></span>选择门店</div>
        <ul class="right-block fl store_lists">
            <li class="list">
                <p class="head_store clearfix">
                    <span class="fl select-all" (click)="selectAllShops(ifSelectAll)">
                        <input type="checkbox" [checked]="ifSelectAll" />
                        <span>全选</span>
                    </span>
                    全部口碑门店
                </p>
                <div class="show_all_stores">
                    <div class="city-list" *ngFor="let city of cityStoreList; let cityIndex=index">
                        <!--城市-->
                        <div class="select_all_btn">
                            <input class="select_all_input" type="checkbox" [checked]="city.change" (click)="onSelectAllStoresInputClick(cityIndex, city.change)"
                            />
                            <span class="city">{{city.cityName}}</span>
                        </div>
                        <!--门店-->
                        <ul class="shop_names">
                            <li *ngFor="let store of city.stores; let storeIndex=index">
                                <input type="checkbox" [checked]="store.change" (click)="onSelectStoreInputClick(cityIndex, storeIndex)" />
                                <span>{{store.shopName}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="list">
                <p class="head_store">已选口碑门店</p>
                <div class="selected_stores">
                    <div class="city-list bbn" *ngFor="let city of cityStoreList">
                        <div *ngIf="city.checked == true">
                            <!--城市-->
                            <div class="select_all_btn">
                                <span class="city">{{city.cityName}}</span>
                            </div>
                            <!--门店-->
                            <ul class="shop_names">
                                <li *ngFor="let store of city.stores">
                                    <span *ngIf="store.change == true">{{store.shopName}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="save_btn_stores">
            <span class="save_btn" (click)="onStoreSaveClick()">保存</span>
        </div>
    </div>
</div>